In [61]:
%load_ext autoreload
%autoreload

import os
import sys
import random
import django
from IPython.core.debugger import set_trace
from pathlib import Path
from django.core.files.base import ContentFile
from rest_framework import serializers
from datetime import datetime
import time
from collections import Counter
import pandas as pd
import numpy as np
import random
from tqdm import tqdm_notebook

parentdir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parentdir)
django.setup()

import getch.models as m
from django.apps import apps
from django_currentuser.middleware import get_current_user
from django.db.models import F, Q, Sum, Count, Case, When, IntegerField, Value

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
%%time
tags = m.Tag.objects.all()
random.sample(list(tags.values_list('id', flat=True)), 2)

CPU times: user 4.09 ms, sys: 1.14 ms, total: 5.23 ms
Wall time: 206 ms

[1195, 2068]

In [58]:
%%time
m.Tag.objects.order_by('?')[:2].values_list('id', flat=True)

CPU times: user 121 µs, sys: 0 ns, total: 121 µs
Wall time: 124 µs

In [54]:
%%time
tags = m.Tag.objects.all()
samples = random.sample(range(0, tags.count()), 2)
tags[samples[0]], tags[samples[1]]

CPU times: user 2.73 ms, sys: 806 µs, total: 3.53 ms
Wall time: 525 ms

(<Tag: [167] clothing | 팬츠 | 와이드팬츠>, <Tag: [4231] clothing | 스커트 | 스커트>)

In [34]:
# type = models.CharField(max_length=20, null=False, blank=False)
# category = models.CharField(max_length=20, null=False, blank=False)
# item = models.CharField(max_length=20, null=False, blank=False)
# color = models.CharField(max_length=20, null=True, blank=True)
# detail = models.CharField(max_length=20, null=True, blank=True)
# pattern = models.CharField(max_length=20, null=True, blank=True) # 옴니어스 원래의 속성은 print임
# texture = models.CharField(max_length=20, null=True, blank=True)
# look = models.CharField(max_length=20, null=True, blank=True)
# length = models.CharField(max_length=20, null=True, blank=True)
# sleeve_length = models.CharField(max_length=20, null=True, blank=True)
# neckline = models.CharField(max_length=20, null=True, blank=True)
# fit = models.CharField(max_length=20, null=True, blank=True)
# shape = models.CharField(max_length=20, null=True, blank=True)
# heel_height = models.CharField(max_length=20, null=True, blank=True)
# heel_shape = models.CharField(max_length=20, null=True, blank=True)
# toe_type = models.CharField(max_length=20, null=True, blank=True)
# sole_type = models.CharField(max_length=20, null=True, blank=True)

# strap = models.BooleanField(default=False)
# size = models.CharField(max_length=20, null=True, blank=True)
# main_material = models.CharField(max_length=20, null=True, blank=True)
# sub_material = models.CharField(max_length=20, null=True, blank=True)

In [97]:
univ = [
    [10, {'type':'clothing', 'category':'캐주얼상의'}],
    [10, {'type':'clothing', 'category':'팬츠'}],
    [10, {'type':'clothing', 'category':'재킷'}],
    [10, {'type':'clothing', 'category':'니트웨어'}],
    [10, {'type':'clothing', 'category':'청바지'}],
    [10, {'type':'clothing', 'category':'스커트'}],
    [10, {'type':'clothing', 'category':'셔츠'}],
    [10, {'type':'clothing', 'category':'점퍼'}],
    [10, {'type':'clothing', 'category':'코트'}],
    [10, {'type':'clothing', 'category':'드레스'}],
    [10, {'type':'clothing', 'category':'블라우스'}],
    [10, {'type':'clothing', 'category':'탑'}],
    [10, {'type':'clothing', 'category':'패딩'}],
    [10, {'type':'clothing', 'category':'베스트'}],
    [10, {'type':'clothing', 'category':'점프수트'}],
    [10, {'type':'clothing', 'category':'수영복'}],
    
    [7, {'type':'shoes'}],
    [7, {'type':'shoes', 'category':'운동화'}],
    [7, {'type':'shoes', 'category':'부츠/워커'}],
    [7, {'type':'shoes', 'category':'로퍼'}],
    [7, {'type':'shoes', 'category':'슬리퍼'}],
    [7, {'type':'shoes', 'category':'펌프스'}],
    [7, {'type':'shoes', 'category':'정장구두'}],
    [7, {'type':'shoes', 'category':'샌들'}],
    
    [5, {'type':'bags', 'category':'가방'}],
    [1, {'type':'bags', 'category':'지갑'}],
    
    [1, {'type':'accessories', 'category':'잡화', 'item':'선글라스'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'벨트'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'안경'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'손목시계'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'머플러'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'헤어밴드'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'스카프'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'양말'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'헤어악세서리'}],
#     {'type':'accessories', 'category':'잡화', 'item':'고글'},
#     {'type':'accessories', 'category':'잡화', 'item':'넥워머'},
#     {'type':'accessories', 'category':'잡화', 'item':'넥타이'},
#     {'type':'accessories', 'category':'잡화', 'item':'타이츠스타킹'},
#     {'type':'accessories', 'category':'잡화', 'item':'암워머'},
    
    [1, {'type':'jewelries'}],
    [1, {'type':'jewelries', 'category':'목걸이'}],
    [1, {'type':'jewelries', 'category':'팔찌/발찌'}],
    [1, {'type':'jewelries', 'category':'귀걸이/피어싱'}],
    [1, {'type':'jewelries', 'category':'반지'}],
#     {'type':'jewelries', 'category':'펜던트'},
    
    [3, {'type':'hats', 'category':'모자'}],
]

In [98]:
df_choice = pd.DataFrame(univ); df_choice

     0                                                  1
0   10          {'type': 'clothing', 'category': '캐주얼상의'}
1   10             {'type': 'clothing', 'category': '팬츠'}
2   10             {'type': 'clothing', 'category': '재킷'}
3   10           {'type': 'clothing', 'category': '니트웨어'}
4   10            {'type': 'clothing', 'category': '청바지'}
5   10            {'type': 'clothing', 'category': '스커트'}
6   10             {'type': 'clothing', 'category': '셔츠'}
7   10             {'type': 'clothing', 'category': '점퍼'}
8   10             {'type': 'clothing', 'category': '코트'}
9   10            {'type': 'clothing', 'category': '드레스'}
10  10           {'type': 'clothing', 'category': '블라우스'}
11  10              {'type': 'clothing', 'category': '탑'}
12  10             {'type': 'clothing', 'category': '패딩'}
13  10            {'type': 'clothing', 'category': '베스트'}
14  10           {'type': 'clothing', 'category': '점프수트'}
15  10            {'type': 'clothing', 'category': '수영복'}
16   7                                  {'type': 'shoes'}
17   7               {'type': 'shoes', 'category': '운동화'}
18   7             {'type': 'shoes', 'category': '부츠/워커'}
19   7                {'type': 'shoes', 'category': '로퍼'}
20   7               {'type': 'shoes', 'category': '슬리퍼'}
21   7               {'type': 'shoes', 'category': '펌프스'}
22   7              {'type': 'shoes', 'category': '정장구두'}
23   7                {'type': 'shoes', 'category': '샌들'}
24   5                 {'type': 'bags', 'category': '가방'}
25   1                 {'type': 'bags', 'category': '지갑'}
26   1  {'type': 'accessories', 'category': '잡화', 'ite...
27   1  {'type': 'accessories', 'category': '잡화', 'ite...
28   1  {'type': 'accessories', 'category': '잡화', 'ite...
29   1  {'type': 'accessories', 'category': '잡화', 'ite...
30   1  {'type': 'accessories', 'category': '잡화', 'ite...
31   1  {'type': 'accessories', 'category': '잡화', 'ite...
32   1  {'type': 'accessories', 'category': '잡화', 'ite...
33   1  {'type': 'accessories', 'category': '잡화', 'ite...
34   1  {'type': 'accessories', 'category': '잡화', 'ite...
35   1                              {'type': 'jewelries'}
36   1           {'type': 'jewelries', 'category': '목걸이'}
37   1         {'type': 'jewelries', 'category': '팔찌/발찌'}
38   1       {'type': 'jewelries', 'category': '귀걸이/피어싱'}
39   1            {'type': 'jewelries', 'category': '반지'}
40   3                 {'type': 'hats', 'category': '모자'}

In [103]:
random.choices(df_choice[1], weights=df_choice[0])

[{'type': 'clothing', 'category': '블라우스'}]

In [105]:
m.Tag.objects.filter(**random.choices(df_choice[1], weights=df_choice[0])[0])

<QuerySet [<Tag: [4412] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4411] clothing | 팬츠 | 슬랙스>, <Tag: [4410] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4404] clothing | 팬츠 | 슬랙스>, <Tag: [4401] clothing | 팬츠 | 와이드팬츠>, <Tag: [4400] clothing | 팬츠 | 와이드팬츠>, <Tag: [4398] clothing | 팬츠 | 슬랙스>, <Tag: [4387] clothing | 팬츠 | 슬랙스>, <Tag: [4376] clothing | 팬츠 | 카고팬츠>, <Tag: [4375] clothing | 팬츠 | 치노팬츠>, <Tag: [4374] clothing | 팬츠 | 슬랙스>, <Tag: [4358] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4353] clothing | 팬츠 | 슬랙스>, <Tag: [4351] clothing | 팬츠 | 와이드팬츠>, <Tag: [4350] clothing | 팬츠 | 치노팬츠>, <Tag: [4349] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4347] clothing | 팬츠 | 슬랙스>, <Tag: [4345] clothing | 팬츠 | 슬랙스>, <Tag: [4341] clothing | 팬츠 | 와이드팬츠>, <Tag: [4341] clothing | 팬츠 | 슬랙스>, '...(remaining elements truncated)...']>