In [44]:
%load_ext autoreload
%autoreload

import os
import sys
import random
import django
from IPython.core.debugger import set_trace
from pathlib import Path
from django.core.files.base import ContentFile
from rest_framework import serializers
from datetime import datetime
import time
from collections import Counter
import pandas as pd
import numpy as np
import random
from tqdm import tqdm_notebook

parentdir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parentdir)
django.setup()

import getch.models as m
from django.apps import apps
from django_currentuser.middleware import get_current_user
from django.db.models import F, Q, Sum, Count, Case, When, IntegerField, Value

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
%%time
tags = m.Tag.objects.all()
random.sample(list(tags.values_list('id', flat=True)), 2)

CPU times: user 4.09 ms, sys: 1.14 ms, total: 5.23 ms
Wall time: 206 ms

[1195, 2068]

In [58]:
%%time
m.Tag.objects.order_by('?')[:2].values_list('id', flat=True)

CPU times: user 121 µs, sys: 0 ns, total: 121 µs
Wall time: 124 µs

In [54]:
%%time
tags = m.Tag.objects.all()
samples = random.sample(range(0, tags.count()), 2)
tags[samples[0]], tags[samples[1]]

CPU times: user 2.73 ms, sys: 806 µs, total: 3.53 ms
Wall time: 525 ms

(<Tag: [167] clothing | 팬츠 | 와이드팬츠>, <Tag: [4231] clothing | 스커트 | 스커트>)

In [85]:
%%time
bgr = m.BalancegameRecord.objects.exclude(tag_pos__isnull=True).select_related('tag_pos', 'tag_neg')

df_pos = pd.DataFrame([r.tag_pos.__dict__ for r in bgr])
df_neg = pd.DataFrame([r.tag_neg.__dict__ for r in bgr])

flds = [
    'type','category','item',
    'color','detail','pattern','texture','look','length','sleeve_length',
    'neckline','fit','shape','heel_height','heel_shape','toe_type','sole_type',
    'strap','size','main_material','sub_material'
]

count = {col:Counter(df_pos[col])-Counter(df_neg[col]) for col in flds }; count

CPU times: user 53.5 ms, sys: 3.66 ms, total: 57.1 ms
Wall time: 413 ms

{'type': Counter(),
 'category': Counter({'운동화': 7, '목걸이': 2}),
 'item': Counter({'컨버스': 1,
          '청바지': 2,
          '슬리퍼': 1,
          '트렌치코트': 1,
          '버킷햇': 1,
          '모피코트': 2,
          '야상': 5,
          '에코백': 2,
          '런닝화': 5,
          '무스탕': 3,
          '스니커즈': 1,
          '스커트': 3,
          '팔찌/발찌': 2,
          '재킷': 7,
          '후드': 5,
          '탱크탑': 1,
          '스웨트팬츠': 5,
          '스웨터': 5,
          '목걸이': 2,
          '토트백': 2,
          '베스트': 3,
          '플리플랍': 2,
          '플리츠스커트': 3,
          '슬립드레스': 1,
          '뷔스티에': 2,
          '클러치': 1,
          '니트베스트': 1,
          '더플코트': 1,
          '카고팬츠': 1,
          '하이탑스니커즈': 1,
          '데님재킷': 3,
          '튜닉원피스': 2,
          '배기팬츠': 1,
          '바람막이': 6,
          '캡': 1,
          '와이드팬츠': 3,
          '벨트백': 1,
          '터틀넥': 2,
          '펌프스': 2,
          '니트원피스': 2,
          '홀터넥드레스': 3,
          '원피스수영복': 1,
          '워커': 2,
          '패딩조끼': 2,
          '와이셔츠': 1,
          '멜빵원피스': 1,
          '볼레로': 1,
          '백팩': 1,
          '등산화': 1,
          '튤드레스': 1,
          '집업재킷': 1}),
 'color': Counter({'화이트': 22,
          '핑크': 4,
          '그레이': 2,
          '베이지': 10,
          '옐로우': 2,
          '민트': 2,
          '퍼플': 3,
          '라벤더': 2}),
 'detail': Counter({'레이스업': 22,
          '포켓': 16,
          '메탈버클': 2,
          '후드': 12,
          '집업': 9,
          '드롭숄더': 13,
          '페플럼': 1,
          '크로스': 1,
          '태슬': 3,
          '볼': 2,
          '시스루': 1,
          '폴더': 1,
          '밴딩': 4,
          '자수': 1,
          '보우/타이': 1,
          '프린지': 1,
          '컷오프': 4,
          '스티치': 1,
          '니트꽈배기': 2,
          '비대칭': 4,
          '깃털': 1,
          '패딩': 2,
          '드레이프': 2,
          '크리스탈': 1,
          '아트/장식': 1,
          '띠': 1}),
 'pattern': Counter({'플로럴': 7,
          '로고': 8,
          '호피': 1,
          '도트': 1,
          '스트라이프': 4,
          '체크': 4,
          '메탈릭': 3,
          '카무플라쥬': 4,
          '앱스트랙트': 1}),
 'texture': Counter({'면': 12,
          '스웨이드': 1,
          None: 3,
          '캔버스': 2,
          '고무': 2,
          '니트': 7,
          '트위드': 4,
          '메탈': 4,
          '골드': 1,
          '퍼': 2,
          '실크/사틴': 1,
          '나일론': 1,
          '코듀로이': 1}),
 'look': Counter({'캐주얼': 7,
          '페미닌': 4,
          '복고': 1,
          '아웃도어': 2,
          '프레피': 2,
          '밀리터리': 1,
          '파티': 1}),
 'length': Counter({'크롭': 1, '노멀': 14, '하프': 2, '미니': 3, '미디': 3, '보통': 3}),
 'sleeve_length': Counter({'긴팔': 4, '7부소매': 1}),
 'neckline': Counter({'라운드넥': 3,
          '스퀘어넥': 6,
          '차이나카라': 6,
          '후드': 23,
          '세일러카라': 1,
          '터틀넥': 2}),
 'fit': Counter({'오버사이즈': 21}),
 'shape': Counter({None: 1,
          '사각형': 4,
          '테이퍼드': 7,
          '벨보텀/플레어': 6,
          '원형': 2,
          '부츠컷': 1,
          '펜슬': 1,
          '페플럼': 1}),
 'heel_height': Counter({'플랫': 1, '로우힐': 8}),
 'heel_shape': Counter({None: 8, '원형굽': 3}),
 'toe_type': Counter({'라운드토': 4, '포인티토': 3}),
 'sole_type': Counter({'청키솔': 3, '리플솔': 1}),
 'strap': Counter({False: 1}),
 'size': Counter({'미디엄': 1, '라지': 1}),
 'main_material': Counter({'진주/자개': 2, '비즈': 2, '스톤': 1, '가죽': 2}),
 'sub_material': Counter({'유색원석': 3, '비즈': 1, '패브릭': 1})}

In [152]:
dfdf_pos = df_pos[flds].set_index(['type','category','item']).stack().to_frame()
dfdf_pos[1] = 1
dfdf_pos.index.names = ['type','category','item','sub']
dfdf_pos.columns = ['val', 'count']
dfdf_pos = dfdf_pos.groupby(by=['type','category','item','sub','val']).count()

In [153]:
dfdf_neg = df_neg[flds].set_index(['type','category','item']).stack().to_frame()
dfdf_neg[1] = 1
dfdf_neg.index.names = ['type','category','item','sub']
dfdf_neg.columns = ['val', 'count']
dfdf_neg = dfdf_neg.groupby(by=['type','category','item','sub','val']).count()

In [197]:
dfdf = dfdf_pos - dfdf_neg
dfdf = dfdf[dfdf['count']>0]
dfdf

                                          count
type        category item sub      val
accessories 잡화       벨트   detail   버클       1.0
                     선글라스 color    블랙       2.0
                     손목시계 color    블랙       2.0
                          pattern  무지       1.0
                          texture  메탈       1.0
...                                         ...
shoes       펌프스      펌프스  strap    False    2.0
                          texture  가죽       1.0
                                   스웨이드     1.0
                          toe_type 오픈토      3.0
                                   포인티토     4.0

[433 rows x 1 columns]

In [198]:
dfdf['count'].unstack()

val                                     버클   블랙   무지   메탈  보우/타이  앱스트랙트  \
type        category item sub
accessories 잡화       벨트   detail       1.0  NaN  NaN  NaN    NaN    NaN
                     선글라스 color        NaN  2.0  NaN  NaN    NaN    NaN
                     손목시계 color        NaN  2.0  NaN  NaN    NaN    NaN
                          pattern      NaN  NaN  1.0  NaN    NaN    NaN
                          texture      NaN  NaN  NaN  1.0    NaN    NaN
...                                    ...  ...  ...  ...    ...    ...
shoes       펌프스      펌프스  strap        NaN  NaN  NaN  NaN    NaN    NaN
                          heel_height  NaN  NaN  NaN  NaN    NaN    NaN
                          toe_type     NaN  NaN  NaN  NaN    NaN    NaN
                          heel_shape   NaN  NaN  NaN  NaN    NaN    NaN
                          sole_type    NaN  NaN  NaN  NaN    NaN    NaN

val                                    플라스틱/PVC  브라운  화이트  밴딩  ...  원형굽  플랫폼  \
type        category item sub                                  ...
accessories 잡화       벨트   detail            NaN  NaN  NaN NaN  ...  NaN  NaN
                     선글라스 color             NaN  NaN  NaN NaN  ...  NaN  NaN
                     손목시계 color             NaN  NaN  NaN NaN  ...  NaN  NaN
                          pattern           NaN  NaN  NaN NaN  ...  NaN  NaN
                          texture           NaN  NaN  NaN NaN  ...  NaN  NaN
...                                         ...  ...  ...  ..  ...  ...  ...
shoes       펌프스      펌프스  strap             NaN  NaN  NaN NaN  ...  NaN  NaN
                          heel_height       NaN  NaN  NaN NaN  ...  NaN  NaN
                          toe_type          NaN  NaN  NaN NaN  ...  NaN  NaN
                          heel_shape        NaN  NaN  NaN NaN  ...  NaN  NaN
                          sole_type         NaN  NaN  NaN NaN  ...  NaN  1.0

val                                    스틸레토굽  앵클스트랩  고무  오픈토  아몬드토  하이힐   웨지  \
type        category item sub
accessories 잡화       벨트   detail         NaN    NaN NaN  NaN   NaN  NaN  NaN
                     선글라스 color          NaN    NaN NaN  NaN   NaN  NaN  NaN
                     손목시계 color          NaN    NaN NaN  NaN   NaN  NaN  NaN
                          pattern        NaN    NaN NaN  NaN   NaN  NaN  NaN
                          texture        NaN    NaN NaN  NaN   NaN  NaN  NaN
...                                      ...    ...  ..  ...   ...  ...  ...
shoes       펌프스      펌프스  strap          NaN    NaN NaN  NaN   NaN  NaN  NaN
                          heel_height    NaN    NaN NaN  NaN   NaN  2.0  NaN
                          toe_type       NaN    NaN NaN  3.0   NaN  NaN  NaN
                          heel_shape     3.0    NaN NaN  NaN   NaN  NaN  NaN
                          sole_type      NaN    NaN NaN  NaN   NaN  NaN  1.0

val                                    포인티토
type        category item sub
accessories 잡화       벨트   detail        NaN
                     선글라스 color         NaN
                     손목시계 color         NaN
                          pattern       NaN
                          texture       NaN
...                                     ...
shoes       펌프스      펌프스  strap         NaN
                          heel_height   NaN
                          toe_type      4.0
                          heel_shape    NaN
                          sole_type     NaN

[375 rows x 97 columns]

In [202]:
maxsub = dfdf['count'].unstack().idxmax(axis=1).to_frame()
maxsub

                                           0
type        category item sub
accessories 잡화       벨트   detail          버클
                     선글라스 color           블랙
                     손목시계 color           블랙
                          pattern         무지
                          texture         메탈
...                                      ...
shoes       펌프스      펌프스  strap        False
                          heel_height    하이힐
                          toe_type      포인티토
                          heel_shape   스틸레토굽
                          sole_type      플랫폼

[375 rows x 1 columns]

In [205]:
maxsub.loc['shoes']

                               0
category item sub
로퍼       로퍼   detail          버클
              color          브라운
              texture       스웨이드
              heel_height    로우힐
              toe_type      라운드토
...                          ...
펌프스      펌프스  strap        False
              heel_height    하이힐
              toe_type      포인티토
              heel_shape   스틸레토굽
              sole_type      플랫폼

[85 rows x 1 columns]

In [140]:
pd.pivot_table(dfdf, values='count', index=['type','category','item','sub'], columns=['val'], aggfunc='count')

val                                    False  True  7부소매  A라인  H라인  T스트랩  가죽  \
type        category item sub
accessories 잡화       머플러  color          NaN   NaN   NaN  NaN  NaN   NaN NaN
                          detail         NaN   NaN   NaN  NaN  NaN   NaN NaN
                          pattern        NaN   NaN   NaN  NaN  NaN   NaN NaN
                          texture        NaN   NaN   NaN  NaN  NaN   NaN NaN
                          strap          3.0   NaN   NaN  NaN  NaN   NaN NaN
...                                      ...   ...   ...  ...  ...   ...  ..
shoes       펌프스      펌프스  heel_height    NaN   NaN   NaN  NaN  NaN   NaN NaN
                          heel_shape     NaN   NaN   NaN  NaN  NaN   NaN NaN
                          toe_type       NaN   NaN   NaN  NaN  NaN   NaN NaN
                          sole_type      NaN   NaN   NaN  NaN  NaN   NaN NaN
                          strap         12.0   NaN   NaN  NaN  NaN   NaN NaN

val                                    고무  골드  그라데이션  ...  플로럴  플리츠  핑크  하이힐  \
type        category item sub                         ...
accessories 잡화       머플러  color       NaN NaN    NaN  ...  NaN  NaN NaN  NaN
                          detail      NaN NaN    NaN  ...  NaN  NaN NaN  NaN
                          pattern     NaN NaN    NaN  ...  NaN  NaN NaN  NaN
                          texture     NaN NaN    NaN  ...  NaN  NaN NaN  NaN
                          strap       NaN NaN    NaN  ...  NaN  NaN NaN  NaN
...                                    ..  ..    ...  ...  ...  ...  ..  ...
shoes       펌프스      펌프스  heel_height NaN NaN    NaN  ...  NaN  NaN NaN  5.0
                          heel_shape  NaN NaN    NaN  ...  NaN  NaN NaN  NaN
                          toe_type    NaN NaN    NaN  ...  NaN  NaN NaN  NaN
                          sole_type   NaN NaN    NaN  ...  NaN  NaN NaN  NaN
                          strap       NaN NaN    NaN  ...  NaN  NaN NaN  NaN

val                                    하프  합성섬유  호피  홀터넥  화이트  후드
type        category item sub
accessories 잡화       머플러  color       NaN   NaN NaN  NaN  NaN NaN
                          detail      NaN   NaN NaN  NaN  NaN NaN
                          pattern     NaN   NaN NaN  NaN  NaN NaN
                          texture     NaN   1.0 NaN  NaN  NaN NaN
                          strap       NaN   NaN NaN  NaN  NaN NaN
...                                    ..   ...  ..  ...  ...  ..
shoes       펌프스      펌프스  heel_height NaN   NaN NaN  NaN  NaN NaN
                          heel_shape  NaN   NaN NaN  NaN  NaN NaN
                          toe_type    NaN   NaN NaN  NaN  NaN NaN
                          sole_type   NaN   NaN NaN  NaN  NaN NaN
                          strap       NaN   NaN NaN  NaN  NaN NaN

[925 rows x 193 columns]

In [10]:
df_pos.groupby(by=['type','category','item','color']).count()

                                 _state  id  pix_id  x  y  detail  pattern  \
type        category item color
accessories 잡화       머플러  블랙          1   1       1  1  1       1        1
                          블루          1   1       1  1  1       1        1
                          스카이블루       1   1       1  1  1       1        1
                     벨트   베이지         1   1       1  1  1       0        1
                          브라운         4   4       4  4  4       4        4
...                                 ...  ..     ... .. ..     ...      ...
shoes       펌프스      펌프스  베이지         1   1       1  1  1       1        1
                          브라운         1   1       1  1  1       1        1
                          블랙          4   4       4  4  4       4        4
                          오렌지         1   1       1  1  1       1        1
                          화이트         4   4       4  4  4       2        4

                                 texture  look  length  ...  shape  \
type        category item color                         ...
accessories 잡화       머플러  블랙           0     0       0  ...      0
                          블루           1     0       0  ...      0
                          스카이블루        1     0       0  ...      0
                     벨트   베이지          1     0       0  ...      0
                          브라운          4     0       0  ...      0
...                                  ...   ...     ...  ...    ...
shoes       펌프스      펌프스  베이지          1     0       0  ...      0
                          브라운          1     0       0  ...      0
                          블랙           4     0       0  ...      0
                          오렌지          1     0       0  ...      0
                          화이트          4     0       0  ...      0

                                 heel_height  heel_shape  toe_type  sole_type  \
type        category item color
accessories 잡화       머플러  블랙               0           0         0          0
                          블루               0           0         0          0
                          스카이블루            0           0         0          0
                     벨트   베이지              0           0         0          0
                          브라운              0           0         0          0
...                                      ...         ...       ...        ...
shoes       펌프스      펌프스  베이지              1           1         1          1
                          브라운              1           1         1          1
                          블랙               4           4         4          4
                          오렌지              1           1         1          1
                          화이트              4           4         4          4

                                 strap  size  main_material  sub_material  \
type        category item color
accessories 잡화       머플러  블랙         1     0              0             0
                          블루         1     0              0             0
                          스카이블루      1     0              0             0
                     벨트   베이지        1     0              0             0
                          브라운        4     0              0             0
...                                ...   ...            ...           ...
shoes       펌프스      펌프스  베이지        1     0              0             0
                          브라운        1     0              0             0
                          블랙         4     0              0             0
                          오렌지        1     0              0             0
                          화이트        4     0              0             0

                                 created_at
type        category item color
accessories 잡화       머플러  블랙              1
                          블루              1
                          스카이블루           1
                     벨트   베이지             1
                          브라운             4
...                                     ...
shoes       펌프스      펌프스  베이지             1
                          브라운             1
                          블랙              4
                          오렌지             1
                          화이트             4

[338 rows x 23 columns]

In [31]:
df_pos[['type','category','item','color','id']].groupby(by=['type','category','item','color']).count()

                                 id
type        category item color
accessories 잡화       머플러  블랙      1
                          블루      1
                          스카이블루   1
                     벨트   베이지     1
                          브라운     4
...                              ..
shoes       펌프스      펌프스  베이지     1
                          브라운     1
                          블랙      4
                          오렌지     1
                          화이트     4

[338 rows x 1 columns]

In [54]:
flds = [
    'color','detail','pattern','texture','look','length','sleeve_length',
    'neckline','fit','shape','heel_height','heel_shape','toe_type','sole_type',
    'strap','size','main_material','sub_material'
]

In [81]:
%%time
out = {}
target_fld = 'color'
groupby_flds = ['type','category','item'] + [target_fld]
value_flds = groupby_flds + ['id']

_df = df_pos[value_flds].groupby(by=groupby_flds).count() - df_neg[value_flds].groupby(by=groupby_flds).count()
_df = _df.dropna()
_df[_df.id>0]

CPU times: user 11.2 ms, sys: 1.42 ms, total: 12.6 ms
Wall time: 11.2 ms

                                   id
type        category item  color
accessories 잡화       선글라스  블랙     2.0
                     손목시계  블랙     2.0
                     스카프   블랙     1.0
                     안경    블랙     1.0
                     양말    브라운    1.0
...                               ...
shoes       운동화      런닝화   블랙     1.0
                     스니커즈  베이지    1.0
                           화이트    1.0
                     컨버스   블랙     2.0
            정장구두     옥스포드화 블랙     2.0

[69 rows x 1 columns]

In [66]:
%%time
_df1 = pd.pivot_table(df_pos, values='id', index=['type','category','item'], columns='color', aggfunc='count')
_df2 = pd.pivot_table(df_neg, values='id', index=['type','category','item'], columns='color', aggfunc='count')
_df1 - _df2

CPU times: user 16.4 ms, sys: 1.47 ms, total: 17.9 ms
Wall time: 16.5 ms

color                         골드  그레이  그린  네이비  라벤더  레드  민트  베이지  브라운   블랙  \
type        category item
accessories 잡화       머플러     NaN  NaN NaN  NaN  NaN NaN NaN  NaN  NaN  0.0
                     벨트      NaN  NaN NaN  NaN  NaN NaN NaN  0.0  0.0  0.0
                     선글라스    NaN  NaN NaN  NaN  NaN NaN NaN  NaN  0.0  2.0
                     손목시계    NaN  NaN NaN  NaN  NaN NaN NaN  NaN -3.0  2.0
                     스카프     NaN  0.0 NaN  NaN  NaN NaN NaN  0.0  NaN  1.0
...                           ..  ...  ..  ...  ...  ..  ..  ...  ...  ...
shoes       운동화      컨버스     NaN  NaN NaN  NaN  NaN NaN NaN  NaN  NaN  2.0
                     하이탑스니커즈 NaN  NaN NaN  NaN  NaN NaN NaN  NaN  NaN -1.0
            정장구두     옥스포드화   NaN  NaN NaN  NaN  NaN NaN NaN  NaN -4.0  2.0
            펌프스      메리제인    NaN  NaN NaN  NaN  NaN NaN NaN  NaN  NaN  NaN
                     펌프스     NaN  NaN NaN  NaN  NaN NaN NaN  NaN  0.0 -2.0

color                         블루  스카이블루  실버  옐로우  오렌지  와인  카키  퍼플  핑크  화이트
type        category item
accessories 잡화       머플러     NaN    0.0 NaN  NaN  NaN NaN NaN NaN NaN  NaN
                     벨트      NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
                     선글라스    NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
                     손목시계    NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
                     스카프     NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
...                           ..    ...  ..  ...  ...  ..  ..  ..  ..  ...
shoes       운동화      컨버스     NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
                     하이탑스니커즈 NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
            정장구두     옥스포드화   NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
            펌프스      메리제인    NaN    NaN NaN  NaN  NaN NaN NaN NaN NaN  NaN
                     펌프스     NaN    NaN NaN  NaN  0.0 NaN NaN NaN NaN  NaN

[122 rows x 20 columns]

In [91]:
sum(count.values(), Counter())

Counter({'무스탕': 1,
         '뮬': 1,
         '야상': 1,
         '캐미솔': 1,
         '캡': 1,
         '스카이블루': 2,
         '화이트': 6,
         '카키': 2,
         '베이지': 1,
         '오렌지': 1,
         '퍼플': 1,
         '브라운': 3,
         '실버': 3,
         '드롭숄더': 7,
         '컷아웃': 1,
         '포켓': 10,
         '시스루': 1,
         '스트랩': 2,
         '후드': 2,
         '집업': 1,
         '자수': 1,
         '체인': 1,
         '스트라이프': 1,
         '레터링': 2,
         '그라데이션': 1,
         '체크': 1,
         '메탈릭': 1,
         '면': 4,
         '데님': 1,
         '가죽': 2,
         None: 1,
         '메탈': 1,
         '페미닌': 4,
         '롱': 1,
         '하프': 2,
         '반팔': 4,
         '차이나카라': 2,
         '스퀘어넥': 1,
         '브이넥': 1,
         '노카라': 1,
         '오버사이즈': 18,
         '테이퍼드': 1,
         '사각형': 1,
         '아몬드토': 1})

In [80]:
df_pos[['type','category','item','detail','fit']]

        type category item detail    fit
0   clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
1   clothing    캐주얼상의  티셔츠   드롭숄더     노멀
2   clothing    캐주얼상의  티셔츠    컷아웃     노멀
3   clothing    캐주얼상의  티셔츠   드롭숄더     노멀
4   clothing    캐주얼상의  티셔츠   드롭숄더     노멀
5   clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
6   clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
7   clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
8   clothing    캐주얼상의  티셔츠   None  오버사이즈
9   clothing    캐주얼상의  티셔츠     포켓     노멀
10  clothing    캐주얼상의  티셔츠     포켓  오버사이즈
11  clothing    캐주얼상의  티셔츠    시스루     노멀
12  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
13  clothing    캐주얼상의  티셔츠   None     노멀
14  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
15  clothing    캐주얼상의  티셔츠   드롭숄더     노멀
16  clothing    캐주얼상의  티셔츠   None  오버사이즈
17  clothing    캐주얼상의  티셔츠     포켓  오버사이즈
18  clothing    캐주얼상의  티셔츠     포켓     노멀
19  clothing    캐주얼상의  티셔츠   None     노멀
20  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
21  clothing    캐주얼상의  티셔츠   None     노멀
22  clothing    캐주얼상의  티셔츠    스트랩  오버사이즈
23  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
24  clothing    캐주얼상의  티셔츠    스트랩     노멀
25  clothing    캐주얼상의  티셔츠   None     노멀
26  clothing    캐주얼상의  티셔츠   None  오버사이즈
27  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
28  clothing    캐주얼상의  티셔츠     포켓  오버사이즈
29  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
30  clothing    캐주얼상의  티셔츠   None     노멀
31  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
32  clothing    캐주얼상의  티셔츠     후드     노멀
33  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈
34  clothing    캐주얼상의  티셔츠   드롭숄더     노멀
35  clothing    캐주얼상의  티셔츠   드롭숄더     노멀
36  clothing    캐주얼상의  티셔츠   드롭숄더  오버사이즈

In [34]:
# type = models.CharField(max_length=20, null=False, blank=False)
# category = models.CharField(max_length=20, null=False, blank=False)
# item = models.CharField(max_length=20, null=False, blank=False)
# color = models.CharField(max_length=20, null=True, blank=True)
# detail = models.CharField(max_length=20, null=True, blank=True)
# pattern = models.CharField(max_length=20, null=True, blank=True) # 옴니어스 원래의 속성은 print임
# texture = models.CharField(max_length=20, null=True, blank=True)
# look = models.CharField(max_length=20, null=True, blank=True)
# length = models.CharField(max_length=20, null=True, blank=True)
# sleeve_length = models.CharField(max_length=20, null=True, blank=True)
# neckline = models.CharField(max_length=20, null=True, blank=True)
# fit = models.CharField(max_length=20, null=True, blank=True)
# shape = models.CharField(max_length=20, null=True, blank=True)
# heel_height = models.CharField(max_length=20, null=True, blank=True)
# heel_shape = models.CharField(max_length=20, null=True, blank=True)
# toe_type = models.CharField(max_length=20, null=True, blank=True)
# sole_type = models.CharField(max_length=20, null=True, blank=True)

# strap = models.BooleanField(default=False)
# size = models.CharField(max_length=20, null=True, blank=True)
# main_material = models.CharField(max_length=20, null=True, blank=True)
# sub_material = models.CharField(max_length=20, null=True, blank=True)

In [97]:
univ = [
    [10, {'type':'clothing', 'category':'캐주얼상의'}],
    [10, {'type':'clothing', 'category':'팬츠'}],
    [10, {'type':'clothing', 'category':'재킷'}],
    [10, {'type':'clothing', 'category':'니트웨어'}],
    [10, {'type':'clothing', 'category':'청바지'}],
    [10, {'type':'clothing', 'category':'스커트'}],
    [10, {'type':'clothing', 'category':'셔츠'}],
    [10, {'type':'clothing', 'category':'점퍼'}],
    [10, {'type':'clothing', 'category':'코트'}],
    [10, {'type':'clothing', 'category':'드레스'}],
    [10, {'type':'clothing', 'category':'블라우스'}],
    [10, {'type':'clothing', 'category':'탑'}],
    [10, {'type':'clothing', 'category':'패딩'}],
    [10, {'type':'clothing', 'category':'베스트'}],
    [10, {'type':'clothing', 'category':'점프수트'}],
    [10, {'type':'clothing', 'category':'수영복'}],
    
    [7, {'type':'shoes'}],
    [7, {'type':'shoes', 'category':'운동화'}],
    [7, {'type':'shoes', 'category':'부츠/워커'}],
    [7, {'type':'shoes', 'category':'로퍼'}],
    [7, {'type':'shoes', 'category':'슬리퍼'}],
    [7, {'type':'shoes', 'category':'펌프스'}],
    [7, {'type':'shoes', 'category':'정장구두'}],
    [7, {'type':'shoes', 'category':'샌들'}],
    
    [5, {'type':'bags', 'category':'가방'}],
    [1, {'type':'bags', 'category':'지갑'}],
    
    [1, {'type':'accessories', 'category':'잡화', 'item':'선글라스'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'벨트'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'안경'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'손목시계'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'머플러'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'헤어밴드'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'스카프'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'양말'}],
    [1, {'type':'accessories', 'category':'잡화', 'item':'헤어악세서리'}],
#     {'type':'accessories', 'category':'잡화', 'item':'고글'},
#     {'type':'accessories', 'category':'잡화', 'item':'넥워머'},
#     {'type':'accessories', 'category':'잡화', 'item':'넥타이'},
#     {'type':'accessories', 'category':'잡화', 'item':'타이츠스타킹'},
#     {'type':'accessories', 'category':'잡화', 'item':'암워머'},
    
    [1, {'type':'jewelries'}],
    [1, {'type':'jewelries', 'category':'목걸이'}],
    [1, {'type':'jewelries', 'category':'팔찌/발찌'}],
    [1, {'type':'jewelries', 'category':'귀걸이/피어싱'}],
    [1, {'type':'jewelries', 'category':'반지'}],
#     {'type':'jewelries', 'category':'펜던트'},
    
    [3, {'type':'hats', 'category':'모자'}],
]

In [98]:
df_choice = pd.DataFrame(univ); df_choice

     0                                                  1
0   10          {'type': 'clothing', 'category': '캐주얼상의'}
1   10             {'type': 'clothing', 'category': '팬츠'}
2   10             {'type': 'clothing', 'category': '재킷'}
3   10           {'type': 'clothing', 'category': '니트웨어'}
4   10            {'type': 'clothing', 'category': '청바지'}
5   10            {'type': 'clothing', 'category': '스커트'}
6   10             {'type': 'clothing', 'category': '셔츠'}
7   10             {'type': 'clothing', 'category': '점퍼'}
8   10             {'type': 'clothing', 'category': '코트'}
9   10            {'type': 'clothing', 'category': '드레스'}
10  10           {'type': 'clothing', 'category': '블라우스'}
11  10              {'type': 'clothing', 'category': '탑'}
12  10             {'type': 'clothing', 'category': '패딩'}
13  10            {'type': 'clothing', 'category': '베스트'}
14  10           {'type': 'clothing', 'category': '점프수트'}
15  10            {'type': 'clothing', 'category': '수영복'}
16   7                                  {'type': 'shoes'}
17   7               {'type': 'shoes', 'category': '운동화'}
18   7             {'type': 'shoes', 'category': '부츠/워커'}
19   7                {'type': 'shoes', 'category': '로퍼'}
20   7               {'type': 'shoes', 'category': '슬리퍼'}
21   7               {'type': 'shoes', 'category': '펌프스'}
22   7              {'type': 'shoes', 'category': '정장구두'}
23   7                {'type': 'shoes', 'category': '샌들'}
24   5                 {'type': 'bags', 'category': '가방'}
25   1                 {'type': 'bags', 'category': '지갑'}
26   1  {'type': 'accessories', 'category': '잡화', 'ite...
27   1  {'type': 'accessories', 'category': '잡화', 'ite...
28   1  {'type': 'accessories', 'category': '잡화', 'ite...
29   1  {'type': 'accessories', 'category': '잡화', 'ite...
30   1  {'type': 'accessories', 'category': '잡화', 'ite...
31   1  {'type': 'accessories', 'category': '잡화', 'ite...
32   1  {'type': 'accessories', 'category': '잡화', 'ite...
33   1  {'type': 'accessories', 'category': '잡화', 'ite...
34   1  {'type': 'accessories', 'category': '잡화', 'ite...
35   1                              {'type': 'jewelries'}
36   1           {'type': 'jewelries', 'category': '목걸이'}
37   1         {'type': 'jewelries', 'category': '팔찌/발찌'}
38   1       {'type': 'jewelries', 'category': '귀걸이/피어싱'}
39   1            {'type': 'jewelries', 'category': '반지'}
40   3                 {'type': 'hats', 'category': '모자'}

In [103]:
random.choices(df_choice[1], weights=df_choice[0])

[{'type': 'clothing', 'category': '블라우스'}]

In [105]:
m.Tag.objects.filter(**random.choices(df_choice[1], weights=df_choice[0])[0])

<QuerySet [<Tag: [4412] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4411] clothing | 팬츠 | 슬랙스>, <Tag: [4410] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4404] clothing | 팬츠 | 슬랙스>, <Tag: [4401] clothing | 팬츠 | 와이드팬츠>, <Tag: [4400] clothing | 팬츠 | 와이드팬츠>, <Tag: [4398] clothing | 팬츠 | 슬랙스>, <Tag: [4387] clothing | 팬츠 | 슬랙스>, <Tag: [4376] clothing | 팬츠 | 카고팬츠>, <Tag: [4375] clothing | 팬츠 | 치노팬츠>, <Tag: [4374] clothing | 팬츠 | 슬랙스>, <Tag: [4358] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4353] clothing | 팬츠 | 슬랙스>, <Tag: [4351] clothing | 팬츠 | 와이드팬츠>, <Tag: [4350] clothing | 팬츠 | 치노팬츠>, <Tag: [4349] clothing | 팬츠 | 스웨트팬츠>, <Tag: [4347] clothing | 팬츠 | 슬랙스>, <Tag: [4345] clothing | 팬츠 | 슬랙스>, <Tag: [4341] clothing | 팬츠 | 와이드팬츠>, <Tag: [4341] clothing | 팬츠 | 슬랙스>, '...(remaining elements truncated)...']>