In [113]:
%load_ext autoreload
%autoreload

import io
import os
import sys
import django
import glob
import json
import re
import requests
from IPython.core.debugger import set_trace
from pathlib import Path
from django.core.files.base import ContentFile
from rest_framework import serializers
from tqdm.notebook import tqdm
from google.cloud import vision
from google.cloud import storage
from PIL import Image, ImageSequence
from gensim.models import Doc2Vec
from IPython.core.debugger import set_trace
import IPython
import collections
from googletrans import Translator
from google.cloud import translate_v2 as translate

parentdir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parentdir)
django.setup()

import getch.models as m
from django.db.models import F, Q, Sum, Count, Case, When, IntegerField, Value
from django.apps import apps
from django_currentuser.middleware import get_current_user
from datetime import datetime, timedelta
import time
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [114]:
# trans = m.Transaction.objects.select_related('sender','receiver'); trans
trans = m.Transaction.objects.select_related(
    'sender',
    'sender__boo','sender__boo__user',
    'sender__raffle','sender__raffle__item',
    'sender__shoptem','sender__shoptem__item',
    'sender__coffeecoupon','sender__coffeecoupon__item',
    'sender__support','sender__support__brand',
    'receiver',
    'receiver__boo','receiver__boo__user',
    'receiver__raffle','receiver__raffle__item',
    'receiver__support','receiver__support__brand',
    'receiver__shoptem','receiver__shoptem__item',
    'receiver__coffeecoupon','receiver__coffeecoupon__item',
); trans

<QuerySet [<Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > STARBUCKS LAMP BK - 0 | 2021-08-07 20:37:53>, <Transaction: quantlab | quantlab@kakao.com > TAW&TOE ZEROVITY™ Flip Flop, SIZE M - 38000 | 2021-08-07 23:34:16>, <Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > JOHNBER | 존버 스포츠 | 2021-08-10 18:02:20>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > NEW BALANCE 327, SIZE 240 - 109000 | 2021-08-10 21:38:13>, <Transaction: quantlab | quantlab@kakao.com > TOUCHGROUND | 터치그라운드 | 2021-08-08 14:43:11>, <Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > 스타벅스아이스 카페 아메리카노 T - 4100 | 2021-08-11 17:49:38>, <Transaction: 모이버 | moiber@moiber.com > quantlab | quantlab@kakao.com>, <Transaction: 모이버 | moiber@moiber.com > quantlab | quantlab@kakao.com>, <Transaction: 모이버 | moiber@moiber.com > quantlab | quantlab@kakao.com>, <Transaction: 모이버 | moiber@moiber.com > quantlab | quantlab@kakao.com>, '...(remaining elements truncated)...']>

# 모든 트랜젝션 가져오기

In [115]:
trans_list = []
for _t in trans:
    tr = {}
    tr_type = _t.get_type_display()
    tr['user'] = str(_t.sender) if tr_type in ['래플','후원'] else str(_t.receiver)
    tr['when'] = str(_t.when.date())
    tr['type'] = tr_type
    tr['amount'] = -_t.amount if tr_type in ['래플','후원'] else _t.amount
    trans_list.append(tr)

# 트랜젝션 횟수 시계열

In [152]:
counts = pd.DataFrame(trans_list).groupby(['user','type','when']).count().unstack().fillna(0)
counts = counts.groupby('type').sum()[counts.columns[-23:-1]].drop(['첫방문환영','쇼핑','커피쿠폰','테스트 INFLOW']).astype('int64')
#counts.style.set_table_attributes('style="font-size: 10px"')
counts.T

type               관심스타일입력  관심아이템입력  기본정보입력  래플  리서치참여  매일밸런스게임  옷장넣기  출첵게임  \
       when
amount 2021-09-13        0        0       3   0     32      402     0    30
       2021-09-14        1        0       0   0      6      243     0    18
       2021-09-15        0        0       2   3     23      499     0    19
       2021-09-16        1        1       3   2     80      712     2    27
       2021-09-17        0        0       2  12     18     1000     3    37
       2021-09-18        1        1      10   7     58      639     4    21
       2021-09-19        1        1       1  13     30      751     6    15
       2021-09-20        0        0       0   0      8      819     1    16
       2021-09-21        0        0       2   1     33      775     1    24
       2021-09-22        0        0       3   2     19      886     3    25
       2021-09-23        0        0       2   1     28     1041     4    28
       2021-09-24        2        2       4   5     42      988     2    21
       2021-09-25        0        0       2   4     37     1167     2    26
       2021-09-26        2        2       4   4     41     1118     0    32
       2021-09-27        2        1       4   2     36      853     1    20
       2021-09-28        1        1       3   3     40      918     3    41
       2021-09-29        1        1       3   1     42     1080     2    33
       2021-09-30        2        2       7   3    119     2048     1    52
       2021-10-01        1        1       6   9     70     1696     0    61
       2021-10-02        0        0       1   5     16     1683     1    31
       2021-10-03        1        1       0   2     23     1746     2    25
       2021-10-04        0        0       0   1     19     1616     5    30

type               후원
       when
amount 2021-09-13   0
       2021-09-14   0
       2021-09-15   5
       2021-09-16   6
       2021-09-17   3
       2021-09-18   0
       2021-09-19   0
       2021-09-20   0
       2021-09-21   0
       2021-09-22   0
       2021-09-23   0
       2021-09-24   0
       2021-09-25   1
       2021-09-26   0
       2021-09-27   0
       2021-09-28   1
       2021-09-29   1
       2021-09-30   0
       2021-10-01   0
       2021-10-02   0
       2021-10-03   0
       2021-10-04   0

# 트랜젝션 금액 시계열

In [153]:
amounts = pd.DataFrame(trans_list).groupby(['user','type','when']).sum().unstack().fillna(0)
amounts = amounts.groupby('type').sum()[amounts.columns[-23:-1]].drop(['첫방문환영','쇼핑','커피쿠폰','테스트 INFLOW']).astype('int64')
#amounts.style.set_table_attributes('style="font-size: 10px"')
amounts.T

type               관심스타일입력  관심아이템입력  기본정보입력    래플  리서치참여  매일밸런스게임  옷장넣기  출첵게임  \
       when
amount 2021-09-13        0        0     300     0   3640      400     0   240
       2021-09-14       50        0       0     0    180      243     0   140
       2021-09-15        0        0     200  -288   2020      475     0   130
       2021-09-16       50       50     300  -143   8010      700     2   230
       2021-09-17        0        0     200 -1050   2140      900     3   230
       2021-09-18       50       50     400  -641   6270      635     4   190
       2021-09-19       50       50     100 -1398   2770      685     6   110
       2021-09-20        0        0       0     0    510      801     1   140
       2021-09-21        0        0     200   -77   3670      735     1   180
       2021-09-22        0        0     300  -222   1380      846     3   210
       2021-09-23        0        0     200   -77   2980      973     4   200
       2021-09-24      100      100     400  -464   4440      976     2   170
       2021-09-25        0        0     200  -398   3770     1135     2   200
       2021-09-26      100      100     400  -410   3890     1098     0   240
       2021-09-27      100       50     400  -210   3170      831     1   200
       2021-09-28       50       50     300  -288   4550      808     3   310
       2021-09-29       50       50     300   -77   4790     1060     2   290
       2021-09-30      100      100     700  -265  13060     1662     1   460
       2021-10-01       50       50     600  -875   6640     1442     0   490
       2021-10-02        0        0     100  -500   1460     1361     1   250
       2021-10-03       50       50       0  -222   2500     1434     2   230
       2021-10-04        0        0       0  -111   2420     1364     5   260

type                후원
       when
amount 2021-09-13    0
       2021-09-14    0
       2021-09-15 -500
       2021-09-16 -600
       2021-09-17 -300
       2021-09-18    0
       2021-09-19    0
       2021-09-20    0
       2021-09-21    0
       2021-09-22    0
       2021-09-23    0
       2021-09-24    0
       2021-09-25 -100
       2021-09-26    0
       2021-09-27    0
       2021-09-28 -100
       2021-09-29 -100
       2021-09-30    0
       2021-10-01    0
       2021-10-02    0
       2021-10-03    0
       2021-10-04    0

# 가입자수 추이

In [142]:
qrs = m.User.objects.filter(date_joined__gte='2021-09-13').values('date_joined__date').annotate(count=Count('date_joined__date'))

In [143]:
pd.DataFrame(qrs).set_index('date_joined__date').sort_index(ascending=True).iloc[:-1]

                   count
date_joined__date
2021-09-13             9
2021-09-14             3
2021-09-15             7
2021-09-16            14
2021-09-17            13
2021-09-18            10
2021-09-19             7
2021-09-20             6
2021-09-21            12
2021-09-22            11
2021-09-23             5
2021-09-24             8
2021-09-25             9
2021-09-26            12
2021-09-27            10
2021-09-28            15
2021-09-29            12
2021-09-30            27
2021-10-01            21
2021-10-02             2
2021-10-03             2
2021-10-04             1

# 서베이별 참여자수

In [27]:
_boos = m.Boo.objects.filter(answers__has_key='12')

In [32]:
_boos[10].answers

{'7': {'47': [0],
  '48': [1],
  '49': [1],
  '50': [0],
  '51': [0],
  '172': [0],
  '173': [1],
  '174': [0],
  '176': [1],
  '177': [0],
  '178': [0],
  '180': [1],
  '181': [1],
  '182': [1],
  '183': [0],
  'finished': True},
 '12': {'80': [0],
  '81': [1],
  '82': [0],
  '83': [1],
  '84': [1],
  '85': ['티'],
  '86': ['ㅇ'],
  '87': [1],
  '88': [1],
  '89': [1],
  'finished': True},
 '19': {'238': [1], '239': [0], '240': [0], 'finished': True}}

In [ ]:
배드보이 4
터치그라운드 5
존버 6
포스토 7
브라스보트 8

비오는날 취향분석 9
슬기로운 캠필생활 10
나에게 딱 맞는 주말 베스트 코디 12
내 휴가 스타일 14
핫서머에 입기 좋은 핫팬츠 취향조사 15
구두취향 본격탐구 17
내 백 취향 18
요즘 막 당신의 관심사 19
비오는날 샌들 취향조사 20
어느 브랜드 좋아해 22
올가을 트랜드 조사 신발편 23
가을 유니폼 후디 맨투맨 고르기 24
부츠 이렇게 신어야지 25
이번 fw 뭐 신지 26

In [33]:
m.Boo.objects.filter(answers__has_key='4').count()

67

In [47]:
pd.DataFrame({
    '배드보이': [m.Boo.objects.filter(answers__has_key='4').count()],
    '터치그라운드': [m.Boo.objects.filter(answers__has_key='5').count()],
    '존버': [m.Boo.objects.filter(answers__has_key='6').count()],
    '포스토': [m.Boo.objects.filter(answers__has_key='7').count()],
    '브라스보트': [m.Boo.objects.filter(answers__has_key='8').count()],
    
    '비오는날 취향분석': [m.Boo.objects.filter(answers__has_key='9').count()],
    '슬기로운 캠핑생활': [m.Boo.objects.filter(answers__has_key='10').count()],
    '주말 베스트 코디': [m.Boo.objects.filter(answers__has_key='12').count()],
    '내 휴가 스타일': [m.Boo.objects.filter(answers__has_key='14').count()],
    '핫팬츠 취향조사': [m.Boo.objects.filter(answers__has_key='15').count()],
    '구두취향 본격탐구': [m.Boo.objects.filter(answers__has_key='17').count()],
    '내 백 취향': [m.Boo.objects.filter(answers__has_key='18').count()],
    '요즘 막 당신의 관심사': [m.Boo.objects.filter(answers__has_key='19').count()],
    '샌들 취향조사': [m.Boo.objects.filter(answers__has_key='20').count()],
    '어느 브랜드 좋아해': [m.Boo.objects.filter(answers__has_key='22').count()],
    '올가을 트랜드 조사 신발편': [m.Boo.objects.filter(answers__has_key='23').count()],
    '가을 유니폼 후디 맨투맨 고르기': [m.Boo.objects.filter(answers__has_key='24').count()],
    '부츠 이렇게 신어야지': [m.Boo.objects.filter(answers__has_key='25').count()]
}).T

                    0
배드보이               67
터치그라운드             53
존버                 47
포스토                67
브라스보트              53
비오는날 취향분석          53
슬기로운 캠핑생활          56
주말 베스트 코디          60
내 휴가 스타일           33
핫팬츠 취향조사           16
구두취향 본격탐구          36
내 백 취향             45
요즘 막 당신의 관심사       36
샌들 취향조사            40
어느 브랜드 좋아해         58
올가을 트랜드 조사 신발편     60
가을 유니폼 후디 맨투맨 고르기  67
부츠 이렇게 신어야지        77

In [39]:
pd.DataFrame({'a':[1], 'b':[2]})

   a  b
0  1  2

# 포인트 현황

In [144]:
memb_list = ['quantlab@kakao.com',
'gem763@gmail.com',
'sejin76@nate.com',
'magrittelim@gmail.com',
'magrittelim@naver.com',
'smilekhm@gmail.com',
'hmkoo@kakao.com',
'giseok1929@daum.net',
'gentlebaek89@gmail.com',
'leesuyong@hotmail.com']

In [145]:
wallet_stat = []
for w in tqdm(m.Wallet.objects.all()[:]):
    if w.whose_type == 'boo':
        wallet_stat.append({
            'whose': str(w.whose), 
            'n_transaction': w.n_transaction, 
            'inflow': w.inflow, 
            'outflow': w.outflow, 
            'amount': w.amount
        })

  0%|          | 0/374 [00:00<?, ?it/s]

In [146]:
wallet_stat

[{'whose': 'quantlab | quantlab@kakao.com',
  'n_transaction': 688,
  'inflow': 53711,
  'outflow': 5485,
  'amount': 48226},
 {'whose': '모이버 | moiber@moiber.com',
  'n_transaction': 34825,
  'inflow': 0,
  'outflow': 537867,
  'amount': -537867},
 {'whose': '홈마 | quantlab@kakao.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Seoul_domestic_m | magrittelim@gmail.com',
  'n_transaction': 1260,
  'inflow': 104546,
  'outflow': 23299,
  'amount': 81247},
 {'whose': 'minimal_ootd | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'giseok1929 | giseok1929@daum.net',
  'n_transaction': 248,
  'inflow': 53420,
  'outflow': 1538,
  'amount': 51882},
 {'whose': 'gentlebaek89 | gentlebaek89@gmail.com',
  'n_transaction': 1446,
  'inflow': 54540,
  'outflow': 0,
  'amount': 54540},
 {'whose': 'smilekhm | smilekhm@gmail.com',
  'n_transaction': 220,
  'inflow': 52292,
  'outflow': 4754,
  'amount': 47538},
 {'whose': 'Seoul_domestic_b | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'SEOUL_domestic_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'hrjjeon | hrjjeon@gmail.com',
  'n_transaction': 8,
  'inflow': 8,
  'outflow': 0,
  'amount': 8},
 {'whose': 'J.K. Maisine | bluenzin@gmail.com',
  'n_transaction': 140,
  'inflow': 2076,
  'outflow': 0,
  'amount': 2076},
 {'whose': 'temp | temp@daum.net',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'hoo_u | xogh8939@kakao.com',
  'n_transaction': 45,
  'inflow': 1018,
  'outflow': 576,
  'amount': 442},
 {'whose': 'eatself | eatself@naver.com',
  'n_transaction': 52,
  'inflow': 852,
  'outflow': 0,
  'amount': 852},
 {'whose': 'xogh8939 | xogh8939@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'jhepark | jhepark@npinvestment.co.kr',
  'n_transaction': 32,
  'inflow': 1634,
  'outflow': 711,
  'amount': 923},
 {'whose': '모이버 | contact@moiber.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'street_snap_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Street_hound | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': '슈프림걸 | angelica.yum@gmail.com',
  'n_transaction': 441,
  'inflow': 2501,
  'outflow': 0,
  'amount': 2501},
 {'whose': 'leesuyong | leesuyong@hotmail.com',
  'n_transaction': 525,
  'inflow': 52745,
  'outflow': 11885,
  'amount': 40860},
 {'whose': '부캐 없~~다 | gap1212@naver.com',
  'n_transaction': 361,
  'inflow': 3014,
  'outflow': 111,
  'amount': 2903},
 {'whose': 'ssbae | ssbae@kakao.com',
  'n_transaction': 100,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': '30632phb | 30632phb@naver.com',
  'n_transaction': 13,
  'inflow': 350,
  'outflow': 0,
  'amount': 350},
 {'whose': 'Seoul_domestic_h | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rainycoke | rainycoke@kakao.com',
  'n_transaction': 2,
  'inflow': 330,
  'outflow': 0,
  'amount': 330},
 {'whose': 'BRAND | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rullu_go | rullu_go@naver.com',
  'n_transaction': 1,
  'inflow': 30,
  'outflow': 0,
  'amount': 30},
 {'whose': 'spacewz83 | spacewz83@naver.com',
  'n_transaction': 106,
  'inflow': 440,
  'outflow': 209,
  'amount': 231},
 {'whose': 'ssopie1 | ssopie1@naver.com',
  'n_transaction': 6,
  'inflow': 212,
  'outflow': 0,
  'amount': 212},
 {'whose': '존잘 | hrjeon@hanmail.net',
  'n_transaction': 14,
  'inflow': 1082,
  'outflow': 100,
  'amount': 982},
 {'whose': 'hmkoo | hmkoo@kakao.com',
  'n_transaction': 114,
  'inflow': 451,
  'outflow': 0,
  'amount': 451},
 {'whose': 'Celeb_snaps_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'park_dongho02 | park_dongho02@eland.co.kr',
  'n_transaction': 25,
  'inflow': 661,
  'outflow': 0,
  'amount': 661},
 {'whose': '초보에용 | magrittelim@naver.com',
  'n_transaction': 9,
  'inflow': 18,
  'outflow': 0,
  'amount': 18},
 {'whose': 'jay_0117tak | jay_0117tak@yahoo.co.kr',
  'n_transaction': 105,
  'inflow': 750,
  'outflow': 0,
  'amount': 750},
 {'whose': 'yangjee1207 | yangjee1207@hanmail.net',
  'n_transaction': 100,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'young_ee81 | young_ee81@hotmail.com',
  'n_transaction': 3,
  'inflow': 340,
  'outflow': 0,
  'amount': 340},
 {'whose': 'soulman80 | soulman80@naver.com',
  'n_transaction': 24,
  'inflow': 727,
  'outflow': 0,
  'amount': 727},
 {'whose': 'pbc97020 | pbc97020@naver.com',
  'n_transaction': 5,
  'inflow': 5,
  'outflow': 0,
  'amount': 5},
 {'whose': 'dreamistar7 | dreamistar7@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'liokjkr | liokjkr@nate.com',
  'n_transaction': 77,
  'inflow': 2089,
  'outflow': 0,
  'amount': 2089},
 {'whose': 'thfk3333 | thfk3333@gmail.com',
  'n_transaction': 2,
  'inflow': 310,
  'outflow': 0,
  'amount': 310},
 {'whose': 'yupbi2 | yupbi2@naver.com',
  'n_transaction': 1,
  'inflow': 300,
  'outflow': 0,
  'amount': 300},
 {'whose': 'slue696 | slue696@naver.com',
  'n_transaction': 115,
  'inflow': 500,
  'outflow': 0,
  'amount': 500},
 {'whose': 'sye.roh | sye.roh@gmail.com',
  'n_transaction': 10,
  'inflow': 733,
  'outflow': 111,
  'amount': 622},
 {'whose': 'lolol.kalee | lolol.kalee@gmail.com',
  'n_transaction': 48,
  'inflow': 385,
  'outflow': 0,
  'amount': 385},
 {'whose': 'youngsunlee | youngsunlee@kakao.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'ssopie | ssopie@gmail.com',
  'n_transaction': 118,
  'inflow': 1580,
  'outflow': 464,
  'amount': 1116},
 {'whose': 'cuorange | cuorange@ithcity.com',
  'n_transaction': 39,
  'inflow': 437,
  'outflow': 0,
  'amount': 437},
 {'whose': 'goosriya | goosriya@gmail.com',
  'n_transaction': 37,
  'inflow': 104,
  'outflow': 0,
  'amount': 104},
 {'whose': 'holykorea | holykorea@paran.com',
  'n_transaction': 103,
  'inflow': 420,
  'outflow': 0,
  'amount': 420},
 {'whose': 'selectshop_md | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'seyoungne | seyoungne@naver.com',
  'n_transaction': 31,
  'inflow': 377,
  'outflow': 0,
  'amount': 377},
 {'whose': 'patima506 | patima506@hotmail.com',
  'n_transaction': 230,
  'inflow': 691,
  'outflow': 0,
  'amount': 691},
 {'whose': 'soyeonc1126 | soyeonc1126@gmail.com',
  'n_transaction': 374,
  'inflow': 2650,
  'outflow': 200,
  'amount': 2450},
 {'whose': 'sw4588 | sw4588@naver.com',
  'n_transaction': 4056,
  'inflow': 5200,
  'outflow': 4100,
  'amount': 1100},
 {'whose': 'hongik07 | hongik07@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'wonjun_k | wonjun_k@hotmail.com',
  'n_transaction': 35,
  'inflow': 633,
  'outflow': 0,
  'amount': 633},
 {'whose': 'eunykg | eunykg@nate.com',
  'n_transaction': 19,
  'inflow': 733,
  'outflow': 0,
  'amount': 733},
 {'whose': 'dkim43 | dkim43@pratt.edu',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'Trend_cardet_h | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'jupark0313 | jupark0313@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Seoul_celebrity_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'daeik | daeik@naver.com',
  'n_transaction': 5,
  'inflow': 30,
  'outflow': 0,
  'amount': 30},
 {'whose': 'jueun0618 | jueun0618@gmail.com',
  'n_transaction': 22,
  'inflow': 223,
  'outflow': 66,
  'amount': 157},
 {'whose': 'se05021 | se05021@naver.com',
  'n_transaction': 47,
  'inflow': 1128,
  'outflow': 99,
  'amount': 1029},
 {'whose': 'isjm0828 | isjm0828@hanmail.net',
  'n_transaction': 36,
  'inflow': 827,
  'outflow': 0,
  'amount': 827},
 {'whose': 'dudud1206 | dudud1206@naver.com',
  'n_transaction': 98,
  'inflow': 505,
  'outflow': 0,
  'amount': 505},
 {'whose': 'easyname49 | easyname49@naver.com',
  'n_transaction': 27,
  'inflow': 362,
  'outflow': 0,
  'amount': 362},
 {'whose': 'omupingu | omupingu@naver.com',
  'n_transaction': 20,
  'inflow': 328,
  'outflow': 0,
  'amount': 328},
 {'whose': '212me2u2 | 212me2u2@hanmail.net',
  'n_transaction': 3,
  'inflow': 430,
  'outflow': 0,
  'amount': 430},
 {'whose': 'st37372 | st37372@daum.net',
  'n_transaction': 3,
  'inflow': 12,
  'outflow': 0,
  'amount': 12},
 {'whose': '9410252 | 9410252@naver.com',
  'n_transaction': 16,
  'inflow': 170,
  'outflow': 0,
  'amount': 170},
 {'whose': 'luv4sky | luv4sky@naver.com',
  'n_transaction': 225,
  'inflow': 2282,
  'outflow': 0,
  'amount': 2282},
 {'whose': 'mini_daily | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'people0917 | people0917@naver.com',
  'n_transaction': 25,
  'inflow': 1660,
  'outflow': 0,
  'amount': 1660},
 {'whose': 'shp7408 | shp7408@naver.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'wkdsks9999 | wkdsks9999@naver.com',
  'n_transaction': 102,
  'inflow': 430,
  'outflow': 0,
  'amount': 430},
 {'whose': '까불덜마 | gem763@gmail.com',
  'n_transaction': 13,
  'inflow': 330,
  'outflow': 0,
  'amount': 330},
 {'whose': 'msmania4 | msmania4@naver.com',
  'n_transaction': 10,
  'inflow': 57,
  'outflow': 0,
  'amount': 57},
 {'whose': 'fredasd0120 | fredasd0120@gmail.com',
  'n_transaction': 43,
  'inflow': 511,
  'outflow': 387,
  'amount': 124},
 {'whose': 'mgmj4456 | mgmj4456@naver.com',
  'n_transaction': 23,
  'inflow': 472,
  'outflow': 365,
  'amount': 107},
 {'whose': 'leeck722 | leeck722@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'ruintears | ruintears@gmail.com',
  'n_transaction': 9,
  'inflow': 710,
  'outflow': 0,
  'amount': 710},
 {'whose': 'jylee118218 | jylee118218@naver.com',
  'n_transaction': 362,
  'inflow': 1249,
  'outflow': 464,
  'amount': 785},
 {'whose': 'ska9460 | ska9460@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'sohee991110 | sohee991110@gmail.com',
  'n_transaction': 107,
  'inflow': 1100,
  'outflow': 0,
  'amount': 1100},
 {'whose': 'hyunjinam1105 | hyunjinam1105@hotmail.com',
  'n_transaction': 34,
  'inflow': 68,
  'outflow': 0,
  'amount': 68},
 {'whose': 'aqkrcndtls | aqkrcndtls@naver.com',
  'n_transaction': 8,
  'inflow': 740,
  'outflow': 0,
  'amount': 740},
 {'whose': 'tmyum | tmyum@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'kkorujang | kkorujang@naver.com',
  'n_transaction': 227,
  'inflow': 1060,
  'outflow': 177,
  'amount': 883},
 {'whose': 'dhdbwls3360 | dhdbwls3360@naver.com',
  'n_transaction': 4,
  'inflow': 370,
  'outflow': 0,
  'amount': 370},
 {'whose': 'parkhd0125 | parkhd0125@naver.com',
  'n_transaction': 128,
  'inflow': 1737,
  'outflow': 333,
  'amount': 1404},
 {'whose': 'kghtu | kghtu@naver.com',
  'n_transaction': 128,
  'inflow': 615,
  'outflow': 0,
  'amount': 615},
 {'whose': 'ehdwp7915 | ehdwp7915@gmail.com',
  'n_transaction': 5,
  'inflow': 940,
  'outflow': 0,
  'amount': 940},
 {'whose': 'runseoul | runseoul@gmail.com',
  'n_transaction': 103,
  'inflow': 170,
  'outflow': 0,
  'amount': 170},
 {'whose': 'dbgudfuf | dbgudfuf@naver.com',
  'n_transaction': 44,
  'inflow': 39,
  'outflow': 0,
  'amount': 39},
 {'whose': '365ha | 365ha@jr.naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'yellowin | yellowin@skmns.co.kr',
  'n_transaction': 1,
  'inflow': 1,
  'outflow': 0,
  'amount': 1},
 {'whose': 'wonoh423 | wonoh423@gmail.com',
  'n_transaction': 23,
  'inflow': 32,
  'outflow': 0,
  'amount': 32},
 {'whose': 'yellowin20212021 | yellowin20212021@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'tristan0229 | tristan0229@hanmail.net',
  'n_transaction': 138,
  'inflow': 125,
  'outflow': 0,
  'amount': 125},
 {'whose': 'sua77331 | sua77331@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'max-kim | max-kim@hanmail.net',
  'n_transaction': 4,
  'inflow': 340,
  'outflow': 100,
  'amount': 240},
 {'whose': '1일1꽝 | sejin76@nate.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'ARIES_fan | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'yoppei1001 | yoppei1001@gmail.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'jhsong6468 | jhsong6468@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'aksen2828 | aksen2828@naver.com',
  'n_transaction': 17,
  'inflow': 26,
  'outflow': 0,
  'amount': 26},
 {'whose': 'wldhs99 | wldhs99@hotmail.com',
  'n_transaction': 51,
  'inflow': 388,
  'outflow': 0,
  'amount': 388},
 {'whose': '7999j | 7999j@hanmail.net',
  'n_transaction': 53,
  'inflow': 118,
  'outflow': 0,
  'amount': 118},
 {'whose': 'ijinthehouse | ijinthehouse@hotmail.com',
  'n_transaction': 2,
  'inflow': 130,
  'outflow': 0,
  'amount': 130},
 {'whose': 'jisuzzang401 | jisuzzang401@hanmail.net',
  'n_transaction': 106,
  'inflow': 250,
  'outflow': 0,
  'amount': 250},
 {'whose': '1stfeel | 1stfeel@hanmail.net',
  'n_transaction': 4,
  'inflow': 370,
  'outflow': 0,
  'amount': 370},
 {'whose': 'cks4789 | cks4789@jr.naver.com',
  'n_transaction': 21,
  'inflow': 120,
  'outflow': 0,
  'amount': 120},
 {'whose': 'zoon98 | zoon98@hanmail.net',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'kimseil312 | kimseil312@naver.com',
  'n_transaction': 5,
  'inflow': 110,
  'outflow': 0,
  'amount': 110},
 {'whose': 'via_ek | via_ek@naver.com',
  'n_transaction': 96,
  'inflow': 1926,
  'outflow': 0,
  'amount': 1926},
 {'whose': 'llltwtlll | llltwtlll@nate.com',
  'n_transaction': 74,
  'inflow': 90,
  'outflow': 0,
  'amount': 90},
 {'whose': 'jungsi0923 | jungsi0923@naver.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'lily15987 | lily15987@nate.com',
  'n_transaction': 23,
  'inflow': 32,
  'outflow': 0,
  'amount': 32},
 {'whose': 'fairydentist | fairydentist@gmail.com',
  'n_transaction': 12,
  'inflow': 12,
  'outflow': 0,
  'amount': 12},
 {'whose': 'space-wz | space-wz@nate.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'holko | holko@naver.com',
  'n_transaction': 18,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'fho2014 | fho2014@hanmail.net',
  'n_transaction': 117,
  'inflow': 200,
  'outflow': 0,
  'amount': 200},
 {'whose': 'shiz85 | shiz85@kakao.com',
  'n_transaction': 15,
  'inflow': 62,
  'outflow': 0,
  'amount': 62},
 {'whose': 'labong86 | labong86@kakao.com',
  'n_transaction': 4,
  'inflow': 80,
  'outflow': 0,
  'amount': 80},
 {'whose': 'julie289 | julie289@naver.com',
  'n_transaction': 14,
  'inflow': 171,
  'outflow': 0,
  'amount': 171},
 {'whose': 'hipster | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rnstjr79 | rnstjr79@hanmail.net',
  'n_transaction': 542,
  'inflow': 2430,
  'outflow': 1930,
  'amount': 500},
 {'whose': 'hippyst_ | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'kelifrona | kelifrona@naver.com',
  'n_transaction': 933,
  'inflow': 2800,
  'outflow': 0,
  'amount': 2800},
 {'whose': 'kingda0524 | kingda0524@gmail.com',
  'n_transaction': 117,
  'inflow': 2040,
  'outflow': 0,
  'amount': 2040},
 {'whose': 'kojedong287 | kojedong287@naver.com',
  'n_transaction': 1952,
  'inflow': 4040,
  'outflow': 0,
  'amount': 4040},
 {'whose': 'qkrwogus5619 | qkrwogus5619@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'shlily414 | shlily414@naver.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'PORTER_fan | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'dbsrhs8524 | dbsrhs8524@hanmail.net',
  'n_transaction': 20,
  'inflow': 1420,
  'outflow': 0,
  'amount': 1420},
 {'whose': 'rlfdud6212 | rlfdud6212@naver.com',
  'n_transaction': 105,
  'inflow': 240,
  'outflow': 143,
  'amount': 97},
 {'whose': 'sunwoo1325 | sunwoo1325@nate.com',
  'n_transaction': 10,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'gasbagas | gasbagas@naver.com',
  'n_transaction': 9,
  'inflow': 146,
  'outflow': 0,
  'amount': 146},
 {'whose': 'zawon22 | zawon22@naver.com',
  'n_transaction': 1738,
  'inflow': 3620,
  'outflow': 0,
  'amount': 3620},
 {'whose': 'uksaar | uksaar@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'goai222 | goai222@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'jsoo6218 | jsoo6218@naver.com',
  'n_transaction': 162,
  'inflow': 2280,
  'outflow': 111,
  'amount': 2169},
 {'whose': 'gunhi0219 | gunhi0219@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'gksekgml7057 | gksekgml7057@naver.com',
  'n_transaction': 41,
  'inflow': 50,
  'outflow': 0,
  'amount': 50},
 {'whose': 'joj2121 | joj2121@naver.com',
  'n_transaction': 24,
  'inflow': 33,
  'outflow': 0,
  'amount': 33},
 {'whose': 'lwsh12 | lwsh12@nate.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'hojun7230 | hojun7230@gmail.com',
  'n_transaction': 79,
  'inflow': 115,
  'outflow': 0,
  'amount': 115},
 {'whose': 'michelle4202 | michelle4202@naver.com',
  'n_transaction': 18,
  'inflow': 750,
  'outflow': 0,
  'amount': 750},
 {'whose': 'heetae002 | heetae002@naver.com',
  'n_transaction': 285,
  'inflow': 1965,
  'outflow': 1905,
  'amount': 60},
 {'whose': 'dmsdks6342 | dmsdks6342@naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'cofla413 | cofla413@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'lws4633 | lws4633@naver.com',
  'n_transaction': 4,
  'inflow': 13,
  'outflow': 0,
  'amount': 13},
 {'whose': 'dojun1118 | dojun1118@naver.com',
  'n_transaction': 5,
  'inflow': 340,
  'outflow': 0,
  'amount': 340},
 {'whose': 'gensay2u | gensay2u@nate.com',
  'n_transaction': 25,
  'inflow': 21,
  'outflow': 0,
  'amount': 21},
 {'whose': 'noahpark202 | noahpark202@gmail.com',
  'n_transaction': 277,
  'inflow': 1326,
  'outflow': 1241,
  'amount': 85},
 {'whose': 'ksw4856 | ksw4856@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'iceberg9594 | iceberg9594@naver.com',
  'n_transaction': 5,
  'inflow': 380,
  'outflow': 0,
  'amount': 380},
 {'whose': 'gktmdvy12 | gktmdvy12@nate.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'mq_j | mq_j@naver.com',
  'n_transaction': 3,
  'inflow': 90,
  'outflow': 0,
  'amount': 90},
 {'whose': 'mk30033 | mk30033@naver.com',
  'n_transaction': 7,
  'inflow': 730,
  'outflow': 0,
  'amount': 730},
 {'whose': 'rlaalsdk375 | rlaalsdk375@gmail.com',
  'n_transaction': 18,
  'inflow': 27,
  'outflow': 0,
  'amount': 27},
 {'whose': 'jinhyunh97 | jinhyunh97@naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'ehenrrks0921 | ehenrrks0921@naver.com',
  'n_transaction': 1,
  'inflow': 100,

In [147]:
df = pd.DataFrame(wallet_stat); df

,whose,n_transaction,inflow,outflow,amount
0,quantlab | quantlab@kakao.com,688,53711,5485,48226
1,모이버 | moiber@moiber.com,34825,0,537867,-537867
2,홈마 | quantlab@kakao.com,0,0,0,0
3,Seoul_domestic_m | magrittelim@gmail.com,1260,104546,23299,81247
4,minimal_ootd | magrittelim@gmail.com,0,0,0,0
...,...,...,...,...,...
330,minshin0907 | minshin0907@naver.com,151,1930,0,1930
331,hyundong.park0125 | hyundong.park0125@gmail.com,1,10,0,10
332,theloki7 | theloki7@naver.com,217,2000,0,2000
333,dldbwls12231 | dldbwls12231@naver.com,1,300,0,300
334,dan.jung | dan.jung@kakao.com,111,710,0,710

In [148]:
df.sort_values(by=['amount'], ascending=False).iloc[6:].iloc[:10]

,whose,n_transaction,inflow,outflow,amount
135,kojedong287 | kojedong287@naver.com,1952,4040,0,4040
172,skyehdgnl | skyehdgnl@naver.com,1850,3951,0,3951
143,zawon22 | zawon22@naver.com,1738,3620,0,3620
22,부캐 없~~다 | gap1212@naver.com,361,3014,111,2903
209,dydwk231 | dydwk231@naver.com,1242,3303,464,2839
133,kelifrona | kelifrona@naver.com,933,2800,0,2800
247,01062587408 | 01062587408@naver.com,1530,2780,0,2780
276,hsk1230 | hsk1230@hanmail.net,752,2770,0,2770
169,zaxa1019 | zaxa1019@naver.com,769,2906,177,2729
20,슈프림걸 | angelica.yum@gmail.com,441,2501,0,2501

# 래플참여 현황

In [53]:
raffle_result = trans.filter(type=101).values('sender__boo__user__email', 'receiver__raffle__item__name', 'amount')

In [73]:
df = pd.DataFrame(raffle_result)
df.columns = ['유저','래플','참여']
df = df[~df['유저'].isin(memb_list)]

In [74]:
df.groupby(by=['래플','유저']).count()

                                                           참여
래플                                  유저
KINTO TUMBLER 350ML                 dydwk231@naver.com      1
                                    fredasd0120@gmail.com   1
                                    heetae002@naver.com     7
                                    jueun0618@gmail.com     1
                                    jylee118218@naver.com   1
...                                                        ..
TAW&TOE ZEROVITY™ Flip Flop, SIZE M noahpark202@gmail.com   1
                                    rnstjr79@hanmail.net    2
                                    se05021@naver.com       1
                                    ssopie@gmail.com        1
                                    xogh8939@kakao.com      1

[64 rows x 1 columns]

In [75]:
df.groupby(by=['래플','유저']).count().to_excel('raffle_stat.xlsx')