In [1]:
%load_ext autoreload
%autoreload

import io
import os
import sys
import django
import glob
import json
import re
import requests
from IPython.core.debugger import set_trace
from pathlib import Path
from django.core.files.base import ContentFile
from rest_framework import serializers
from tqdm.notebook import tqdm
from google.cloud import vision
from google.cloud import storage
from PIL import Image, ImageSequence
from gensim.models import Doc2Vec
from IPython.core.debugger import set_trace
import IPython
import collections
from googletrans import Translator
from google.cloud import translate_v2 as translate

parentdir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parentdir)
django.setup()

import getch.models as m
from django.db.models import F, Q, Sum, Count, Case, When, IntegerField, Value
from django.apps import apps
from django.conf import settings
from django_currentuser.middleware import get_current_user
from datetime import datetime, timedelta
import time
import pandas as pd

In [2]:
# trans = m.Transaction.objects.select_related('sender','receiver'); trans
trans = m.Transaction.objects.select_related(
    'sender',
    'sender__boo','sender__boo__user',
    'sender__raffle','sender__raffle__item',
    'sender__shoptem','sender__shoptem__item',
    'sender__coffeecoupon','sender__coffeecoupon__item',
    'sender__support','sender__support__brand',
    'receiver',
    'receiver__boo','receiver__boo__user',
    'receiver__raffle','receiver__raffle__item',
    'receiver__support','receiver__support__brand',
    'receiver__shoptem','receiver__shoptem__item',
    'receiver__coffeecoupon','receiver__coffeecoupon__item',
); trans

<QuerySet [<Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > STARBUCKS LAMP BK - 0 | 2021-08-07 20:37:53>, <Transaction: quantlab | quantlab@kakao.com > TAW&TOE ZEROVITY™ Flip Flop, SIZE M - 38000 | 2021-08-07 23:34:16>, <Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > JOHNBER | 존버 스포츠 | 2021-08-10 18:02:20>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > NEW BALANCE 327, SIZE 240 - 109000 | 2021-08-10 21:38:13>, <Transaction: quantlab | quantlab@kakao.com > TOUCHGROUND | 터치그라운드 | 2021-08-08 14:43:11>, <Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > 스타벅스아이스 카페 아메리카노 T - 4100 | 2021-08-11 17:49:38>, <Transaction: quantlab | quantlab@kakao.com > 오징어게임 001번 티셔츠 - 30000 | 2021-10-01 12:05:45>, <Transaction: quantlab | quantlab@kakao.com > 오징어게임 001번 티셔츠 - 30000 | 2021-10-01 12:05:45>, <Transaction: quantlab | quantlab@kakao.com > 이마트24 디지털상품권 5,000원권 - 5000 | 2021-09-27 18:06:57>, <Transaction: quantlab | quantlab@kakao.com > 존버 대용량 철인3종 수영가방 메시백 - 29000 | 2021-10-20 20:40:20>, '...(remaining elements truncated)...']>

# 모든 트랜젝션 가져오기

In [ ]:
trans_list = []
for _t in trans:
    tr = {}
    tr_type = _t.get_type_display()
    tr['user'] = str(_t.sender) if tr_type in ['래플','후원'] else str(_t.receiver)
    tr['when'] = str(_t.when.date())
    tr['type'] = tr_type
    tr['amount'] = -_t.amount if tr_type in ['래플','후원'] else _t.amount
    trans_list.append(tr)

# 트랜젝션 횟수 시계열

In [6]:
counts = pd.DataFrame(trans_list).groupby(['user','type','when']).count().unstack().fillna(0)
counts = counts.groupby('type').sum()[counts.columns[-29:-1]].drop(['첫방문환영','쇼핑','커피쿠폰','테스트 INFLOW']).astype('int64')
#counts.style.set_table_attributes('style="font-size: 10px"')
counts.T

type               관심스타일입력  관심아이템입력  기본정보입력  래플  리서치참여  매일밸런스게임  옷장넣기  출첵게임  \
       when
amount 2021-09-13        0        0       3   0     32      402     0    30
       2021-09-14        1        0       0   0      6      243     0    18
       2021-09-15        0        0       2   3     23      499     0    19
       2021-09-16        1        1       3   2     80      712     2    27
       2021-09-17        0        0       2  12     18     1000     3    37
       2021-09-18        1        1      10   7     58      639     4    21
       2021-09-19        1        1       1  13     30      751     6    15
       2021-09-20        0        0       0   0      8      819     1    16
       2021-09-21        0        0       2   1     33      775     1    24
       2021-09-22        0        0       3   2     19      886     3    25
       2021-09-23        0        0       2   1     28     1041     4    28
       2021-09-24        2        2       4   5     42      988     2    21
       2021-09-25        0        0       2   4     37     1167     2    26
       2021-09-26        2        2       4   4     41     1118     0    32
       2021-09-27        2        1       4   2     36      853     1    20
       2021-09-28        1        1       3   3     40      918     3    41
       2021-09-29        1        1       3   1     42     1080     2    33
       2021-09-30        2        2       7   3    119     2048     1    52
       2021-10-01        1        1       6   9     70     1696     0    61
       2021-10-02        0        0       1   5     16     1683     1    31
       2021-10-03        1        1       0   2     23     1746     2    25
       2021-10-04        0        0       0   1     19     1616     5    30
       2021-10-05        3        3       5   0     16     1809     0    34
       2021-10-06        0        0       1   8     28     1572     3    39
       2021-10-07        1        1       1   7     27     1602     0    28
       2021-10-08        0        0       1  12      7     1624     4    34
       2021-10-09        1        1       1   6     21     1415     0    41
       2021-10-10        0        0       2  14     13     1847     1    34

type               후원
       when
amount 2021-09-13   0
       2021-09-14   0
       2021-09-15   5
       2021-09-16   6
       2021-09-17   3
       2021-09-18   0
       2021-09-19   0
       2021-09-20   0
       2021-09-21   0
       2021-09-22   0
       2021-09-23   0
       2021-09-24   0
       2021-09-25   1
       2021-09-26   0
       2021-09-27   0
       2021-09-28   1
       2021-09-29   1
       2021-09-30   0
       2021-10-01   0
       2021-10-02   0
       2021-10-03   0
       2021-10-04   0
       2021-10-05   0
       2021-10-06   0
       2021-10-07   0
       2021-10-08   0
       2021-10-09   0
       2021-10-10   0

# 트랜젝션 금액 시계열

In [7]:
amounts = pd.DataFrame(trans_list).groupby(['user','type','when']).sum().unstack().fillna(0)
amounts = amounts.groupby('type').sum()[amounts.columns[-29:-1]].drop(['첫방문환영','쇼핑','커피쿠폰','테스트 INFLOW']).astype('int64')
#amounts.style.set_table_attributes('style="font-size: 10px"')
amounts.T

type               관심스타일입력  관심아이템입력  기본정보입력    래플  리서치참여  매일밸런스게임  옷장넣기  출첵게임  \
       when
amount 2021-09-13        0        0     300     0   3640      400     0   240
       2021-09-14       50        0       0     0    180      243     0   140
       2021-09-15        0        0     200  -288   2020      475     0   130
       2021-09-16       50       50     300  -143   8010      700     2   230
       2021-09-17        0        0     200 -1050   2140      900     3   230
       2021-09-18       50       50     400  -641   6270      635     4   190
       2021-09-19       50       50     100 -1398   2770      685     6   110
       2021-09-20        0        0       0     0    510      801     1   140
       2021-09-21        0        0     200   -77   3670      735     1   180
       2021-09-22        0        0     300  -222   1380      846     3   210
       2021-09-23        0        0     200   -77   2980      973     4   200
       2021-09-24      100      100     400  -464   4440      976     2   170
       2021-09-25        0        0     200  -398   3770     1135     2   200
       2021-09-26      100      100     400  -410   3890     1098     0   240
       2021-09-27      100       50     400  -210   3170      831     1   200
       2021-09-28       50       50     300  -288   4550      808     3   310
       2021-09-29       50       50     300   -77   4790     1060     2   290
       2021-09-30      100      100     700  -265  13060     1662     1   460
       2021-10-01       50       50     600  -875   6640     1442     0   490
       2021-10-02        0        0     100  -500   1460     1361     1   250
       2021-10-03       50       50       0  -222   2500     1434     2   230
       2021-10-04        0        0       0  -111   2420     1364     5   260
       2021-10-05      150      150     500     0   1460     1649     0   340
       2021-10-06        0        0     100  -811   3520     1472     3   330
       2021-10-07       50       50     100  -733   2370     1584     0   260
       2021-10-08        0        0     100 -1321    480     1508     4   300
       2021-10-09       50       50     100  -666   2460     1367     0   310
       2021-10-10        0        0       0 -1532   2550     1685     1   300

type                후원
       when
amount 2021-09-13    0
       2021-09-14    0
       2021-09-15 -500
       2021-09-16 -600
       2021-09-17 -300
       2021-09-18    0
       2021-09-19    0
       2021-09-20    0
       2021-09-21    0
       2021-09-22    0
       2021-09-23    0
       2021-09-24    0
       2021-09-25 -100
       2021-09-26    0
       2021-09-27    0
       2021-09-28 -100
       2021-09-29 -100
       2021-09-30    0
       2021-10-01    0
       2021-10-02    0
       2021-10-03    0
       2021-10-04    0
       2021-10-05    0
       2021-10-06    0
       2021-10-07    0
       2021-10-08    0
       2021-10-09    0
       2021-10-10    0

# 가입자수 추이

In [4]:
qrs = m.User.objects.filter(date_joined__gte='2021-09-13').values('date_joined__date').annotate(count=Count('date_joined__date'))

In [5]:
pd.DataFrame(qrs).set_index('date_joined__date').sort_index(ascending=True).iloc[:-1].sum()

count    238
dtype: int64

# 서베이별 참여자수

In [2]:
_boos = m.Boo.objects.filter(answers__has_key='12')

In [3]:
_boos[10].answers

{'4': {'11': [1],
  '12': [0],
  '13': [1],
  '14': [0],
  '15': [1],
  '16': [1],
  '17': [0],
  '18': [0],
  '19': [0],
  '20': [1],
  '21': [1],
  '22': [0],
  '23': [0],
  '24': [0],
  '25': [0],
  'finished': True},
 '5': {'26': [1],
  '27': [1],
  '28': [1],
  '29': [0],
  '30': [0],
  '31': [1],
  '32': [0, 1],
  '33': [0],
  '34': [1],
  '35': [1],
  '36': [1],
  '37': [0],
  '38': [0],
  '39': [0],
  '40': [0],
  '41': [1],
  'finished': True},
 '6': {'42': [1],
  '43': [0],
  '44': [3],
  '45': [0],
  '46': [0],
  '115': [1],
  '117': [1],
  '118': [1],
  '119': [2],
  '120': [1],
  '121': [5],
  '122': [1, 2],
  '123': [0],
  '124': [1],
  'finished': True},
 '7': {'47': [1],
  '48': [1],
  '49': [0],
  '50': [0],
  '51': [1],
  '171': [0],
  '173': [0],
  '174': [0],
  '175': [1],
  '177': [0],
  '178': [1],
  '179': [0],
  '181': [1],
  '182': [1],
  '183': [0],
  'finished': True},
 '8': {'52': [1],
  '53': [1],
  '54': [1],
  '55': [1],
  '56': [1],
  '58': [1],
  '59': [0],
  '60': [0],
  '61': [1],
  '62': [0],
  '63': [0],
  '64': [0],
  '65': [0],
  '66': [0],
  'finished': True},
 '9': {'67': [1],
  '68': [0],
  '69': [1],
  '70': [1],
  '71': [0],
  'finished': True},
 '10': {'72': [0],
  '73': [1],
  '74': [1],
  '75': [1],
  '76': [0],
  '77': ['바람막이'],
  'finished': True},
 '12': {'80': [1],
  '81': [1],
  '82': [0],
  '83': [1],
  '84': [0],
  '85': ['운동화 반스'],
  '86': ['반스'],
  '88': [0],
  'finished': True},
 '14': {'107': [1],
  '108': [1],
  '109': [0],
  '110': [0],
  '112': [0],
  'finished': True},
 '17': {'152': [1],
  '154': [1],
  '163': [0],
  '164': [0],
  '165': [0],
  '166': [0],
  '167': [1],
  '168': [0],
  '169': [0],
  '170': [1],
  'finished': True},
 '18': {'204': [1],
  '205': [0],
  '206': [1],
  '207': [0],
  '208': [1],
  '209': [1],
  '210': [0],
  '212': [0],
  'finished': True},
 '19': {'238': [1], '239': [0], '240': [1], 'finished': True},
 '22': {'247': [0],
  '248': [0],
  '249': [0],
  '250': [0],
  '251': [0],
  'finished': True},
 '23': {'254': [0], '255': [0], '256': [0], 'finished': True},
 '24': {'259': [0], '260': [1], '262': [0], 'finished': True},
 '25': {'266': [0], '267': [0], '268': [0], 'finished': True},
 '29': {'276': [0], '277': [0], 'finished': True}}

In [ ]:
배드보이 4
터치그라운드 5
존버 6
포스토 7
브라스보트 8

비오는날 취향분석 9
슬기로운 캠필생활 10
나에게 딱 맞는 주말 베스트 코디 12
내 휴가 스타일 14
핫서머에 입기 좋은 핫팬츠 취향조사 15
구두취향 본격탐구 17
내 백 취향 18
요즘 막 당신의 관심사 19
비오는날 샌들 취향조사 20
어느 브랜드 좋아해 22
올가을 트랜드 조사 신발편 23
가을 유니폼 후디 맨투맨 고르기 24
부츠 이렇게 신어야지 25
이번 fw 뭐 신지 26

In [11]:
m.Boo.objects.filter(answers__has_key='4').count()

129

In [2]:
pd.DataFrame({
#     '배드보이': [m.Boo.objects.filter(answers__has_key='4').count()],
#     '터치그라운드': [m.Boo.objects.filter(answers__has_key='5').count()],
#     '존버': [m.Boo.objects.filter(answers__has_key='6').count()],
#     '포스토': [m.Boo.objects.filter(answers__has_key='7').count()],
#     '브라스보트': [m.Boo.objects.filter(answers__has_key='8').count()],
    
#     '비오는날 취향분석': [m.Boo.objects.filter(answers__has_key='9').count()],
#     '슬기로운 캠핑생활': [m.Boo.objects.filter(answers__has_key='10').count()],
#     '주말 베스트 코디': [m.Boo.objects.filter(answers__has_key='12').count()],
#     '내 휴가 스타일': [m.Boo.objects.filter(answers__has_key='14').count()],
#     '핫팬츠 취향조사': [m.Boo.objects.filter(answers__has_key='15').count()],
#     '구두취향 본격탐구': [m.Boo.objects.filter(answers__has_key='17').count()],
#     '내 백 취향': [m.Boo.objects.filter(answers__has_key='18').count()],
#     '요즘 막 당신의 관심사': [m.Boo.objects.filter(answers__has_key='19').count()],
#     '샌들 취향조사': [m.Boo.objects.filter(answers__has_key='20').count()],
#     '어느 브랜드 좋아해': [m.Boo.objects.filter(answers__has_key='22').count()],
#     '올가을 트랜드 조사 신발편': [m.Boo.objects.filter(answers__has_key='23').count()],
#     '가을 유니폼 후디 맨투맨 고르기': [m.Boo.objects.filter(answers__has_key='24').count()],
#     '부츠 이렇게 신어야지': [m.Boo.objects.filter(answers__has_key='25').count()],
    '[아디다스A]우린 골퍼잖아': [m.Boo.objects.filter(answers__has_key='32').count()],
    '[아디다스B]나이스샷, 골프웨어 브랜딩': [m.Boo.objects.filter(answers__has_key='33').count()],
    '[배드보이A]배드보이를 카운터해주세요': [m.Boo.objects.filter(answers__has_key='34').count()],
    '[배드보이B]운동을 즐기는 멋쟁이들': [m.Boo.objects.filter(answers__has_key='35').count()],
    '[닥터마틴A]클릭,당신만의 라이프스타일': [m.Boo.objects.filter(answers__has_key='30').count()],
    '[닥터마틴B]패션에도 비건이': [m.Boo.objects.filter(answers__has_key='31').count()],
}).T

                        0
[아디다스A]우린 골퍼잖아         37
[아디다스B]나이스샷, 골프웨어 브랜딩  36
[배드보이A]배드보이를 카운터해주세요   18
[배드보이B]운동을 즐기는 멋쟁이들    43
[닥터마틴A]클릭,당신만의 라이프스타일  47
[닥터마틴B]패션에도 비건이        26

In [12]:
pd.DataFrame({
    '[아디다스A]우린 골퍼잖아': [m.Boo.objects.filter(answers__has_key='32').count()],
    '[아디다스B]나이스샷, 골프웨어 브랜딩': [m.Boo.objects.filter(answers__has_key='33').count()],
    '[배드보이A]배드보이를 카운터해주세요': [m.Boo.objects.filter(answers__has_key='34').count()],
    '[배드보이B]운동을 즐기는 멋쟁이들': [m.Boo.objects.filter(answers__has_key='35').count()],
    '[닥터마틴A]클릭,당신만의 라이프스타일': [m.Boo.objects.filter(answers__has_key='30').count()],
    '[닥터마틴B]패션에도 비건이': [m.Boo.objects.filter(answers__has_key='31').count()],
}).T

                        0
[아디다스A]우린 골퍼잖아         46
[아디다스B]나이스샷, 골프웨어 브랜딩  48
[배드보이A]배드보이를 카운터해주세요   26
[배드보이B]운동을 즐기는 멋쟁이들    59
[닥터마틴A]클릭,당신만의 라이프스타일  56
[닥터마틴B]패션에도 비건이        35

In [43]:
suv_id = '31'
answers = m.Boo.objects.filter(answers__has_key=suv_id).values('id','nick','answers'); answers

<QuerySet [{'id': 933, 'nick': 'hsk1230', 'answers': {'4': {'11': [0], '12': [0], '13': [1], '14': [1], '15': [0], '16': [0], '17': [7], '18': [0], '19': [0], '20': [0], '21': [0], '22': [1], '23': [0], '24': [0], '25': [0], 'finished': True}, '5': {'26': [1], '27': [0], '28': [1], '29': [0], '30': [0], '31': [1], '32': [10], '33': [1], '34': [1], '35': [1], '36': [0], '37': [0], '38': [1], '39': [1], '40': [4], '41': [1], 'finished': True}, '6': {'42': [0], '43': [0], '44': [3], '45': [1], '46': [0], '115': [1], '116': ['아이다'], '117': [0], '118': [0], '119': [4], '120': [1], '121': [2, 4, 5, 0, 3], '122': [1, 4, 5], '123': [0], '124': [0], 'finished': True}, '7': {'47': [1], '48': [1], '49': [1], '50': [0], '51': [1], '171': [1], '173': [0], '174': [0], '175': [1], '177': [1], '178': [1], '179': [1], '181': [0], '182': [0], '183': [0], 'finished': True}, '8': {'52': [0], '53': [1], '54': [1], '55': [3], '56': [1], '57': ['프라다'], '58': [0], '59': [0], '60': [1], '61': [0], '62': [0], '63': [1], '64': [1], '65': [0], '66': [1], 'finished': True}, '9': {'67': [0], '68': [1], '69': [0], '70': [0], '71': [0], 'finished': True}, '10': {'72': [0], '73': [1], '74': [1], '75': [1], '76': [0], '77': ['잘때입는 편한바지'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [1], '84': [1], '85': ['신발'], '86': ['디스커버리'], '87': [1], '88': [1], '89': [0], 'finished': True}, '14': {'107': [0], '108': [0], '109': [1], '110': [0], '112': [1], 'finished': True}, '17': {'152': [1], '154': [1], '163': [1], '164': [1], '165': [1], '166': [0], '167': [1], '168': [1], '169': [1], '170': [0], 'finished': True}, '18': {'204': [0], '205': [1], '206': [1], '207': [0], '208': [1], '209': [1], '210': [0], '212': [0], 'finished': True}, '19': {'238': [0], '239': [0], '240': [1], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [0], '251': [0], 'finished': True}, '23': {'254': [0], '255': [0], '256': [0], 'finished': True}, '24': {'259': [0], '260': [0], '262': [0], 'finished': True}, '25': {'266': [1], '267': [0], '268': [1], 'finished': True}, '29': {'276': [0], '277': [0], 'finished': True}, '30': {'280': [4], '281': [8], '282': ['43'], '283': [1], '284': [0], '285': [1], '286': [3], '287': [0], '288': [0], '289': [0], '290': [0], '291': [0], '292': [1], '293': [0], '294': [0], '295': [1], '296': [1], 'finished': True}, '31': {'297': [0], '299': [2, 0], '300': [0], '301': [0], '302': [2], '303': [0], '304': [0], '305': [1], '306': [1], '307': [1], 'finished': True}, '32': {'309': [1], '310': [1], '311': [0], '312': [1], '313': [0], '314': [1], 'finished': True}, '33': {'316': [0], '317': [1], '318': [0], '319': [0], 'finished': True}, '34': {'324': [1], '326': [0], '327': [1], '328': [0], '329': [0], '330': [0], '331': [0], '332': [0], '333': [1], 'finished': True}, '35': {'337': [0], '338': [0], '339': [0], '340': [0], '341': [1], '342': [4], '343': [1], '344': [0], '345': ['손흥민'], '346': [0], '347': [0], 'finished': True}}}, {'id': 1000, 'nick': 'forjin3', 'answers': {'4': {'11': [1], '12': [0], '13': [0], '14': [0], '15': [], '16': [0], '17': [10], '18': [0], '19': [4], '20': [0], '21': [1], '22': [3], '23': [0], '24': [0], '25': [0], 'finished': True}, '5': {'26': [1], '27': [1], '28': [1], '29': [0], '30': [0], '31': [1], '32': [4], '33': [1], '34': [0], '35': [1], '36': [1], '37': [1], '38': [0], '39': [0], '40': [4], '41': [1], 'finished': True}, '6': {'42': [1], '43': [0], '44': [3], '45': [1], '46': [1], '115': [0], '116': ['나이키'], '117': [0], '118': [0], '119': [4], '120': [0], '121': [3, 2], '122': [0], '123': [1], '124': [0], 'finished': True}, '7': {'47': [0], '48': [0], '49': [1], '50': [1], '51': [1], '171': [0], '173': [1], '174': [0], '175': [1], '177': [1], '178': [1], '179': [1], '181': [0], '182': [0], '183': [0], 'finished': True}, '8': {'52': [0], '53': [1], '54': [1], '55': [1], '56': [1], '57': ['모르겠다'], '58': [0], '59': [1], '60': [0], '61': [0], '62': [0], '63': [0], '64': [0], '65': [0], '66': [0], 'finished': True}, '9': {'67': [1], '68': [0], '69': [1], '70': [0], '71': [0], 'finished': True}, '10': {'72': [1], '73': [1], '74': [1], '75': [0], '76': [0], '77': ['트레이닝복'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [1], '83': [1], '84': [1], '85': ['속옷'], '86': ['Buc'], '87': [1], '88': [0], '89': [0], 'finished': True}, '17': {'152': [1], '154': [1], '163': [1], '164': [1], '165': [1], '166': [0], '167': [0], '168': [0], '169': [0], '170': [1], 'finished': True}, '18': {'204': [0], '205': [1], '206': [1], '207': [1], '208': [1], '209': [1], '210': [1], '212': [1], 'finished': True}, '19': {'238': [1], '239': [0], '240': [0], 'finished': True}, '20': {'243': [0], '244': [0], 'finished': True}, '22': {'247': [0], '248': [1], '249': [0], '250': [0], '251': [1], 'finished': True}, '23': {'254': [], '255': [0], '256': [1], 'finished': True}, '24': {'259': [0], '260': [0], 'finished': True}, '25': {'266': [1], '267': [0], '268': [1], 'finished': True}, '30': {'280': [2], '281': [8], '282': ['51'], '283': [1], '284': [0], '285': [1], '286': [3], '287': [0], '288': [0], '289': [0], '290': [0], '291': [1], '292': [1], '293': [0], '294': [1], '295': [0], '296': [0], '357': [1], 'finished': True}, '31': {'297': [0], '299': [0], '300': [0], '301': [1], '302': [4], '303': [4], '304': [1], '305': [1], '306': [1], '307': [1], '356': [5], 'finished': True}, '32': {'309': [0], '310': [0], '311': [0], '312': [0], '313': [0], '314': [0], '354': [0], '355': [5], 'finished': True}, '33': {'316': [0], '317': [0], '318': [0], '319': [1], '352': [1], '353': [5], 'finished': True}, '34': {'324': [0], '326': [0], '327': [0], '328': [0], '329': [1], '330': [0], '331': [0], '332': [1], '333': [0], '350': [1], '351': [5], 'finished': True}, '35': {'337': [0], '338': [1], '339': [1], '340': [0], '341': [0], '342': [3], '343': [1], '344': [5], '345': ['박민우'], '346': [0], '347': [0], '348': [1], '349': [5], 'finished': True}}}, {'id': 970, 'nick': 'd0hwan', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [1], '15': [0], '16': [1], '17': [0, 5, 8, 4], '18': [1], '19': [0, 2], '20': [0], '21': [1], '22': [3], '23': [1], '24': [0], '25': [1], 'finished': True}, '7': {'47': [1], '48': [0], '49': [0], '50': [1], '51': [0], '171': [1], '173': [0], '174': [1], '175': [2], '177': [0], '178': [0], '179': [1], '181': [0], '182': [1], '183': [1], 'finished': True}, '8': {'52': [1], '53': [0], '54': [0], '55': [1], '56': [1], '57': ['프라다'], '58': [0], '59': [0], '60': [1], '61': [0], '62': [0], '63': [1], '64': [1], '65': [1], '66': [1], 'finished': True}, '19': {'238': [0], '239': [0], '240': [1], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [0], '251': [0], 'finished': True}, '23': {'254': [1], '255': [1], '256': [0], 'finished': True}, '24': {'259': [0], '260': [0], '262': [1], 'finished': True}, '25': {'266': [1], '267': [0], '268': [0], 'finished': True}, '29': {'276': [0], '277': [0], 'finished': True}, '30': {'280': [1], '281': [1, 2], '282': ['22'], '283': [0], '284': [1], '285': [1], '286': [1], '287': [1], '288': [1], '289': [0], '290': [1], '291': [0], '292': [0], '293': [1], '294': [0], '295': [1], '296': [1], 'finished': True}, '31': {'297': [0], '299': [1, 0], '300': [0], '301': [1], '302': [2, 1], '303': [2], '304': [1], '305': [1], '306': [1], '307': [0], 'finished': True}, '32': {'309': [0], '310': [0], '311': [0], '312': [1], '313': [0], '314': [0], 'finished': True}, '33': {'316': [1], '317': [0], '318': [0], '319': [0], 'finished': True}, '34': {'324': [1], '326': [0], '327': [0], '328': [0], '329': [0], '330': [1], '331': [1], '332': [1], '333': [1], 'finished': True}, '35': {'337': [0], '338': [0], '339': [0], '340': [1], '341': [1], '342': [3, 0], '343': [0], '344': [0], '345': ['호날두'], '346': [0], '347': [1], 'finished': True}}}, {'id': 937, 'nick': 'gunhye100', 'answers': {'4': {'11': [1], '12': [1], '13': [0], '14': [1], '15': [1], '16': [1], '17': [4, 5, 11], '18': [0], '19': [0], '20': [0], '21': [1], '22': [0], '23': [0], '24': [0], '25': [1], 'finished': True}, '5': {'26': [1], '27': [1], '28': [1], '29': [1], '30': [1], '31': [1], '32': [7, 8, 11], '33': [1], '34': [1], '35': [1], '36': [1], '37': [1], '38': [1], '39': [1], '40': [2, 1], '41': [0], 'finished': True}, '6': {'42': [0], '43': [1], '44': [2], '45': [1], '46': [0], '115': [0], '116': ['없'], '117': [0], '118': [0], '119': [5], '120': [1, 0], '121': [1], '122': [1], '123': [1], '124': [2, 0], 'finished': True}, '7': {'47': [1], '48': [0], '49': [1], '50': [0], '51': [1], '171': [1], '173': [0], '174': [0], '175': [1], '177': [1], '178': [1], '179': [1], '181': [1], '182': [1], '183': [0], 'finished': True}, '8': {'52': [1], '53': [1], '54': [1], '55': [0], '56': [0], '57': ['똥'], '58': [0], '59': [1], '60': [0], '61': [0], '62': [0], '63': [0], '64': [0], '65': [0], '66': [1], 'finished': True}, '9': {'67': [0], '68': [1], '69': [1], '70': [0], '71': [0], 'finished': True}, '10': {'72': [0], '73': [0], '74': [1], '75': [1], '76': [0], '77': ['츄리닝'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [1], '83': [1], '84': [1], '85': ['원피스'], '86': ['인터넷'], '87': [1], '88': [0], '89': [0], 'finished': True}, '14': {'107': [1], '108': [0], '109': [1], '110': [1], '112': [1], 'finished': True}, '17': {'152': [1], '154': [1], '163': [1], '164': [0], '165': [1], '166': [0], '167': [0], '168': [0], '169': [1], '170': [1], 'finished': True}, '18': {'204': [1], '205': [1], '206': [0], '207': [1], '208': [1], '209': [1], '210': [0], '212': [1], 'finished': True}, '19': {'238': [0], '239': [1], '240': [0], 'finished': True}, '22': {'247': [1], '248': [0], '249': [1], '250': [0], '251': [1], 'finished': True}, '23': {'254': [1], '255': [1], '256': [0], 'finished': True}, '24': {'259': [0], '260': [0], '262': [0], 'finished': True}, '25': {'266': [1], '267': [0], '268': [0], 'finished': True}, '29': {'276': [0], '277': [0], 'finished': True}, '30': {'280': [4], '281': [0, 8], '282': ['40'], '283': [0], '284': [1], '285': [1], '286': [2], '287': [1], '288': [0], '289': [0], '290': [0], '291': [1], '292': [1], '293': [1], '294': [1], '295': [0], '296': [0], '357': [1], 'finished': True}, '31': {'297': [0], '299': [0], '300': [1], '301': [1], '302': [4], '303': [4], '304': [1], '305': [0], '306': [1], '307': [1], '356': [5], 'finished': True}, '32': {'309': [0], '310': [1], '311': [0], '312': [1], '313': [0], '314': [0], '354': [1], '355': [5], 'finished': True}, '33': {'316': [1], '317': [0], '318': [1], '319': [1], '352': [1], '353': [5], 'finished': True}, '35': {'337': [0], '338': [0], '339': [1], '340': [0], '341': [0], '342': [0, 3], '343': [1], '344': [5, 3], '345': ['박지성'], '346': [1], '347': [0], '348': [1], '349': [5], 'finished': True}}}, {'id': 1082, 'nick': 'didtks26', 'answers': {'31': {'297': [1], '299': [4], '300': [1], '301': [1], '302': [4], '303': [4], '304': [1], '305': [0], '306': [1], '307': [1], 'finished': True}}}, {'id': 425, 'nick': 'Seoul_domestic_m', 'answers': {'4': {'11': [1], '12': [1], '13': [1], '14': [1], '15': [1], '16': [0], '17': [0, 1, 7, 6, 10], '18': [1], '19': [5], '20': [1], '21': [0], '22': [1, 4], '23': [1], '24': [1], '25': [0], 'finished': True}, '5': {'26': [1], '27': [0], '28': [1], '29': [1], '30': [0], '31': [0], '32': [0, 4, 8, 9, 2], '33': [0], '34': [0], '35': [1], '36': [1], '37': [0], '38': [1], '39': [1], '40': [0], '41': [1], 'finished': True}, '6': {'42': [1], '43': [0], '44': [3], '45': [0], '46': [0], '115': [1], '116': ['모름'], '117': [1], '118': [1], '119': [2, 4], '120': [1], '121': [5, 0], '122': [1], '123': [1], '124': [0], 'finished': True}, '7': {'47': [1], '48': [1], '49': [0], '50': [0], '51': [0], '171': [0], '172': [1], '173': [1], '174': [0], '175': [1], '176': [1], '177': [0], '178': [0], '179': [1], '180': [1], '181': [0], '182': [0], '183': [0], 'finished': True}, '8': {'52': [0], '53': [1], '54': [0], '55': ['5년'], '56': [0], '57': ['기억안남'], '58': [0], '59': [1], '60': [0], '61': [0], '62': [0], '63': [0], '64': [1], '65': [1], '66': [1], 'finished': True}, '9': {'67': [1], '68': [0], '69': [0], '70': [1], '71': [0], 'finished': True}, '10': {'72': [0], '73': [1], '74': [0], '75': [0], '76': [0], '77': ['추리닝'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [1], '84': [1], '85': ['우리집'], '86': ['루이비통'], '87': [1], '88': [1], '89': [0], 'finished': True}, '13': {'104': [], 'finished': False}, '14': {'107': [0], '108': [1], '109': [1], '110': [0], '112': [0], 'finished': True}, '15': {'139': [1], '140': [1], '141': [1], '142': [1], '143': [0], '144': [0], '145': [1], '146': [0], '147': [1], '148': [0], 'finished': True}, '17': {'151': [0], '152': [1], '153': [1], '154': [1], '155': [0], '156': [1], '157': [1], '158': [1], '159': [1], '160': [0], '161': [1], '162': [1], '163': [1], '164': [0], '165': [1], '166': [0], '167': [0], '168': [0], '169': [0], '170': [1], 'finished': True}, '18': {'204': [0], '205': [1], '206': [1], '207': [0], '208': [1], '209': [1], '210': [0], '212': [1], '213': [0], '215': [1], '216': [1], 'finished': True}, '19': {'238': [0], '239': [1], '240': [0], 'finished': True}, '20': {'243': [0], '244': [1], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [0], '251': [0], 'finished': True}, '23': {'254': [0], '255': [1], '256': [0], 'finished': True}, '24': {'261': [1], '262': [1], '263': [0], 'finished': True}, '25': {'266': [0], '267': [0], '268': [1], 'finished': True}, '29': {'276': [0], '277': [1], 'finished': True}, '30': {'280': [1], '281': [0, 1, 2], '282': ['33'], '283': [1], '284': [0], '285': [1], '286': [0], '287': [1], '288': [1], '289': [0], '290': [1], '291': [], '292': [0], '293': [1], '294': [1], '295': [0], '296': [1], '357': [0], 'finished': True}, '31': {'297': [0], '299': [4], '300': [1], '301': [0], '302': [4], '303': [4], '304': [1], '305': [1], '306': [1], '307': [1], '356': [3], 'finished': True}, '32': {'309': [0], '310': [0], '311': [0], '312': [0], '313': [0], '314': [0], '354': [0], '355': [3], 'finished': True}, '33': {'316': [0], '317': [0], '318': [0], '319': [1], '352': [0], '353': [3], 'finished': True}, '34': {'324': [0], '326': [0], '327': [0], '328': [0], '329': [1], '330': [1], '331': [1], '332': [1], '333': [1], '350': [0], '351': [3], 'finished': True}, '35': {'337': [1], '338': [0], '339': [0], '340': [1], '341': [1], '342': [3, 0], '343': [1], '344': [2, 5], '345': ['베컴'], '346': [0], '347': [0], '348': [0], '349': [3], 'finished': True}}}, {'id': 940, 'nick': 'kimjjmm', 'answers': {'4': {'11': [1], '12': [1], '13': [0], '14': [1], '15': [1], '16': [0], '17': [5, 1, 11], '18': [0], '19': [0, 3], '20': [0], '21': [1], '22': [3, 0], '23': [1], '24': [1], '25': [], 'finished': True}, '5': {'26': [0], '27': [1], '28': [1], '29': [1], '30': [0], '31': [1], '32': [1, 4, 5, 10], '33': [0], '34': [1], '35': [1], '36': [1], '37': [1], '38': [1], '39': [0], '40': [4], '41': [1], 'finished': True}, '6': {'42': [1], '43': [1], '44': [2, 3, 4], '45': [1], '46': [0], '115': [0], '116': ['나이키'], '117': [1], '118': [1], '119': [4], '120': [1], '121': [5, 0], '122': [2, 4, 1], '123': [1], '124': [0], 'finished': True}, '7': {'47': [0], '48': [0], '49': [0], '50': [0], '51': [0], '171': [0], '173': [1], '174': [0], '175': [1], '177': [0], '178': [1], '179': [1], '181': [1], '182': [1], '183': [0], 'finished': True}, '8': {'52': [1], '53': [1], '54': [0], '55': [0], '56': [1], '57': ['에르메스'], '58': [0], '59': [0], '60': [0], '61': [1], '62': [0], '63': [1], '64': [0], '65': [1], '66': [1], 'finished': True}, '9': {'67': [1], '68': [0], '69': [1], '70': [1], '71': [0], 'finished': True}, '10': {'72': [1], '73': [0], '74': [1], '75': [1], '76': [0], '77': ['편한 스포티한 옷'], 'finished': True}, '12': {'80': [1], '81': [0], '82': [0], '83': [1], '84': [1], '85': ['신발'], '86': ['반스'], '87': [1], '88': [0], '89': [1], 'finished': True}, '17': {'152': [1], '154': [1], '163': [0], '164': [0], '165': [0], '166': [0], '167': [0], '168': [0], '169': [0], '170': [1], 'finished': True}, '18': {'204': [1], '205': [0], '206': [0], '207': [0], '208': [1], '209': [1], '210': [0], '212': [0], 'finished': True}, '19': {'238': [0], '239': [0], '240': [0], 'finished': True}, '20': {'243': [0], '244': [1], 'finished': True}, '22': {'247': [0], '248': [0], '249': [0], '250': [0], '251': [0], 'finished': True}, '23': {'254': [1], '255': [1], '256': [0], 'finished': True}, '24': {'259': [1], '260': [0], '262': [1], 'finished': True}, '25': {'266': [0], '267': [1], '268': [0], 'finished': True}, '29': {'276': [0], '277': [0], 'finished': True}, '30': {'280': [1], '281': [], '282': ['25'], '283': [0], '284': [1], '285': [1], '286': [0], '287': [1], '288': [0], '289': [1], '290': [1], '291': [1], '292': [1], '293': [0], '294': [1], '295': [0], '296': [1], 'finished': True}, '31': {'297': [0], '299': [4], '300': [1], '301': [1], '302': [4], '303': [4], '304': [1], '305': [0], '306': [0], '307': [1], 'finished': True}, '32': {'309': [1], '310': [1], '311': [0], '312': [1], '313': [0], '314': [1], 'finished': True}, '33': {'316': [1], '317': [0], '318': [0], '319': [0], 'finished': True}, '34': {'324': [1], '326': [1], '327': [1], '328': [0], '329': [0], '330': [1], '331': [1], '332': [0], '333': [1], 'finished': True}, '35': {'337': [1], '338': [0], '339': [0], '340': [1], '341': [1], '342': [0, 3], '343': [1], '344': [5], '345': ['안산'], '346': [0], '347': [1], 'finished': True}}}, {'id': 643, 'nick': 'giseok1929', 'answers': {'4': {'11': [0], '12': [0], '13': [1], '14': [1], '15': ['쇼ㅏ핑'], '16': [1], '17': [4, 5], '18': [0], '19': [1], '20': [0], '21': [1], '22': [3], '23': [0], '24': [0], '25': [1], 'finished': True}, '5': {'26': [0], '27': [1], '28': [0], '29': [1], '30': [0], '31': [0], '32': [1], '33': [0], '34': [0], '35': [1], '36': [1], '37': [1], '38': [0], '39': [0], '40': [4], '41': [1], 'finished': True}, '6': {'42': [1], '43': [1], '44': [3], '45': [1], '46': [0], '115': [0], '116': ['없음'], '117': [1], '118': [1], '119': [4], '120': [0], '121': [5, 3], '122': [1, 2, 4], '123': [1], '124': [0], 'finished': True}, '7': {'47': [1], '48': [1], '49': [0], '50': [0], '51': [0], '171': [1], '172': [1], '173': [1], '174': [1], '175': [1], '176': [0], '177': [0], '178': [1], '179': [1], '180': [0], '181': [0], '182': [1], '183': [0], 'finished': True}, '8': {'52': [0], '53': [0], '54': [0], '55': [2], '56': [1], '57': ['셈소나이트'], '58': [0], '59': [0], '60': [0], '61': [0], '62': [0], '63': [1], '64': [0], '65': [0], '66': [0], 'finished': True}, '9': {'67': [], '68': [1], '69': [1], '70': [1], '71': [0], 'finished': True}, '10': {'72': [1], '73': [1], '74': [1], '75': [1], '76': [1], '77': ['슬리퍼'], 'finished': True}, '12': {'80': [0], '81': [0], '82': [0], '83': [1], '84': [0], '85': ['바지'], '86': ['시스템'], '87': [1], '88': [0], '89': [0], 'finished': True}, '13': {'104': [0], '184': [0], '185': [1], '186': [0], '187': [1], '188': [1], '189': [0], '190': [1], '191': [1], '192': [0], '193': [1], '194': [0], '195': [1], '196': [1], '197': [1], '198': [0], '199': [1], '200': [1], '201': [0], '222': [0], '223': [0], '224': [1], '225': [1], 'finished': False}, '14': {'107': [0], '108': [0], '109': [0], '110': [1], '111': [0], '112': [1], 'finished': True}, '15': {'139': [0], '140': [1], '141': [1], '142': [1], '143': [0], '144': [0], '145': [1], '146': [1], '147': [1], '148': [0], 'finished': True}, '17': {'151': [0], '153': [0], '154': [0], '155': [1], '156': [1], '157': [1], '158': [1], '159': [0], '160': [0], '161': [0], '162': [], '163': [1], '164': [1], '165': [1], '166': [0], '167': [0], '168': [0], '169': [0], '170': [0], 'finished': False}, '18': {'204': [0], '207': [0], '208': [0], '209': [1], '210': [1], '213': [1], '215': [0], '216': [0], 'finished': True}, '19': {'238': [1], '239': [0], '240': [1], 'finished': True}, '20': {'243': [1], '244': [1], 'finished': True}, '22': {'247': [0], '248': [0], '249': [0], '250': [0], '251': [1], 'finished': True}, '23': {'254': [0], '255': [0], '2

In [44]:
answers_4 = [{'id':o['id'], 'nick':o['nick'], 'answers':o['answers'][suv_id]} for o in answers]; answers_4

[{'id': 933,
  'nick': 'hsk1230',
  'answers': {'297': [0],
   '299': [2, 0],
   '300': [0],
   '301': [0],
   '302': [2],
   '303': [0],
   '304': [0],
   '305': [1],
   '306': [1],
   '307': [1],
   'finished': True}},
 {'id': 1000,
  'nick': 'forjin3',
  'answers': {'297': [0],
   '299': [0],
   '300': [0],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [1],
   '356': [5],
   'finished': True}},
 {'id': 970,
  'nick': 'd0hwan',
  'answers': {'297': [0],
   '299': [1, 0],
   '300': [0],
   '301': [1],
   '302': [2, 1],
   '303': [2],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [0],
   'finished': True}},
 {'id': 937,
  'nick': 'gunhye100',
  'answers': {'297': [0],
   '299': [0],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [1],
   '356': [5],
   'finished': True}},
 {'id': 1082,
  'nick': 'didtks26',
  'answers': {'297': [1],
   '299': [4],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [1],
   'finished': True}},
 {'id': 425,
  'nick': 'Seoul_domestic_m',
  'answers': {'297': [0],
   '299': [4],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [1],
   '356': [3],
   'finished': True}},
 {'id': 940,
  'nick': 'kimjjmm',
  'answers': {'297': [0],
   '299': [4],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [0],
   '307': [1],
   'finished': True}},
 {'id': 643,
  'nick': 'giseok1929',
  'answers': {'297': [1],
   '299': [0],
   '300': [0],
   '301': [1],
   '302': [4],
   '303': [0, 4],
   '304': [1],
   '305': [1],
   '306': [0],
   '307': [0],
   'finished': True}},
 {'id': 105,
  'nick': 'leesuyong',
  'answers': {'297': [0],
   '299': [0, 3, 1],
   '300': [1],
   '301': [0],
   '302': [2, 1],
   '303': [0],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [0],
   '356': [5],
   'finished': True}},
 {'id': 797,
  'nick': 'kojedong287',
  'answers': {'297': [1],
   '299': [4],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   'finished': True}},
 {'id': 612,
  'nick': 'soyeonc1126',
  'answers': {'297': [0],
   '299': [0, 1, 3],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [0],
   '356': [1],
   'finished': True}},
 {'id': 1088,
  'nick': 'pmj7493',
  'answers': {'297': [0],
   '299': [0],
   '300': [0],
   '301': [1],
   '302': [2],
   '303': [4],
   '304': [0],
   '305': [0],
   '306': [1],
   '307': [1],
   'finished': True}},
 {'id': 874,
  'nick': 'gl021012',
  'answers': {'297': [0],
   '299': [0, 1, 2],
   '300': [0],
   '301': [1],
   '302': [1],
   '303': [0],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [0],
   '356': [2],
   'finished': True}},
 {'id': 198,
  'nick': '슈프림걸',
  'answers': {'297': [0],
   '299': [0],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [0],
   'finished': True}},
 {'id': 130,
  'nick': 'hmkoo',
  'answers': {'297': [0],
   '299': [1, 0],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [0],
   '307': [0],
   'finished': True}},
 {'id': 924,
  'nick': 'sooho28956',
  'answers': {'297': [1],
   '299': [4, 0],
   '300': [1],
   '301': [0],
   '302': [1, 4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [0],
   'finished': True}},
 {'id': 965,
  'nick': 'godtls14',
  'answers': {'297': [0],
   '299': [1],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [0],
   '356': [1],
   'finished': True}},
 {'id': 946,
  'nick': 'annapipi',
  'answers': {'297': [0],
   '299': [0, 1],
   '300': [0],
   '301': [1],
   '302': [3],
   '303': [3, 0],
   '304': [0],
   '305': [1],
   '306': [1],
   '307': [0],
   'finished': True}},
 {'id': 980,
  'nick': 'seo1389',
  'answers': {'297': [0],
   '299': [1],
   '300': [1],
   '301': [1],
   '302': [2],
   '303': [2],
   '304': [0],
   '305': [1],
   '306': [0],
   '307': [0],
   '356': [1],
   'finished': True}},
 {'id': 1104,
  'nick': 'fatrapboy',
  'answers': {'297': [0],
   '299': [0, 1, 2],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [1],
   '356': [3],
   'finished': True}},
 {'id': 1001,
  'nick': 'jsk2878',
  'answers': {'297': [1],
   '299': [0],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [0],
   'finished': True}},
 {'id': 1080,
  'nick': 'zx369393',
  'answers': {'297': [0],
   '299': [0, 2],
   '300': [1],
   '301': [1],
   '302': [0, 4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [0],
   '307': [0],
   'finished': True}},
 {'id': 893,
  'nick': 'akueey',
  'answers': {'297': [0],
   '299': [0],
   '300': [0],
   '301': [1],
   '302': [1],
   '303': [2],
   '304': [0],
   '305': [1],
   '306': [1],
   '307': [0],
   '356': [3],
   'finished': True}},
 {'id': 956,
  'nick': 'hey2208',
  'answers': {'297': [1],
   '299': [0],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [1],
   '356': [5],
   'finished': True}},
 {'id': 660,
  'nick': 'gentlebaek89',
  'answers': {'297': [0],
   '299': [0, 1, 3],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [0, 1],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [1],
   'finished': True}},
 {'id': 906,
  'nick': '네리',
  'answers': {'297': [1],
   '299': [0],
   '300': [1],
   '301': [1],
   '302': [3],
   '303': [2],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [0],
   '356': [1],
   'finished': True}},
 {'id': 1081,
  'nick': 'qsw9208',
  'answers': {'297': [1],
   '299': [3],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [0],
   'finished': True}},
 {'id': 804,
  'nick': 'zawon22',
  'answers': {'297': [1],
   '299': [1],
   '300': [1],
   '301': [0],
   '302': [1],
   '303': [3],
   '304': [0],
   '305': [1],
   '306': [0],
   '307': [0],
   '356': [1],
   'finished': True}},
 {'id': 638,
  'nick': 'quantlab',
  'answers': {'297': [0],
   '299': [1, 2],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [1],
   '356': [5],
   'finished': True}},
 {'id': 1119,
  'nick': 'amazon016',
  'answers': {'297': [1],
   '299': [0],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [0],
   '306': [1],
   '307': [1],
   '356': [4],
   'finished': True}},
 {'id': 829,
  'nick': 'fiii0000',
  'answers': {'297': [1],
   '299': [1],
   '300': [1],
   '301': [1],
   '302': [0],
   '303': [4],
   '305': [0],
   '306': [0],
   '307': [0],
   '356': [2],
   'finished': True}},
 {'id': 1129,
  'nick': 'koxngwith',
  'answers': {'297': [1],
   '299': [0, 2],
   '300': [1],
   '301': [1],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [1],
   '356': [2],
   'finished': True}},
 {'id': 832,
  'nick': 'skyehdgnl',
  'answers': {'297': [1],
   '299': [3],
   '300': [1],
   '301': [1],
   '302': [3],
   '303': [3],
   '304': [1],
   '305': [1],
   '306': [0],
   '307': [0],
   '356': [4],
   'finished': True}},
 {'id': 983,
  'nick': 'rinahuh',
  'answers': {'297': [0],
   '299': [1],
   '300': [0],
   '301': [1],
   '302': [3],
   '303': [3],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [1],
   '356': [1],
   'finished': True}},
 {'id': 1128,
  'nick': 'dobill',
  'answers': {'297': [1],
   '299': [0],
   '300': [1],
   '301': [0],
   '302': [4],
   '303': [4],
   '304': [1],
   '305': [1],
   '306': [1],
   '307': [0],
   '356': [5],
   'finished': True}}]

In [45]:
df = pd.DataFrame(answers_4); df

      id              nick                                            answers
0    933           hsk1230  {'297': [0], '299': [2, 0], '300': [0], '301':...
1   1000           forjin3  {'297': [0], '299': [0], '300': [0], '301': [1...
2    970            d0hwan  {'297': [0], '299': [1, 0], '300': [0], '301':...
3    937         gunhye100  {'297': [0], '299': [0], '300': [1], '301': [1...
4   1082          didtks26  {'297': [1], '299': [4], '300': [1], '301': [1...
5    425  Seoul_domestic_m  {'297': [0], '299': [4], '300': [1], '301': [0...
6    940           kimjjmm  {'297': [0], '299': [4], '300': [1], '301': [1...
7    643        giseok1929  {'297': [1], '299': [0], '300': [0], '301': [1...
8    105         leesuyong  {'297': [0], '299': [0, 3, 1], '300': [1], '30...
9    797       kojedong287  {'297': [1], '299': [4], '300': [1], '301': [0...
10   612       soyeonc1126  {'297': [0], '299': [0, 1, 3], '300': [1], '30...
11  1088           pmj7493  {'297': [0], '299': [0], '300': [0], '301': [1...
12   874          gl021012  {'297': [0], '299': [0, 1, 2], '300': [0], '30...
13   198              슈프림걸  {'297': [0], '299': [0], '300': [1], '301': [1...
14   130             hmkoo  {'297': [0], '299': [1, 0], '300': [1], '301':...
15   924        sooho28956  {'297': [1], '299': [4, 0], '300': [1], '301':...
16   965          godtls14  {'297': [0], '299': [1], '300': [1], '301': [0...
17   946          annapipi  {'297': [0], '299': [0, 1], '300': [0], '301':...
18   980           seo1389  {'297': [0], '299': [1], '300': [1], '301': [1...
19  1104         fatrapboy  {'297': [0], '299': [0, 1, 2], '300': [1], '30...
20  1001           jsk2878  {'297': [1], '299': [0], '300': [1], '301': [1...
21  1080          zx369393  {'297': [0], '299': [0, 2], '300': [1], '301':...
22   893            akueey  {'297': [0], '299': [0], '300': [0], '301': [1...
23   956           hey2208  {'297': [1], '299': [0], '300': [1], '301': [1...
24   660      gentlebaek89  {'297': [0], '299': [0, 1, 3], '300': [1], '30...
25   906                네리  {'297': [1], '299': [0], '300': [1], '301': [1...
26  1081           qsw9208  {'297': [1], '299': [3], '300': [1], '301': [1...
27   804           zawon22  {'297': [1], '299': [1], '300': [1], '301': [0...
28   638          quantlab  {'297': [0], '299': [1, 2], '300': [1], '301':...
29  1119         amazon016  {'297': [1], '299': [0], '300': [1], '301': [0...
30   829          fiii0000  {'297': [1], '299': [1], '300': [1], '301': [1...
31  1129         koxngwith  {'297': [1], '299': [0, 2], '300': [1], '301':...
32   832         skyehdgnl  {'297': [1], '299': [3], '300': [1], '301': [1...
33   983           rinahuh  {'297': [0], '299': [1], '300': [0], '301': [1...
34  1128            dobill  {'297': [1], '299': [0], '300': [1], '301': [0...

In [46]:
def conv(x):
    try:
        if type(x)==bool:
            return x
        
        str_x = [str(n) for n in x]
        return ', '.join(str_x)
    
    except:
        return ''
    
df2 = pd.DataFrame(list(df['answers'].values)).applymap(conv); df2

   297      299 300 301   302   303 304 305 306 307  finished 356
0    0     2, 0   0   0     2     0   0   1   1   1      True
1    0        0   0   1     4     4   1   1   1   1      True   5
2    0     1, 0   0   1  2, 1     2   1   1   1   0      True
3    0        0   1   1     4     4   1   0   1   1      True   5
4    1        4   1   1     4     4   1   0   1   1      True
5    0        4   1   0     4     4   1   1   1   1      True   3
6    0        4   1   1     4     4   1   0   0   1      True
7    1        0   0   1     4  0, 4   1   1   0   0      True
8    0  0, 3, 1   1   0  2, 1     0   1   0   1   0      True   5
9    1        4   1   0     4     4   1   1   1          True
10   0  0, 1, 3   1   1     4     4   1   1   1   0      True   1
11   0        0   0   1     2     4   0   0   1   1      True
12   0  0, 1, 2   0   1     1     0   1   0   1   0      True   2
13   0        0   1   1     4     4   1   0   1   0      True
14   0     1, 0   1   1     4     4   1   1   0   0      True
15   1     4, 0   1   0  1, 4     4   1   1   1   0      True
16   0        1   1   0     4     4   1   0   1   0      True   1
17   0     0, 1   0   1     3  3, 0   0   1   1   0      True
18   0        1   1   1     2     2   0   1   0   0      True   1
19   0  0, 1, 2   1   0     4     4   1   1   1   1      True   3
20   1        0   1   1     4     4   1   0   1   0      True
21   0     0, 2   1   1  0, 4     4   1   1   0   0      True
22   0        0   0   1     1     2   0   1   1   0      True   3
23   1        0   1   1     4     4   1   0   1   1      True   5
24   0  0, 1, 3   1   0     4  0, 1   1   0   1   1      True
25   1        0   1   1     3     2   1   1   1   0      True   1
26   1        3   1   1     4     4   1   0   1   0      True
27   1        1   1   0     1     3   0   1   0   0      True   1
28   0     1, 2   1   0     4     4   1   0   1   1      True   5
29   1        0   1   0     4     4   1   0   1   1      True   4
30   1        1   1   1     0     4       0   0   0      True   2
31   1     0, 2   1   1     4     4   1   1   1   1      True   2
32   1        3   1   1     3     3   1   1   0   0      True   4
33   0        1   0   1     3     3   1   1   1   1      True   1
34   1        0   1   0     4     4   1   1   1   0      True   5

In [47]:
df3 = pd.concat([df, df2], axis=1).drop(['answers'], axis=1); df3

,id,nick,297,299,300,301,302,303,304,305,306,307,finished,356
0,933,hsk1230,0,"2, 0",0,0,2,0,0,1,1,1,True,
1,1000,forjin3,0,0,0,1,4,4,1,1,1,1,True,5
2,970,d0hwan,0,"1, 0",0,1,"2, 1",2,1,1,1,0,True,
3,937,gunhye100,0,0,1,1,4,4,1,0,1,1,True,5
4,1082,didtks26,1,4,1,1,4,4,1,0,1,1,True,
5,425,Seoul_domestic_m,0,4,1,0,4,4,1,1,1,1,True,3
6,940,kimjjmm,0,4,1,1,4,4,1,0,0,1,True,
7,643,giseok1929,1,0,0,1,4,"0, 4",1,1,0,0,True,
8,105,leesuyong,0,"0, 3, 1",1,0,"2, 1",0,1,0,1,0,True,5
9,797,kojedong287,1,4,1,0,4,4,1,1,1,,True,
10,612,soyeonc1126,0,"0, 1, 3",1,1,4,4,1,1,1,0,True,1
11,1088,pmj7493,0,0,0,1,2,4,0,0,1,1,True,
12,874,gl021012,0,"0, 1, 2",0,1,1,0,1,0,1,0,True,2
13,198,슈프림걸,0,0,1,1,4,4,1,0,1,0,True,
14,130,hmkoo,0,"1, 0",1,1,4,4,1,1,0,0,True,
15,924,sooho28956,1,"4, 0",1,0,"1, 4",4,1,1,1,0,True,
16,965,godtls14,0,1,1,0,4,4,1,0,1,0,True,1
17,946,annapipi,0,"0, 1",0,1,3,"3, 0",0,1,1,0,True,
18,980,seo1389,0,1,1,1,2,2,0,1,0,0,True,1
19,1104,fatrapboy,0,"0, 1, 2",1,0,4,4,1,1,1,1,True,3
20,1001,jsk2878,1,0,1,1,4,4,1,0,1,0,True,
21,1080,zx369393,0,"0, 2",1,1,"0, 4",4,1,1,0,0,True,
22,893,akueey,0,0,0,1,1,2,0,1,1,0,True,3
23,956,hey2208,1,0,1,1,4,4,1,0,1,1,True,5
24,660,gentlebaek89,0,"0, 1, 3",1,0,4,"0, 1",1,0,1,1,True,
25,906,네리,1,0,1,1,3,2,1,1,1,0,True,1
26,1081,qsw9208,1,3,1,1,4,4,1,0,1,0,True,
27,804,zawon22,1,1,1,0,1,3,0,1,0,0,True,1
28,638,quantlab,0,"1, 2",1,0,4,4,1,0,1,1,True,5
29,1119,amazon016,1,0,1,0,4,4,1,0,1,1,True,4
30,829,fiii0000,1,1,1,1,0,4,,0,0,0,True,2
31,1129,koxngwith,1,"0, 2",1,1,4,4,1,1,1,1,True,2
32,832,skyehdgnl,1,3,1,1,3,3,1,1,0,0,True,4
33,983,rinahuh,0,1,0,1,3,3,1,1,1,1,True,1
34,1128,dobill,1,0,1,0,4,4,1,1,1,0,True,5

In [48]:
df3.to_excel('drmartens_b_result_final.xlsx')

In [60]:
items = list(df3.columns)
items.remove('id')
items.remove('nick')
items.remove('finished')
items

['297', '299', '300', '301', '302', '303', '304', '305', '306', '307', '356']

In [61]:
df4 = pd.DataFrame(m.ResearchItem.objects.filter(pk__in=items).values('id','type','text')); df4

     id type                             text
0   299   MC                    가치소비를 하는 이유는?
1   302   MC               구매하신 비건 제품은 무엇인가요?
2   303   MC               구매하시게 된 경로는 무엇인가요?
3   307   OX  닥터마틴에서 비건슈즈를 출시한다면 구매의사가 있으신가요?
4   297   OX                  가치소비에 대해 아시나요??
5   300   OX               비건제품을 구매하신 적이 있나요?
6   306   OX                닥터마틴의 비건슈즈를 아시나요?
7   304   OX        비건소비를 패션에도 실천하신 적이 있으신가요?
8   301   AB                비건에 관심있는 당신의 성별은?
9   305   AB                     비건슈즈가 출시된다면?
10  356   MC                비건에 관심있는 당신의 나이는?

In [62]:
df4.to_excel('drmartens_b_items.xlsx')

# 포인트 현황

In [3]:
memb_list = ['quantlab@kakao.com',
'gem763@gmail.com',
'sejin76@nate.com',
'magrittelim@gmail.com',
'magrittelim@naver.com',
'smilekhm@gmail.com',
'hmkoo@kakao.com',
'giseok1929@daum.net',
'gentlebaek89@gmail.com',
'leesuyong@hotmail.com']

In [4]:
wallet_stat = []
for w in tqdm(m.Wallet.objects.all()[:]):
    if w.whose_type == 'boo':
        wallet_stat.append({
            'whose': str(w.whose), 
            'n_transaction': w.n_transaction, 
            'inflow': w.inflow, 
            'outflow': w.outflow, 
            'amount': w.amount
        })

  0%|          | 0/549 [00:00<?, ?it/s]

In [5]:
wallet_stat

[{'whose': 'quantlab | quantlab@kakao.com',
  'n_transaction': 1176,
  'inflow': 56877,
  'outflow': 10785,
  'amount': 46092},
 {'whose': '모이버 | moiber@moiber.com',
  'n_transaction': 87488,
  'inflow': 11,
  'outflow': 778744,
  'amount': -778733},
 {'whose': '홈마 | quantlab@kakao.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Seoul_domestic_m | magrittelim@gmail.com',
  'n_transaction': 2012,
  'inflow': 108412,
  'outflow': 23710,
  'amount': 84702},
 {'whose': 'minimal_ootd | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'giseok1929 | giseok1929@daum.net',
  'n_transaction': 444,
  'inflow': 57184,
  'outflow': 2060,
  'amount': 55124},
 {'whose': 'gentlebaek89 | gentlebaek89@gmail.com',
  'n_transaction': 1607,
  'inflow': 57453,
  'outflow': 0,
  'amount': 57453},
 {'whose': 'smilekhm | smilekhm@gmail.com',
  'n_transaction': 238,
  'inflow': 53086,
  'outflow': 5165,
  'amount': 47921},
 {'whose': 'Seoul_domestic_b | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'SEOUL_domestic_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'hrjjeon | hrjjeon@gmail.com',
  'n_transaction': 8,
  'inflow': 8,
  'outflow': 0,
  'amount': 8},
 {'whose': 'J.K. Maisine | bluenzin@gmail.com',
  'n_transaction': 166,
  'inflow': 2120,
  'outflow': 0,
  'amount': 2120},
 {'whose': 'temp | temp@daum.net',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'hoo_u | xogh8939@kakao.com',
  'n_transaction': 45,
  'inflow': 1018,
  'outflow': 576,
  'amount': 442},
 {'whose': 'eatself | eatself@naver.com',
  'n_transaction': 107,
  'inflow': 924,
  'outflow': 100,
  'amount': 824},
 {'whose': 'xogh8939 | xogh8939@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'jhepark | jhepark@npinvestment.co.kr',
  'n_transaction': 36,
  'inflow': 1656,
  'outflow': 711,
  'amount': 945},
 {'whose': '모이버 | contact@moiber.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'street_snap_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Street_hound | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': '슈프림걸 | angelica.yum@gmail.com',
  'n_transaction': 1072,
  'inflow': 5420,
  'outflow': 333,
  'amount': 5087},
 {'whose': 'leesuyong | leesuyong@hotmail.com',
  'n_transaction': 560,
  'inflow': 55484,
  'outflow': 12535,
  'amount': 42949},
 {'whose': '부캐 없~~다 | gap1212@naver.com',
  'n_transaction': 431,
  'inflow': 4341,
  'outflow': 411,
  'amount': 3930},
 {'whose': 'ssbae | ssbae@kakao.com',
  'n_transaction': 100,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': '30632phb | 30632phb@naver.com',
  'n_transaction': 13,
  'inflow': 350,
  'outflow': 0,
  'amount': 350},
 {'whose': 'Seoul_domestic_h | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rainycoke | rainycoke@kakao.com',
  'n_transaction': 2,
  'inflow': 330,
  'outflow': 0,
  'amount': 330},
 {'whose': 'BRAND | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rullu_go | rullu_go@naver.com',
  'n_transaction': 1,
  'inflow': 30,
  'outflow': 0,
  'amount': 30},
 {'whose': 'spacewz83 | spacewz83@naver.com',
  'n_transaction': 106,
  'inflow': 440,
  'outflow': 209,
  'amount': 231},
 {'whose': 'ssopie1 | ssopie1@naver.com',
  'n_transaction': 8,
  'inflow': 223,
  'outflow': 0,
  'amount': 223},
 {'whose': '존잘 | hrjeon@hanmail.net',
  'n_transaction': 17,
  'inflow': 1692,
  'outflow': 100,
  'amount': 1592},
 {'whose': 'hmkoo | hmkoo@kakao.com',
  'n_transaction': 147,
  'inflow': 3105,
  'outflow': 661,
  'amount': 2444},
 {'whose': 'Celeb_snaps_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'park_dongho02 | park_dongho02@eland.co.kr',
  'n_transaction': 25,
  'inflow': 661,
  'outflow': 0,
  'amount': 661},
 {'whose': '초보에용 | magrittelim@naver.com',
  'n_transaction': 9,
  'inflow': 18,
  'outflow': 0,
  'amount': 18},
 {'whose': 'jay_0117tak | jay_0117tak@yahoo.co.kr',
  'n_transaction': 105,
  'inflow': 750,
  'outflow': 0,
  'amount': 750},
 {'whose': 'yangjee1207 | yangjee1207@hanmail.net',
  'n_transaction': 100,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'young_ee81 | young_ee81@hotmail.com',
  'n_transaction': 3,
  'inflow': 340,
  'outflow': 0,
  'amount': 340},
 {'whose': 'soulman80 | soulman80@naver.com',
  'n_transaction': 24,
  'inflow': 727,
  'outflow': 0,
  'amount': 727},
 {'whose': 'pbc97020 | pbc97020@naver.com',
  'n_transaction': 5,
  'inflow': 5,
  'outflow': 0,
  'amount': 5},
 {'whose': 'dreamistar7 | dreamistar7@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'liokjkr | liokjkr@nate.com',
  'n_transaction': 93,
  'inflow': 2120,
  'outflow': 272,
  'amount': 1848},
 {'whose': 'thfk3333 | thfk3333@gmail.com',
  'n_transaction': 123,
  'inflow': 1140,
  'outflow': 600,
  'amount': 540},
 {'whose': 'yupbi2 | yupbi2@naver.com',
  'n_transaction': 1,
  'inflow': 300,
  'outflow': 0,
  'amount': 300},
 {'whose': 'slue696 | slue696@naver.com',
  'n_transaction': 115,
  'inflow': 500,
  'outflow': 0,
  'amount': 500},
 {'whose': 'sye.roh | sye.roh@gmail.com',
  'n_transaction': 10,
  'inflow': 733,
  'outflow': 111,
  'amount': 622},
 {'whose': 'lolol.kalee | lolol.kalee@gmail.com',
  'n_transaction': 48,
  'inflow': 385,
  'outflow': 0,
  'amount': 385},
 {'whose': 'youngsunlee | youngsunlee@kakao.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'ssopie | ssopie@gmail.com',
  'n_transaction': 142,
  'inflow': 1608,
  'outflow': 986,
  'amount': 622},
 {'whose': 'cuorange | cuorange@ithcity.com',
  'n_transaction': 39,
  'inflow': 437,
  'outflow': 0,
  'amount': 437},
 {'whose': 'goosriya | goosriya@gmail.com',
  'n_transaction': 37,
  'inflow': 104,
  'outflow': 0,
  'amount': 104},
 {'whose': 'holykorea | holykorea@paran.com',
  'n_transaction': 103,
  'inflow': 420,
  'outflow': 0,
  'amount': 420},
 {'whose': 'selectshop_md | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'seyoungne | seyoungne@naver.com',
  'n_transaction': 31,
  'inflow': 377,
  'outflow': 0,
  'amount': 377},
 {'whose': 'patima506 | patima506@hotmail.com',
  'n_transaction': 230,
  'inflow': 691,
  'outflow': 0,
  'amount': 691},
 {'whose': 'soyeonc1126 | soyeonc1126@gmail.com',
  'n_transaction': 879,
  'inflow': 5930,
  'outflow': 672,
  'amount': 5258},
 {'whose': 'sw4588 | sw4588@naver.com',
  'n_transaction': 6754,
  'inflow': 8180,
  'outflow': 4100,
  'amount': 4080},
 {'whose': 'hongik07 | hongik07@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'wonjun_k | wonjun_k@hotmail.com',
  'n_transaction': 35,
  'inflow': 633,
  'outflow': 0,
  'amount': 633},
 {'whose': 'eunykg | eunykg@nate.com',
  'n_transaction': 19,
  'inflow': 733,
  'outflow': 0,
  'amount': 733},
 {'whose': 'dkim43 | dkim43@pratt.edu',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'Trend_cardet_h | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'jupark0313 | jupark0313@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Seoul_celebrity_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'daeik | daeik@naver.com',
  'n_transaction': 6,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'jueun0618 | jueun0618@gmail.com',
  'n_transaction': 22,
  'inflow': 223,
  'outflow': 66,
  'amount': 157},
 {'whose': 'se05021 | se05021@naver.com',
  'n_transaction': 47,
  'inflow': 1128,
  'outflow': 99,
  'amount': 1029},
 {'whose': 'isjm0828 | isjm0828@hanmail.net',
  'n_transaction': 36,
  'inflow': 827,
  'outflow': 0,
  'amount': 827},
 {'whose': 'dudud1206 | dudud1206@naver.com',
  'n_transaction': 98,
  'inflow': 505,
  'outflow': 0,
  'amount': 505},
 {'whose': 'easyname49 | easyname49@naver.com',
  'n_transaction': 27,
  'inflow': 362,
  'outflow': 0,
  'amount': 362},
 {'whose': 'omupingu | omupingu@naver.com',
  'n_transaction': 20,
  'inflow': 328,
  'outflow': 0,
  'amount': 328},
 {'whose': '212me2u2 | 212me2u2@hanmail.net',
  'n_transaction': 3,
  'inflow': 430,
  'outflow': 0,
  'amount': 430},
 {'whose': 'st37372 | st37372@daum.net',
  'n_transaction': 3,
  'inflow': 12,
  'outflow': 0,
  'amount': 12},
 {'whose': '9410252 | 9410252@naver.com',
  'n_transaction': 16,
  'inflow': 170,
  'outflow': 0,
  'amount': 170},
 {'whose': 'luv4sky | luv4sky@naver.com',
  'n_transaction': 291,
  'inflow': 2357,
  'outflow': 0,
  'amount': 2357},
 {'whose': 'mini_daily | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'people0917 | people0917@naver.com',
  'n_transaction': 25,
  'inflow': 1660,
  'outflow': 0,
  'amount': 1660},
 {'whose': 'shp7408 | shp7408@naver.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'wkdsks9999 | wkdsks9999@naver.com',
  'n_transaction': 102,
  'inflow': 430,
  'outflow': 0,
  'amount': 430},
 {'whose': '까불덜마 | gem763@gmail.com',
  'n_transaction': 13,
  'inflow': 330,
  'outflow': 0,
  'amount': 330},
 {'whose': 'msmania4 | msmania4@naver.com',
  'n_transaction': 16,
  'inflow': 298,
  'outflow': 0,
  'amount': 298},
 {'whose': 'fredasd0120 | fredasd0120@gmail.com',
  'n_transaction': 43,
  'inflow': 511,
  'outflow': 387,
  'amount': 124},
 {'whose': 'mgmj4456 | mgmj4456@naver.com',
  'n_transaction': 23,
  'inflow': 472,
  'outflow': 365,
  'amount': 107},
 {'whose': 'leeck722 | leeck722@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'ruintears | ruintears@gmail.com',
  'n_transaction': 9,
  'inflow': 710,
  'outflow': 0,
  'amount': 710},
 {'whose': 'jylee118218 | jylee118218@naver.com',
  'n_transaction': 362,
  'inflow': 1249,
  'outflow': 464,
  'amount': 785},
 {'whose': 'ska9460 | ska9460@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'sohee991110 | sohee991110@gmail.com',
  'n_transaction': 107,
  'inflow': 1100,
  'outflow': 0,
  'amount': 1100},
 {'whose': 'hyunjinam1105 | hyunjinam1105@hotmail.com',
  'n_transaction': 34,
  'inflow': 68,
  'outflow': 0,
  'amount': 68},
 {'whose': 'aqkrcndtls | aqkrcndtls@naver.com',
  'n_transaction': 8,
  'inflow': 740,
  'outflow': 0,
  'amount': 740},
 {'whose': 'tmyum | tmyum@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'kkorujang | kkorujang@naver.com',
  'n_transaction': 227,
  'inflow': 1060,
  'outflow': 177,
  'amount': 883},
 {'whose': 'dhdbwls3360 | dhdbwls3360@naver.com',
  'n_transaction': 4,
  'inflow': 370,
  'outflow': 0,
  'amount': 370},
 {'whose': 'parkhd0125 | parkhd0125@naver.com',
  'n_transaction': 128,
  'inflow': 1737,
  'outflow': 333,
  'amount': 1404},
 {'whose': 'kghtu | kghtu@naver.com',
  'n_transaction': 128,
  'inflow': 615,
  'outflow': 0,
  'amount': 615},
 {'whose': 'ehdwp7915 | ehdwp7915@gmail.com',
  'n_transaction': 5,
  'inflow': 940,
  'outflow': 0,
  'amount': 940},
 {'whose': 'runseoul | runseoul@gmail.com',
  'n_transaction': 103,
  'inflow': 170,
  'outflow': 0,
  'amount': 170},
 {'whose': 'dbgudfuf | dbgudfuf@naver.com',
  'n_transaction': 44,
  'inflow': 39,
  'outflow': 0,
  'amount': 39},
 {'whose': '365ha | 365ha@jr.naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'yellowin | yellowin@skmns.co.kr',
  'n_transaction': 1,
  'inflow': 1,
  'outflow': 0,
  'amount': 1},
 {'whose': 'wonoh423 | wonoh423@gmail.com',
  'n_transaction': 23,
  'inflow': 32,
  'outflow': 0,
  'amount': 32},
 {'whose': 'yellowin20212021 | yellowin20212021@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'tristan0229 | tristan0229@hanmail.net',
  'n_transaction': 138,
  'inflow': 125,
  'outflow': 0,
  'amount': 125},
 {'whose': 'sua77331 | sua77331@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'max-kim | max-kim@hanmail.net',
  'n_transaction': 4,
  'inflow': 340,
  'outflow': 100,
  'amount': 240},
 {'whose': '1일1꽝 | sejin76@nate.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'ARIES_fan | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'yoppei1001 | yoppei1001@gmail.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'jhsong6468 | jhsong6468@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'aksen2828 | aksen2828@naver.com',
  'n_transaction': 17,
  'inflow': 26,
  'outflow': 0,
  'amount': 26},
 {'whose': 'wldhs99 | wldhs99@hotmail.com',
  'n_transaction': 51,
  'inflow': 388,
  'outflow': 0,
  'amount': 388},
 {'whose': '7999j | 7999j@hanmail.net',
  'n_transaction': 53,
  'inflow': 118,
  'outflow': 0,
  'amount': 118},
 {'whose': 'ijinthehouse | ijinthehouse@hotmail.com',
  'n_transaction': 2,
  'inflow': 130,
  'outflow': 0,
  'amount': 130},
 {'whose': 'jisuzzang401 | jisuzzang401@hanmail.net',
  'n_transaction': 106,
  'inflow': 250,
  'outflow': 0,
  'amount': 250},
 {'whose': '1stfeel | 1stfeel@hanmail.net',
  'n_transaction': 4,
  'inflow': 370,
  'outflow': 0,
  'amount': 370},
 {'whose': 'cks4789 | cks4789@jr.naver.com',
  'n_transaction': 21,
  'inflow': 120,
  'outflow': 0,
  'amount': 120},
 {'whose': 'zoon98 | zoon98@hanmail.net',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'kimseil312 | kimseil312@naver.com',
  'n_transaction': 5,
  'inflow': 110,
  'outflow': 0,
  'amount': 110},
 {'whose': 'via_ek | via_ek@naver.com',
  'n_transaction': 247,
  'inflow': 3319,
  'outflow': 0,
  'amount': 3319},
 {'whose': 'llltwtlll | llltwtlll@nate.com',
  'n_transaction': 74,
  'inflow': 90,
  'outflow': 0,
  'amount': 90},
 {'whose': 'jungsi0923 | jungsi0923@naver.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'lily15987 | lily15987@nate.com',
  'n_transaction': 23,
  'inflow': 32,
  'outflow': 0,
  'amount': 32},
 {'whose': 'fairydentist | fairydentist@gmail.com',
  'n_transaction': 12,
  'inflow': 12,
  'outflow': 0,
  'amount': 12},
 {'whose': 'space-wz | space-wz@nate.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'holko | holko@naver.com',
  'n_transaction': 18,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'fho2014 | fho2014@hanmail.net',
  'n_transaction': 117,
  'inflow': 200,
  'outflow': 0,
  'amount': 200},
 {'whose': 'shiz85 | shiz85@kakao.com',
  'n_transaction': 15,
  'inflow': 62,
  'outflow': 0,
  'amount': 62},
 {'whose': 'labong86 | labong86@kakao.com',
  'n_transaction': 4,
  'inflow': 80,
  'outflow': 0,
  'amount': 80},
 {'whose': 'julie289 | julie289@naver.com',
  'n_transaction': 14,
  'inflow': 171,
  'outflow': 0,
  'amount': 171},
 {'whose': 'hipster | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rnstjr79 | rnstjr79@hanmail.net',
  'n_transaction': 542,
  'inflow': 2430,
  'outflow': 1930,
  'amount': 500},
 {'whose': 'hippyst_ | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'kelifrona | kelifrona@naver.com',
  'n_transaction': 935,
  'inflow': 2820,
  'outflow': 0,
  'amount': 2820},
 {'whose': 'kingda0524 | kingda0524@gmail.com',
  'n_transaction': 273,
  'inflow': 2241,
  'outflow': 0,
  'amount': 2241},
 {'whose': 'kojedong287 | kojedong287@naver.com',
  'n_transaction': 5513,
  'inflow': 10080,
  'outflow': 4100,
  'amount': 5980},
 {'whose': 'qkrwogus5619 | qkrwogus5619@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'shlily414 | shlily414@naver.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'PORTER_fan | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'dbsrhs8524 | dbsrhs8524@hanmail.net',
  'n_transaction': 20,
  'inflow': 1420,
  'outflow': 0,
  'amount': 1420},
 {'whose': 'rlfdud6212 | rlfdud6212@naver.com',
  'n_transaction': 105,
  'inflow': 240,
  'outflow': 143,
  'amount': 97},
 {'whose': 'sunwoo1325 | sunwoo1325@nate.com',
  'n_transaction': 10,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'gasbagas | gasbagas@naver.com',
  'n_transaction': 9,
  'inflow': 146,
  'outflow': 0,
  'amount': 146},
 {'whose': 'zawon22 | zawon22@naver.com',
  'n_transaction': 4823,
  'inflow': 8873,
  'outflow': 0,
  'amount': 8873},
 {'whose': 'uksaar | uksaar@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'goai222 | goai222@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'jsoo6218 | jsoo6218@naver.com',
  'n_transaction': 196,
  'inflow': 2326,
  'outflow': 222,
  'amount': 2104},
 {'whose': 'gunhi0219 | gunhi0219@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'gksekgml7057 | gksekgml7057@naver.com',
  'n_transaction': 41,
  'inflow': 50,
  'outflow': 0,
  'amount': 50},
 {'whose': 'joj2121 | joj2121@naver.com',
  'n_transaction': 24,
  'inflow': 33,
  'outflow': 0,
  'amount': 33},
 {'whose': 'lwsh12 | lwsh12@nate.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'hojun7230 | hojun7230@gmail.com',
  'n_transaction': 94,
  'inflow': 165,
  'outflow': 111,
  'amount': 54},
 {'whose': 'michelle4202 | michelle4202@naver.com',
  'n_transaction': 18,
  'inflow': 750,
  'outflow': 0,
  'amount': 750},
 {'whose': 'heetae002 | heetae002@naver.com',
  'n_transaction': 285,
  'inflow': 1965,
  'outflow': 1905,
  'amount': 60},
 {'whose': 'dmsdks6342 | dmsdks6342@naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'cofla413 | cofla413@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'lws4633 | lws4633@naver.com',
  'n_transaction': 16,
  'inflow': 1004,
  'outflow': 0,
  'amount': 1004},
 {'whose': 'dojun1118 | dojun1118@naver.com',
  'n_transaction': 5,
  'inflow': 340,
  'outflow': 0,
  'amount': 340},
 {'whose': 'gensay2u | gensay2u@nate.com',
  'n_transaction': 25,
  'inflow': 21,
  'outflow': 0,
  'amount': 21},
 {'whose': 'noahpark202 | noahpark202@gmail.com',
  'n_transaction': 281,
  'inflow': 1366,
  'outflow': 1241,
  'amount': 125},
 {'whose': 'ksw4856 | ksw4856@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'iceberg9594 | iceberg9594@naver.com',
  'n_transaction': 5,
  'inflow': 380,
  'outflow': 0,
  'amount': 380},
 {'whose': 'gktmdvy12 | gktmdvy12@nate.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'mq_j | mq_j@naver.com',
  'n_transaction': 3,
  'inflow': 90,
  'outflow': 0,
  'amount': 90},
 {'whose': 'mk30033 | mk30033@naver.com',
  'n_transaction': 7,
  'inflow': 730,
  'outflow': 0,
  'amount': 730},
 {'whose': 'rlaalsdk375 | rlaalsdk375@gmail.com',
  'n_transaction': 18,
  'inflow': 27,
  'outflow': 0,
  'amount': 27},
 {'whose': 'jinhyunh97 | jinhyunh97@naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'ehenrrks0921 | ehenrrks0921@naver.com',

In [6]:
df = pd.DataFrame(wallet_stat).sort_values(by=['amount'], ascending=False); df

,whose,n_transaction,inflow,outflow,amount
3,Seoul_domestic_m | magrittelim@gmail.com,2012,108412,23710,84702
6,gentlebaek89 | gentlebaek89@gmail.com,1607,57453,0,57453
5,giseok1929 | giseok1929@daum.net,444,57184,2060,55124
7,smilekhm | smilekhm@gmail.com,238,53086,5165,47921
0,quantlab | quantlab@kakao.com,1176,56877,10785,46092
...,...,...,...,...,...
456,windtk | windtk@naver.com,0,0,0,0
104,sua77331 | sua77331@gmail.com,0,0,0,0
33,Celeb_snaps_s | magrittelim@gmail.com,0,0,0,0
144,uksaar | uksaar@naver.com,0,0,0,0
1,모이버 | moiber@moiber.com,87488,11,778744,-778733

In [9]:
df.iloc[6:].iloc[:20]

,whose,n_transaction,inflow,outflow,amount
326,rinahuh | rinahuh@naver.com,345,9880,0,9880
172,skyehdgnl | skyehdgnl@naver.com,4926,9784,0,9784
143,zawon22 | zawon22@naver.com,4823,8873,0,8873
276,hsk1230 | hsk1230@hanmail.net,3948,8857,0,8857
280,gunhye100 | gunhye100@hanmail.net,4055,8300,0,8300
249,네리 | hyerenia@nate.com,125,8277,0,8277
343,forjin3 | forjin3@naver.com,3470,7801,0,7801
308,godtls14 | godtls14@nate.com,4080,7789,0,7789
135,kojedong287 | kojedong287@naver.com,5513,10080,4100,5980
267,sooho28956 | sooho28956@naver.com,1375,5860,0,5860
236,akueey | akueey@naver.com,640,5510,0,5510
56,soyeonc1126 | soyeonc1126@gmail.com,879,5930,672,5258
182,000924p | 000924p@daum.net,107,5180,0,5180
168,fiii0000 | fiii0000@naver.com,648,5169,0,5169
20,슈프림걸 | angelica.yum@gmail.com,1072,5420,333,5087
448,fatrapboy | fatrapboy@gmail.com,165,4570,0,4570
299,hey2208 | hey2208@hanmail.net,4081,8620,4100,4520
289,annapipi | annapipi@naver.com,134,4775,322,4453
332,theloki7 | theloki7@naver.com,2314,4283,0,4283
57,sw4588 | sw4588@naver.com,6754,8180,4100,4080

# 래플참여 현황

In [109]:
raffle_result = trans.filter(type=101).values('sender__boo__user__email', 'receiver__raffle__item__name', 'amount')

In [122]:
df = pd.DataFrame(raffle_result)
df.columns = ['유저','래플','참여']
df = df[~df['유저'].isin(memb_list)]

In [123]:
df.groupby(by=['래플','유저']).count()

                                            참여
래플                   유저
KINTO TUMBLER 350ML  dydwk231@naver.com      1
                     fredasd0120@gmail.com   1
                     heetae002@naver.com     7
                     jueun0618@gmail.com     1
                     jylee118218@naver.com   1
...                                         ..
오징어게임 프론트맨 가면        london1920h@naver.com   1
                     ssopie@gmail.com        1
                     thfk3333@gmail.com      2
존버 대용량 철인3종 수영가방 메시백 kimjjmm@hanmail.net     1
                     liokjkr@nate.com        1

[117 rows x 1 columns]

In [114]:
df.groupby(by=['래플','유저']).count().to_excel('raffle_stat_20211025.xlsx')

In [124]:
df.groupby(by=['래플','유저']).count().loc['오징어게임 프론트맨 가면'].sum()

참여    11
dtype: int64

In [15]:
wallet = m.Boo.objects.get(user__email='youngee202@naver.com').wallet; wallet

In [19]:
for t in m.Transaction.objects.filter(receiver__boo__user__email='youngee202@naver.com', type__in=[0,1]).order_by('-id'):
    #t.receiver = wallet
    #t.save()
    #break
    print(t.when, t.get_type_display())

2021-10-26 16:11:20.507327 매일밸런스게임
2021-10-26 16:11:17.449442 매일밸런스게임
2021-10-26 16:11:13.173979 매일밸런스게임
2021-10-26 16:11:03.283585 매일밸런스게임
2021-10-26 16:10:58.561916 매일밸런스게임
2021-10-26 16:10:56.880985 매일밸런스게임
2021-10-26 16:10:31.394980 매일밸런스게임
2021-10-26 16:10:24.252203 매일밸런스게임
2021-10-26 16:10:19.758004 매일밸런스게임
2021-10-26 16:10:14.385890 매일밸런스게임
2021-10-26 16:10:11.958464 매일밸런스게임
2021-10-26 16:10:07.489429 매일밸런스게임
2021-10-26 16:10:01.406676 매일밸런스게임
2021-10-26 16:09:54.376849 매일밸런스게임
2021-10-26 16:09:51.408353 매일밸런스게임
2021-10-26 16:09:42.526526 매일밸런스게임
2021-10-26 16:00:21.869166 출첵게임
2021-10-26 11:18:28.072287 출첵게임
2021-10-25 15:12:09.756881 출첵게임
2021-10-24 11:07:22.309387 출첵게임
2021-10-21 16:04:14.268578 출첵게임
2021-10-14 11:34:28.577910 출첵게임
2021-10-12 12:38:56.434321 매일밸런스게임
2021-10-12 12:37:42.962407 출첵게임
2021-10-09 19:46:47.661254 매일밸런스게임
2021-10-09 19:46:42.060080 매일밸런스게임
2021-10-09 19:46:30.154403 출첵게임
2021-09-26 13:29:26.204014 매일밸런스게임
2021-09-26 12:23:27.869999 매일밸런스게임
2021-09-26 10:56:56.888701 출첵게임
2021-09-25 17:56:01.867236 출첵게임