In [106]:
%load_ext autoreload
%autoreload

import io
import os
import sys
import django
import glob
import json
import re
import requests
from IPython.core.debugger import set_trace
from pathlib import Path
from django.core.files.base import ContentFile
from rest_framework import serializers
from tqdm.notebook import tqdm
from google.cloud import vision
from google.cloud import storage
from PIL import Image, ImageSequence
from gensim.models import Doc2Vec
from IPython.core.debugger import set_trace
import IPython
import collections
from googletrans import Translator
from google.cloud import translate_v2 as translate

parentdir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parentdir)
django.setup()

import getch.models as m
from django.db.models import F, Q, Sum, Count, Case, When, IntegerField, Value
from django.apps import apps
from django.conf import settings
from django_currentuser.middleware import get_current_user
from datetime import datetime, timedelta
import time
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [108]:
# trans = m.Transaction.objects.select_related('sender','receiver'); trans
trans = m.Transaction.objects.select_related(
    'sender',
    'sender__boo','sender__boo__user',
    'sender__raffle','sender__raffle__item',
    'sender__shoptem','sender__shoptem__item',
    'sender__coffeecoupon','sender__coffeecoupon__item',
    'sender__support','sender__support__brand',
    'receiver',
    'receiver__boo','receiver__boo__user',
    'receiver__raffle','receiver__raffle__item',
    'receiver__support','receiver__support__brand',
    'receiver__shoptem','receiver__shoptem__item',
    'receiver__coffeecoupon','receiver__coffeecoupon__item',
); trans

<QuerySet [<Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > STARBUCKS LAMP BK - 0 | 2021-08-07 20:37:53>, <Transaction: quantlab | quantlab@kakao.com > TAW&TOE ZEROVITY™ Flip Flop, SIZE M - 38000 | 2021-08-07 23:34:16>, <Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > JOHNBER | 존버 스포츠 | 2021-08-10 18:02:20>, <Transaction: quantlab | quantlab@kakao.com > BADBOY | 배드보이 | 2021-08-08 14:43:50>, <Transaction: quantlab | quantlab@kakao.com > NEW BALANCE 327, SIZE 240 - 109000 | 2021-08-10 21:38:13>, <Transaction: quantlab | quantlab@kakao.com > TOUCHGROUND | 터치그라운드 | 2021-08-08 14:43:11>, <Transaction: quantlab | quantlab@kakao.com > KINTO TUMBLER 350ML - 39000 | 2021-08-07 20:38:17>, <Transaction: quantlab | quantlab@kakao.com > POSTTO | 포스토 | 2021-08-06 16:21:02>, <Transaction: quantlab | quantlab@kakao.com > 스타벅스아이스 카페 아메리카노 T - 4100 | 2021-08-11 17:49:38>, <Transaction: quantlab | quantlab@kakao.com > 오징어게임 001번 티셔츠 - 30000 | 2021-10-01 12:05:45>, <Transaction: quantlab | quantlab@kakao.com > 오징어게임 001번 티셔츠 - 30000 | 2021-10-01 12:05:45>, <Transaction: quantlab | quantlab@kakao.com > 이마트24 디지털상품권 5,000원권 - 5000 | 2021-09-27 18:06:57>, <Transaction: quantlab | quantlab@kakao.com > 존버 대용량 철인3종 수영가방 메시백 - 29000 | 2021-10-20 20:40:20>, '...(remaining elements truncated)...']>

# 모든 트랜젝션 가져오기

In [3]:
trans_list = []
for _t in trans:
    tr = {}
    tr_type = _t.get_type_display()
    tr['user'] = str(_t.sender) if tr_type in ['래플','후원'] else str(_t.receiver)
    tr['when'] = str(_t.when.date())
    tr['type'] = tr_type
    tr['amount'] = -_t.amount if tr_type in ['래플','후원'] else _t.amount
    trans_list.append(tr)

# 트랜젝션 횟수 시계열

In [6]:
counts = pd.DataFrame(trans_list).groupby(['user','type','when']).count().unstack().fillna(0)
counts = counts.groupby('type').sum()[counts.columns[-29:-1]].drop(['첫방문환영','쇼핑','커피쿠폰','테스트 INFLOW']).astype('int64')
#counts.style.set_table_attributes('style="font-size: 10px"')
counts.T

type               관심스타일입력  관심아이템입력  기본정보입력  래플  리서치참여  매일밸런스게임  옷장넣기  출첵게임  \
       when
amount 2021-09-13        0        0       3   0     32      402     0    30
       2021-09-14        1        0       0   0      6      243     0    18
       2021-09-15        0        0       2   3     23      499     0    19
       2021-09-16        1        1       3   2     80      712     2    27
       2021-09-17        0        0       2  12     18     1000     3    37
       2021-09-18        1        1      10   7     58      639     4    21
       2021-09-19        1        1       1  13     30      751     6    15
       2021-09-20        0        0       0   0      8      819     1    16
       2021-09-21        0        0       2   1     33      775     1    24
       2021-09-22        0        0       3   2     19      886     3    25
       2021-09-23        0        0       2   1     28     1041     4    28
       2021-09-24        2        2       4   5     42      988     2    21
       2021-09-25        0        0       2   4     37     1167     2    26
       2021-09-26        2        2       4   4     41     1118     0    32
       2021-09-27        2        1       4   2     36      853     1    20
       2021-09-28        1        1       3   3     40      918     3    41
       2021-09-29        1        1       3   1     42     1080     2    33
       2021-09-30        2        2       7   3    119     2048     1    52
       2021-10-01        1        1       6   9     70     1696     0    61
       2021-10-02        0        0       1   5     16     1683     1    31
       2021-10-03        1        1       0   2     23     1746     2    25
       2021-10-04        0        0       0   1     19     1616     5    30
       2021-10-05        3        3       5   0     16     1809     0    34
       2021-10-06        0        0       1   8     28     1572     3    39
       2021-10-07        1        1       1   7     27     1602     0    28
       2021-10-08        0        0       1  12      7     1624     4    34
       2021-10-09        1        1       1   6     21     1415     0    41
       2021-10-10        0        0       2  14     13     1847     1    34

type               후원
       when
amount 2021-09-13   0
       2021-09-14   0
       2021-09-15   5
       2021-09-16   6
       2021-09-17   3
       2021-09-18   0
       2021-09-19   0
       2021-09-20   0
       2021-09-21   0
       2021-09-22   0
       2021-09-23   0
       2021-09-24   0
       2021-09-25   1
       2021-09-26   0
       2021-09-27   0
       2021-09-28   1
       2021-09-29   1
       2021-09-30   0
       2021-10-01   0
       2021-10-02   0
       2021-10-03   0
       2021-10-04   0
       2021-10-05   0
       2021-10-06   0
       2021-10-07   0
       2021-10-08   0
       2021-10-09   0
       2021-10-10   0

# 트랜젝션 금액 시계열

In [7]:
amounts = pd.DataFrame(trans_list).groupby(['user','type','when']).sum().unstack().fillna(0)
amounts = amounts.groupby('type').sum()[amounts.columns[-29:-1]].drop(['첫방문환영','쇼핑','커피쿠폰','테스트 INFLOW']).astype('int64')
#amounts.style.set_table_attributes('style="font-size: 10px"')
amounts.T

type               관심스타일입력  관심아이템입력  기본정보입력    래플  리서치참여  매일밸런스게임  옷장넣기  출첵게임  \
       when
amount 2021-09-13        0        0     300     0   3640      400     0   240
       2021-09-14       50        0       0     0    180      243     0   140
       2021-09-15        0        0     200  -288   2020      475     0   130
       2021-09-16       50       50     300  -143   8010      700     2   230
       2021-09-17        0        0     200 -1050   2140      900     3   230
       2021-09-18       50       50     400  -641   6270      635     4   190
       2021-09-19       50       50     100 -1398   2770      685     6   110
       2021-09-20        0        0       0     0    510      801     1   140
       2021-09-21        0        0     200   -77   3670      735     1   180
       2021-09-22        0        0     300  -222   1380      846     3   210
       2021-09-23        0        0     200   -77   2980      973     4   200
       2021-09-24      100      100     400  -464   4440      976     2   170
       2021-09-25        0        0     200  -398   3770     1135     2   200
       2021-09-26      100      100     400  -410   3890     1098     0   240
       2021-09-27      100       50     400  -210   3170      831     1   200
       2021-09-28       50       50     300  -288   4550      808     3   310
       2021-09-29       50       50     300   -77   4790     1060     2   290
       2021-09-30      100      100     700  -265  13060     1662     1   460
       2021-10-01       50       50     600  -875   6640     1442     0   490
       2021-10-02        0        0     100  -500   1460     1361     1   250
       2021-10-03       50       50       0  -222   2500     1434     2   230
       2021-10-04        0        0       0  -111   2420     1364     5   260
       2021-10-05      150      150     500     0   1460     1649     0   340
       2021-10-06        0        0     100  -811   3520     1472     3   330
       2021-10-07       50       50     100  -733   2370     1584     0   260
       2021-10-08        0        0     100 -1321    480     1508     4   300
       2021-10-09       50       50     100  -666   2460     1367     0   310
       2021-10-10        0        0       0 -1532   2550     1685     1   300

type                후원
       when
amount 2021-09-13    0
       2021-09-14    0
       2021-09-15 -500
       2021-09-16 -600
       2021-09-17 -300
       2021-09-18    0
       2021-09-19    0
       2021-09-20    0
       2021-09-21    0
       2021-09-22    0
       2021-09-23    0
       2021-09-24    0
       2021-09-25 -100
       2021-09-26    0
       2021-09-27    0
       2021-09-28 -100
       2021-09-29 -100
       2021-09-30    0
       2021-10-01    0
       2021-10-02    0
       2021-10-03    0
       2021-10-04    0
       2021-10-05    0
       2021-10-06    0
       2021-10-07    0
       2021-10-08    0
       2021-10-09    0
       2021-10-10    0

# 가입자수 추이

In [4]:
qrs = m.User.objects.filter(date_joined__gte='2021-09-13').values('date_joined__date').annotate(count=Count('date_joined__date'))

In [5]:
pd.DataFrame(qrs).set_index('date_joined__date').sort_index(ascending=True).iloc[:-1].sum()

count    238
dtype: int64

# 서베이별 참여자수

In [2]:
_boos = m.Boo.objects.filter(answers__has_key='12')

In [3]:
_boos[10].answers

{'4': {'11': [1],
  '12': [0],
  '13': [1],
  '14': [0],
  '15': [1],
  '16': [1],
  '17': [0],
  '18': [0],
  '19': [0],
  '20': [1],
  '21': [1],
  '22': [0],
  '23': [0],
  '24': [0],
  '25': [0],
  'finished': True},
 '5': {'26': [1],
  '27': [1],
  '28': [1],
  '29': [0],
  '30': [0],
  '31': [1],
  '32': [0, 1],
  '33': [0],
  '34': [1],
  '35': [1],
  '36': [1],
  '37': [0],
  '38': [0],
  '39': [0],
  '40': [0],
  '41': [1],
  'finished': True},
 '6': {'42': [1],
  '43': [0],
  '44': [3],
  '45': [0],
  '46': [0],
  '115': [1],
  '117': [1],
  '118': [1],
  '119': [2],
  '120': [1],
  '121': [5],
  '122': [1, 2],
  '123': [0],
  '124': [1],
  'finished': True},
 '7': {'47': [1],
  '48': [1],
  '49': [0],
  '50': [0],
  '51': [1],
  '171': [0],
  '173': [0],
  '174': [0],
  '175': [1],
  '177': [0],
  '178': [1],
  '179': [0],
  '181': [1],
  '182': [1],
  '183': [0],
  'finished': True},
 '8': {'52': [1],
  '53': [1],
  '54': [1],
  '55': [1],
  '56': [1],
  '58': [1],
  '59': [0],
  '60': [0],
  '61': [1],
  '62': [0],
  '63': [0],
  '64': [0],
  '65': [0],
  '66': [0],
  'finished': True},
 '9': {'67': [1],
  '68': [0],
  '69': [1],
  '70': [1],
  '71': [0],
  'finished': True},
 '10': {'72': [0],
  '73': [1],
  '74': [1],
  '75': [1],
  '76': [0],
  '77': ['바람막이'],
  'finished': True},
 '12': {'80': [1],
  '81': [1],
  '82': [0],
  '83': [1],
  '84': [0],
  '85': ['운동화 반스'],
  '86': ['반스'],
  '88': [0],
  'finished': True},
 '14': {'107': [1],
  '108': [1],
  '109': [0],
  '110': [0],
  '112': [0],
  'finished': True},
 '17': {'152': [1],
  '154': [1],
  '163': [0],
  '164': [0],
  '165': [0],
  '166': [0],
  '167': [1],
  '168': [0],
  '169': [0],
  '170': [1],
  'finished': True},
 '18': {'204': [1],
  '205': [0],
  '206': [1],
  '207': [0],
  '208': [1],
  '209': [1],
  '210': [0],
  '212': [0],
  'finished': True},
 '19': {'238': [1], '239': [0], '240': [1], 'finished': True},
 '22': {'247': [0],
  '248': [0],
  '249': [0],
  '250': [0],
  '251': [0],
  'finished': True},
 '23': {'254': [0], '255': [0], '256': [0], 'finished': True},
 '24': {'259': [0], '260': [1], '262': [0], 'finished': True},
 '25': {'266': [0], '267': [0], '268': [0], 'finished': True},
 '29': {'276': [0], '277': [0], 'finished': True}}

In [ ]:
배드보이 4
터치그라운드 5
존버 6
포스토 7
브라스보트 8

비오는날 취향분석 9
슬기로운 캠필생활 10
나에게 딱 맞는 주말 베스트 코디 12
내 휴가 스타일 14
핫서머에 입기 좋은 핫팬츠 취향조사 15
구두취향 본격탐구 17
내 백 취향 18
요즘 막 당신의 관심사 19
비오는날 샌들 취향조사 20
어느 브랜드 좋아해 22
올가을 트랜드 조사 신발편 23
가을 유니폼 후디 맨투맨 고르기 24
부츠 이렇게 신어야지 25
이번 fw 뭐 신지 26

In [4]:
m.Boo.objects.filter(answers__has_key='4').count()

120

In [5]:
pd.DataFrame({
    '배드보이': [m.Boo.objects.filter(answers__has_key='4').count()],
    '터치그라운드': [m.Boo.objects.filter(answers__has_key='5').count()],
    '존버': [m.Boo.objects.filter(answers__has_key='6').count()],
    '포스토': [m.Boo.objects.filter(answers__has_key='7').count()],
    '브라스보트': [m.Boo.objects.filter(answers__has_key='8').count()],
    
    '비오는날 취향분석': [m.Boo.objects.filter(answers__has_key='9').count()],
    '슬기로운 캠핑생활': [m.Boo.objects.filter(answers__has_key='10').count()],
    '주말 베스트 코디': [m.Boo.objects.filter(answers__has_key='12').count()],
    '내 휴가 스타일': [m.Boo.objects.filter(answers__has_key='14').count()],
    '핫팬츠 취향조사': [m.Boo.objects.filter(answers__has_key='15').count()],
    '구두취향 본격탐구': [m.Boo.objects.filter(answers__has_key='17').count()],
    '내 백 취향': [m.Boo.objects.filter(answers__has_key='18').count()],
    '요즘 막 당신의 관심사': [m.Boo.objects.filter(answers__has_key='19').count()],
    '샌들 취향조사': [m.Boo.objects.filter(answers__has_key='20').count()],
    '어느 브랜드 좋아해': [m.Boo.objects.filter(answers__has_key='22').count()],
    '올가을 트랜드 조사 신발편': [m.Boo.objects.filter(answers__has_key='23').count()],
    '가을 유니폼 후디 맨투맨 고르기': [m.Boo.objects.filter(answers__has_key='24').count()],
    '부츠 이렇게 신어야지': [m.Boo.objects.filter(answers__has_key='25').count()]
}).T

                     0
배드보이               120
터치그라운드              80
존버                  68
포스토                107
브라스보트               82
비오는날 취향분석           84
슬기로운 캠핑생활           79
주말 베스트 코디           87
내 휴가 스타일            43
핫팬츠 취향조사            16
구두취향 본격탐구           63
내 백 취향              75
요즘 막 당신의 관심사        79
샌들 취향조사             40
어느 브랜드 좋아해          97
올가을 트랜드 조사 신발편      97
가을 유니폼 후디 맨투맨 고르기  121
부츠 이렇게 신어야지        141

In [17]:
answers = m.Boo.objects.filter(answers__has_key='4').values('id','nick','answers'); answers

<QuerySet [{'id': 105, 'nick': 'leesuyong', 'answers': {'4': {'11': [0], '12': [0], '13': [1], '14': [0], '15': [1], '16': [0], '17': [5, 7, 0, 9], '18': [1], '19': [0, 1, 3, 2], '20': [0], '21': [1], '22': [0], '23': [0], '24': [0], '25': [1], 'finished': True}, '5': {'26': [1], '27': [0], '28': [1], '29': [0], '30': [0], '31': [1], '32': [1, 4], '33': [0], '34': [1], '35': [1], '36': [1], '37': [1], '38': [1], '39': [0], '40': [4, 0, 5], '41': [1], 'finished': True}, '6': {'42': [1], '43': [0], '44': [3, 0, 2], '45': [0], '46': [1], '115': [1], '116': ['살로몬'], '117': [0], '118': [1], '119': [2, 4], '120': [1], '121': [5, 4, 0], '122': [1, 4], '123': [1], '124': [0], 'finished': True}, '7': {'47': [1], '48': [1], '49': [1], '50': [0], '51': ['ZARA 티셔츠'], '171': [0], '173': [0], '174': [0], '175': [1], '177': [0], '178': [0], '179': [1], '181': [1], '182': [0], '183': [0], 'finished': True}, '8': {'52': [1], '53': [1], '54': [0], '55': [0], '56': [0], '57': ['보테가베네타'], '58': [0], '59': [0], '60': [0], '61': [1], '62': [1], '63': [0], '64': [0], '65': [0], '66': [1], 'finished': True}, '9': {'67': [1], '68': [0], '69': [1], '70': [0], '71': [0], 'finished': True}, '10': {'72': [1], '73': [1], '74': [1], '75': [1], '76': [0], '77': ['맨투맨'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [1], '84': [1], '85': ['티셔츠'], '86': ['자라'], '87': [1], '88': [0], '89': [1], 'finished': True}, '14': {'107': [1], '108': [0], '109': [1], '111': [0], '112': [1], 'finished': True}, '15': {'139': [1], '140': [1], '141': [1], '142': [1], '143': [0], '144': [1], '145': [1], '146': [1], '147': [1], '148': [0], 'finished': True}, '17': {'151': [0], '153': [1], '155': [0], '156': [1], '157': [0], '158': [1], '159': [0], '160': [1], '161': [1], '162': [1], 'finished': True}, '18': {'204': [1], '207': [0], '208': [1], '209': [1], '210': [0], '213': [1], '215': [0], '216': [1], 'finished': True}, '19': {'238': [1], '239': [0], '240': [0], 'finished': True}, '20': {'243': [0], '244': [1], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [], '251': [], 'finished': True}, '23': {'254': [0], '255': [0], '256': [0], 'finished': True}, '24': {'261': [0], '262': [1], '263': [1], 'finished': True}, '25': {'266': [0], '267': [0], '268': [0], 'finished': True}, '29': {'276': [0], '277': [0], 'finished': True}}}, {'id': 697, 'nick': 'rainycoke', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [0], '15': [1], '16': [0], 'finished': False}, '6': {'42': [1], '43': [0], '45': [0], '115': [1], 'finished': False}, '7': {'47': [0], '48': [1], '49': [0], '50': [1], '51': [1], '172': [1], '173': [0], '174': [1], '176': [1], '177': [0], '178': [1], '180': [1], '181': [1], '182': [1], '183': [1], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [1], '84': [0], '85': ['라운드 티셔츠'], '86': ['무신사 스텐다드'], '87': [1], '88': [1], '89': [0], 'finished': True}}}, {'id': 765, 'nick': 'parkhd0125', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [0], '15': [0], '16': [0], '17': [0, 5], '18': [1], '19': [0, 2], '20': [0], '21': [1], '22': [0, 3], '23': [0], '24': [1, 0], '25': [1], 'finished': True}, '5': {'26': [0], '27': [1], '28': [0], '29': [1], '30': [0], '31': [1], '32': [1, 10], '33': [1], '34': [1], '35': [1], '36': [0], '37': [1], '38': [0], '39': [0], '40': [4, 0], '41': [1], 'finished': True}, '7': {'47': [0], '48': [0], '49': [0], '50': [0], '51': [0], '172': [1], '173': [0], '174': [0], '176': [1], '177': [0], '178': [1], '180': [1], '181': [0], '182': [1], '183': [0], 'finished': True}, '8': {'52': [1], '53': [0], '54': [0], '55': [], '56': [1], '57': ['구찌'], '58': [0], '59': [0], '60': [0], '61': [1], '62': [1], '63': [1], '64': [1], '65': [0], '66': [0], 'finished': True}, '10': {'72': [0], '73': [1], '74': [0], '75': [1], '76': [0], '77': ['주머니 많은 옷'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [1], '84': [1], '85': ['자켓'], '86': ['자라'], '87': [1], '88': [0], '89': [1], 'finished': True}, '17': {'151': [0], '153': [1], '155': [1], '156': [0], '157': [1], '158': [1], '159': [1], '160': [1], '161': [1], '162': [0], 'finished': True}, '22': {'247': [0], '248': [0], '249': [0], '250': [0], '251': [1], 'finished': True}, '24': {'261': [1], '262': [0], '263': [0], 'finished': True}, '25': {'266': [0], '267': [0], '268': [0], 'finished': True}}}, {'id': 902, 'nick': '013600', 'answers': {'4': {'11': [1], '12': [0], '13': [0], '14': [1], '15': [0], '16': [1], '17': [10, 2, 5], '18': [0], '19': [2, 1], '20': [1], 'finished': False}, '25': {'266': [1], '267': [1], '268': [0], 'finished': True}}}, {'id': 615, 'nick': 'hoo_u', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [1], '15': [0], '16': [1], '17': [0], '18': [0], '19': [0], '20': [0], '21': [1], '22': [5], '23': [0], '24': [0], '25': [1], 'finished': True}, '5': {'26': [0], '27': [0], '28': ['로퍼, 로맨틱무브'], '29': [1], '30': [1], '31': [0], '32': [3], '33': [0], '34': [1], '35': [1], '36': [1], '37': [1], '38': [1], '39': [0], '40': [3], '41': [1], 'finished': True}, '7': {'47': [0], '48': [0], '49': [1], '50': [1], '172': [0], '173': [0], '174': [0], '176': [0], '177': [0], '178': [1], '180': [1], '181': [0], '182': [1], '183': [1], 'finished': True}, '9': {'67': [0], '68': [0], '69': [1], '70': [0], '71': [0], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [0], '84': [1], '85': ['신발'], 'finished': False}, '14': {'107': [1], '108': [0], '109': [0], '111': [0], '112': [1], 'finished': True}, '19': {'238': [1], '239': [1], '240': [0], 'finished': True}}}, {'id': 936, 'nick': 'rius18sc1', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [1], '15': [1], '16': [1], '17': [10], '18': [0], '19': [3], '20': [0], '21': [1], '22': [0], '23': [1], '24': [0], '25': [0], 'finished': True}, '5': {'26': [1], '27': [0], '28': [1], '29': [0], '30': [0], '31': [1], '32': [10], '33': [1], '34': [1], '35': [1], '36': [1], '37': [1], '38': [1], '39': [0], '40': [4], '41': [1], 'finished': True}, '6': {'42': [1], '43': [1], '44': [4, 3], 'finished': True}, '7': {'47': [0], '48': [1], '49': [1], '50': [1], '51': [1], '171': [1], '173': [0], '174': [0], '175': [1], '177': [0], '178': [1], '179': [1], '181': [0], '182': [1], '183': [0], 'finished': True}, '8': {'52': [1], '53': [1], '54': [0], '55': [0], '56': [0], '57': ['루이비통'], 'finished': False}, '9': {'67': [0], '68': [0], '69': [1], '70': [0], '71': [0], 'finished': True}, '10': {'72': [0], '73': [0], '74': [1], '75': [1], '76': [0], '77': ['여행가방'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [1], '83': [1], '84': [0], '85': ['없음'], '86': ['없음'], '87': [1], '88': [1], '89': [1], 'finished': True}, '14': {'107': [0], '108': [0], '109': [1], '110': [0], '112': [0], 'finished': True}, '17': {'152': [1], '154': [1], '163': [1], '164': [1], '165': [1], '166': [0], '167': [0], '168': [0], '169': [0], '170': [1], 'finished': True}, '18': {'204': [0], '205': [1], '206': [1], '207': [1], '208': [1], '209': [1], '210': [0], '212': [0], 'finished': True}, '19': {'238': [1], '239': [0], '240': [0], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [0], '251': [1], 'finished': True}, '23': {'254': [1], '255': [1], '256': [1], 'finished': True}, '24': {'259': [0], '260': [1], '262': [1], 'finished': True}, '25': {'266': [1], '267': [0], '268': [1], 'finished': True}, '29': {'276': [1], '277': [0], 'finished': True}}}, {'id': 895, 'nick': 'ksjoon05', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [0], '15': [1], '16': [1], '17': [10, 9], '18': [1], '19': [5], '20': [1], '21': [1], '22': [0], '23': [0], '24': [0], '25': [1], 'finished': True}, '24': {'259': [1], '260': [1], '262': [1], 'finished': True}}}, {'id': 890, 'nick': 'jsw020816', 'answers': {'4': {'11': [0], '12': [0], '13': [1], '14': [0], '15': [0], '16': [0], '17': [5], '18': [0], '19': [0], '20': [0], '21': [1], '22': [2], '23': [0], '24': [0], '25': [1], 'finished': True}, '7': {'47': [0], '48': [0], '49': [0], '50': [0], '51': [0], '172': [0], '173': [0], '174': [1], '176': [1], '177': [0], '178': [1], '180': [1], '181': [1], '182': [1], '183': [1], 'finished': True}, '24': {'261': [1], '262': [1], '263': [0], 'finished': True}, '25': {'266': [0], '267': [0], '268': [0], 'finished': True}}}, {'id': 694, 'nick': 'eatself', 'answers': {'4': {'11': [1], '12': [1], '13': [1], '14': [1], '15': [0], '16': [1], '17': [7], '18': [1], '19': [1], '20': [1], '21': [0], '22': [1], '23': [1], '24': [1], '25': [0], 'finished': True}, '5': {'26': [1], '27': [0], '28': [1], '29': [1], '30': [0], '31': [1], '32': [3, 8], '33': [1], '34': [1], '35': [1], '36': [0], '37': [1], '38': [1], '39': [0], '40': [1], '41': [1], 'finished': True}, '6': {'42': [1], '43': [1], '44': [4], '45': [0], '46': [1], '115': [1], '116': [], 'finished': False}, '7': {'47': [0], '48': [0], '49': [0], '50': [1], 'finished': False}, '23': {'254': [0], '255': [0], '256': [1], 'finished': True}}}, {'id': 795, 'nick': 'kelifrona', 'answers': {'4': {'11': [0], '12': [0], '13': [0], '14': [1], '15': [0], '16': [0], '17': [1, 5, 9], '18': [0], '19': [1, 0, 3], '20': [0], '21': [1], '22': [0], '23': [0], '24': [1], '25': [1], 'finished': True}, '5': {'26': [0], '27': [1], '28': [0], '29': [0], '30': [0], '31': [0], '32': [1, 5, 6], '33': [1], '34': [1], '35': [1], '36': [1], '37': [1], '38': [0], '39': [1, 0], '40': [2], '41': [1], 'finished': True}, '6': {'42': [1], '43': [0], '44': [3, 4], '45': [1], '46': [1], '115': [1], '116': ['두루두루 사용'], '117': [1], '118': [1], '119': [0, 2], '120': [0], '121': [5, 4], '122': [1, 4, 3], '123': [1], '124': [1], 'finished': True}, '7': {'47': [1], '48': [0], '49': [1], '50': [0], '51': [1], '171': [0], '173': [0], '174': [1], '175': [0], '177': [0], '178': [0], '179': [0], '181': [1], '182': [1], '183': [0], 'finished': True}, '8': {'52': [0], '53': [0], '54': [1], '55': [1], '56': [1], '57': ['샤넬'], '58': [1], '59': [0], '60': [1], '61': [1], '62': [0], '63': [1], '64': [1], '65': [0], '66': [0], 'finished': True}, '9': {'67': [0], '68': [1], '69': [1], '70': [0], '71': [0], 'finished': True}, '10': {'72': [0], '73': [1], '74': [1], '75': [0], '76': [0], '77': ['모자'], 'finished': True}, '12': {'80': [0], '81': [0], '82': [0], '83': [0], '84': [1], '85': ['블라우스 롱스커트'], '86': ['나무그림'], '87': [1], '88': [0], '89': [0], 'finished': True}, '14': {'107': [1], '108': [0], '109': [0], '110': [0], '112': [1], 'finished': True}, '17': {'152': [0], '154': [0], '163': [0], '164': [0], '165': [0], '166': [0], '167': [0], '168': [1], '169': [0], '170': [1], 'finished': True}, '18': {'204': [1], '205': [0], '206': [1], '207': [0], '208': [1], '209': [1], '210': [1], '212': [0], 'finished': True}, '19': {'238': [0], '239': [0], '240': [0], 'finished': True}, '20': {'243': [1], '244': [0], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [0], '251': [0], 'finished': True}, '23': {'254': [1], '255': [1], '256': [0], 'finished': True}, '24': {'259': [0], '260': [0], '262': [1], 'finished': True}, '25': {'266': [0], '267': [0], '268': [0], 'finished': True}}}, {'id': 965, 'nick': 'godtls14', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [0], '15': [1], '16': [1], '17': [0], '18': [0], '19': [0], '20': [1], '21': [1], '22': [0], '23': [0], '24': [0], '25': [0], 'finished': True}, '5': {'26': [1], '27': [1], '28': [1], '29': [0], '30': [0], '31': [1], '32': [0, 1], '33': [0], '34': [1], '35': [1], '36': [1], '37': [0], '38': [0], '39': [0], '40': [0], '41': [1], 'finished': True}, '6': {'42': [1], '43': [0], '44': [3], '45': [0], '46': [0], '115': [1], '117': [1], '118': [1], '119': [2], '120': [1], '121': [5], '122': [1, 2], '123': [0], '124': [1], 'finished': True}, '7': {'47': [1], '48': [1], '49': [0], '50': [0], '51': [1], '171': [0], '173': [0], '174': [0], '175': [1], '177': [0], '178': [1], '179': [0], '181': [1], '182': [1], '183': [0], 'finished': True}, '8': {'52': [1], '53': [1], '54': [1], '55': [1], '56': [1], '58': [1], '59': [0], '60': [0], '61': [1], '62': [0], '63': [0], '64': [0], '65': [0], '66': [0], 'finished': True}, '9': {'67': [1], '68': [0], '69': [1], '70': [1], '71': [0], 'finished': True}, '10': {'72': [0], '73': [1], '74': [1], '75': [1], '76': [0], '77': ['바람막이'], 'finished': True}, '12': {'80': [1], '81': [1], '82': [0], '83': [1], '84': [0], '85': ['운동화 반스'], '86': ['반스'], '88': [0], 'finished': True}, '14': {'107': [1], '108': [1], '109': [0], '110': [0], '112': [0], 'finished': True}, '17': {'152': [1], '154': [1], '163': [0], '164': [0], '165': [0], '166': [0], '167': [1], '168': [0], '169': [0], '170': [1], 'finished': True}, '18': {'204': [1], '205': [0], '206': [1], '207': [0], '208': [1], '209': [1], '210': [0], '212': [0], 'finished': True}, '19': {'238': [1], '239': [0], '240': [1], 'finished': True}, '22': {'247': [0], '248': [0], '249': [0], '250': [0], '251': [0], 'finished': True}, '23': {'254': [0], '255': [0], '256': [0], 'finished': True}, '24': {'259': [0], '260': [1], '262': [0], 'finished': True}, '25': {'266': [0], '267': [0], '268': [0], 'finished': True}, '29': {'276': [0], '277': [0], 'finished': True}}}, {'id': 794, 'nick': 'rnstjr79', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [0], '15': [1], '16': [0], '17': [5, 0], '18': [1], '19': [0, 2], '20': [0], '21': [0], '22': [0, 3], '23': [0], '24': [0], '25': [1], 'finished': True}, '5': {'26': [0], '27': [0], '28': [1], '29': [0], '30': [1], '31': [1], '32': [10], '33': [1], '34': [1], '35': [1], '36': [0], '37': [0], '38': [0], '39': [0], '40': [4], '41': [1], 'finished': True}, '6': {'42': [0], '43': [1], '44': [2, 3], '45': [1], '46': [1], '115': [0], '116': ['후카'], '117': [1], '118': [1], '119': [2], '120': [0], '121': [5, 3, 0], '122': [1, 2, 4, 3], '123': [1], '124': [1], 'finished': True}, '7': {'47': [0], '48': [1], '49': [0], '50': [0], '51': [1], '171': [0], '173': [1], '174': [1], '175': [2], '177': [0], '178': [1], '179': [1], '181': [1], '182': [1], '183': [0], 'finished': True}, '8': {'52': [1], '53': [1], '54': [0], '55': [0], '56': [0], '57': ['프라다'], '58': [0], '59': [0], '60': [0], '61': [1], '62': [0], '63': [0], '64': [0], '65': [0], '66': [1], 'finished': True}, '9': {'67': [0], '68': [0], '69': [1], '70': [0], '71': [0], 'finished': True}, '10': {'72': [0], '73': [0], '74': [1], '75': [1], '76': [0], '77': ['바람막이, 경량패딩, 트레이닝복'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [1], '84': [1], '85': ['운동화, 맨투맨, 슬랙스, 카고팬츠'], '86': ['나이키, 무신사스탠다드, 에즈카톤'], '87': [1], '88': [0], '89': [0], 'finished': True}, '14': {'107': [0], '108': [0], '109': [0], '110': [1], '112': [0], 'finished': True}, '17': {'152': [1], '154': [1], '163': [1], '164': [0], '165': [1], '166': [0], '167': [0], '168': [0], '169': [0], '170': [0], 'finished': True}, '18': {'204': [1], '205': [0], '206': [0], '207': [0], '208': [1], '209': [1], '210': [0], '212': [0], 'finished': True}, '20': {'243': [1], '244': [0], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [0], '251': [1], 'finished': True}, '24': {'259': [0], '260': [1], '262': [0], 'finished': True}, '25': {'266': [0], '267': [0], '268': [0], 'finished': True}, '29': {'276': [1], '277': [1], 'finished': True}}}, {'id': 767, 'nick': 'ehdwp7915', 'answers': {'4': {'11': [1], '12': [0], '13': [1], '14': [0], '15': [0], '16': [1], '17': [10], '18': [0], '19': [0], '20': [1], '21': [1], '22': [0], '23': [0], '24': [0], '25': [1], 'finished': True}, '5': {'26': [1], '27': [0], '28': [0], '29': [0], '30': [1], '31': [1], '32': [1, 10, 7], '33': [0], '34': [1], '35': [1], '36': [1], '37': [1], '38': [0], '39': [0], '40': [4], '41': [1], 'finished': True}, '7': {'47': [0], '48': [0], '49': [0], '50': [0], '51': [0], '171': [1], '173': [1], '174': [1], '175': [0], '177': [0], '178': [1], '179': [0], '181': [0], '182': [0], '183': [0], 'finished': True}, '22': {'247': [0], '248': [0], '249': [0], '250': [1], '251': [0], 'finished': True}}}, {'id': 906, 'nick': 'hyerenia', 'answers': {'4': {'11': [1], '12': [0], '13': [0], '14': [0], '15': [0], '16': [1], '17': [5, 11], 'finished': False}, '12': {'80': [0], '81': [0], '82': [0], '83': [1], '84': [1], '85': ['원피스'], '86': ['Savoirvivre'], '87': [1], '88': [0], '89': [0], 'finished': True}, '22': {'247': [0], '248': [0], '249': [1], '250': [0], '251': [0], 'finished': True}, '23': {'254': [1], '255': [1], '256': [0], 'finished': True}, '24': {'259': [1], '260': [0], '262': [0], 'finished': True}, '25': {'266': [0], '267': [1], '268': [0], 'finished': True}}}, {'id': 825, 'nick': 'mk30033', 'answers': {'4': {'11': [0], '12': [0], '13': [0], '14': [0], '15': [0], '16': [1], '17': [7, 1], '18': [0], '19': [3, 0], '20': [1], '21': [1], '22': [4, 0], '23': [0], '24': [0], '25': [1], 'finished': True}, '7': {'47': [0], '48': [0], '49': [0], '50': [0], '51': [0], '171': [1], '173': [0], '174': [0], '175': [1], '177': [1], '178': [0], '179': [1], '181': [0], '182': [1], '183': [1], 'finished': True}, '10': {'72': [1], '73': [1], '74': [0], '75': [1], '76': [0], '77': ['겉옷'], 'finished': True}, '12': {'80': [0], '81': [0], '82': [0], '83': [1], '84': [0], '85': ['나이키 덩크'], '86': ['나이키'], '87': [1], '88': [1], '89': [0], 'finished': True}, '24': {'259': [0], '260': [0], '262': [1], 'finished': True}, '25': {'266': [1], '267': [0], '268': [0], 'finished': True}}}, {'id': 991, 'nick': 'dan.jung', 'answers': {'4': {'11': [1], '12': [1], '13': [0], '14': [1], '15': [1], '16': [0], '17': [0, 5, 9], '18': [1], '19': [0, 3], '20': [0], '21': [0], '22': [0, 1, 4, 3, 2, 5], '23': [0], '24': [0], '25': [0], 'finished': True}, '5': {'26': [0], '27': [1], '28': [1], '29': [1], '30': [0], '31': [0], '32': [1, 4, 8, 11, 2], '33': [1], '34': [1], '35': [1], '36': [1], '37': [0], '38': [1], '39': [0], '40': [0, 2], '41': [0], 'finished': True}, '6': {'42': [1], '43': [0], '44': [3, 2], '45': [1], '46': [1], '115': [1], '116': ['재미, 빡셈'], '117': [1], '118': [1], '119': [1, 3, 2], '120': [1], '121': [4], '122': [2, 3, 1, 4], '123': [0], '124': [1], 'finished': True}, '7': {'47': [0], '48': [0], '49': [1], '50': [0], '51': [0], '172': [1], '173': [1], '174': [1], '176': [1], '177': [0], '178': [1], '180': [1], '181': [1], '182': [1], '183': [0], 'finished': True}, '8': {'52': [0], '53': [1], '54': [0], '55': [1], '56': [0], '57': ['아테스토니'], '58': [0], '59': [0], '60': [0], '61': [1], '62': [1], '63': [0], '64': [1], '65': [1], '66': [1], 'finished': True}, '9': {'67': [0], '68': [0], '69': [1], '70': [0], '71': [0], 'finished': True}, '10': {'72': [1], '73': [0], '74': [1], '75': [1], '76': [0], '77': ['여행가자'], 'finished': True}, '12': {'80': [0], '81': [1], '82': [0], '83': [1], '84': [1], '85': ['옷고르는중'], '86': ['멋있다'], '87': [0], '88': [1], '89': [0], 'finished': True}, '17': {'151': [1], '153': [0], '155': [0], '156': [1], '157': [0], '158': [1], '159': [0], '160': [1], '161': [1], '162': [0], 'finished': True}, '18': {'204': [1], '207': [0], '208': [1], '209': [0], '210': [0], '213': [1], '215': [0], '216': [0], 'finished': True}, '19': {'238': [0], '239': [0], '240': [0], 'finished': True}, '22': {'247': [0], '248': [0], '249': [0], '250': [0], '251': [0], 'finished': True}, '23': {'254': [0], '255': [1], '256': [1], 'finished': True}, '24': {'259': [0], '260': [0], '261': [1], '262': [1], '263': [0], 'finished': True}, '25': {'266': [0], '267': [0], '268': [0], 'finished': True}}}, {'id': 818, 'nick': 'dojun1118', 'answers': {'4': {'11': [0], '12': [0], '13': [1], '14': [1], '15': [0], '16': [1], '17': [10], '18': [1], '19': [0, 3], '20': [0], '21': [0], 'finished': False}, '7': {'47': [1], '48': [1], '49': [0], '50': [0], '51': [0], '171': [1], '173': [0], '174': [0], '175': [1], '177': [0], '178': [0], '179': [1], '181': [1], '182': [0], '183': [0], 'finished': True}, '25': {'266': [1], '267': [0], '268': [0], 'finished': True}}}, {'id': 706, 'nick': 'liokjkr', 'answers': {'4': {'11': [1], '12': [0], '13': [0], '14': [1], '15': [1], '16': [1], '17': [5, 0

In [21]:
answers_4 = [{'id':o['id'], 'nick':o['nick'], 'answers':o['answers']['4']} for o in answers]; answers_4

[{'id': 105,
  'nick': 'leesuyong',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [0],
   '17': [5, 7, 0, 9],
   '18': [1],
   '19': [0, 1, 3, 2],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 697,
  'nick': 'rainycoke',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [0],
   'finished': False}},
 {'id': 765,
  'nick': 'parkhd0125',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [0],
   '16': [0],
   '17': [0, 5],
   '18': [1],
   '19': [0, 2],
   '20': [0],
   '21': [1],
   '22': [0, 3],
   '23': [0],
   '24': [1, 0],
   '25': [1],
   'finished': True}},
 {'id': 902,
  'nick': '013600',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [10, 2, 5],
   '18': [0],
   '19': [2, 1],
   '20': [1],
   'finished': False}},
 {'id': 615,
  'nick': 'hoo_u',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [0],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [1],
   '22': [5],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 936,
  'nick': 'rius18sc1',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [10],
   '18': [0],
   '19': [3],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [1],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 895,
  'nick': 'ksjoon05',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [10, 9],
   '18': [1],
   '19': [5],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 890,
  'nick': 'jsw020816',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [0],
   '16': [0],
   '17': [5],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [1],
   '22': [2],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 694,
  'nick': 'eatself',
  'answers': {'11': [1],
   '12': [1],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [7],
   '18': [1],
   '19': [1],
   '20': [1],
   '21': [0],
   '22': [1],
   '23': [1],
   '24': [1],
   '25': [0],
   'finished': True}},
 {'id': 795,
  'nick': 'kelifrona',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [0],
   '16': [0],
   '17': [1, 5, 9],
   '18': [0],
   '19': [1, 0, 3],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [1],
   '25': [1],
   'finished': True}},
 {'id': 965,
  'nick': 'godtls14',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [0],
   '18': [0],
   '19': [0],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 794,
  'nick': 'rnstjr79',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [0],
   '17': [5, 0],
   '18': [1],
   '19': [0, 2],
   '20': [0],
   '21': [0],
   '22': [0, 3],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 767,
  'nick': 'ehdwp7915',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [0],
   '16': [1],
   '17': [10],
   '18': [0],
   '19': [0],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 906,
  'nick': 'hyerenia',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [0],
   '16': [1],
   '17': [5, 11],
   'finished': False}},
 {'id': 825,
  'nick': 'mk30033',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [0],
   '16': [1],
   '17': [7, 1],
   '18': [0],
   '19': [3, 0],
   '20': [1],
   '21': [1],
   '22': [4, 0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 991,
  'nick': 'dan.jung',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [1],
   '15': [1],
   '16': [0],
   '17': [0, 5, 9],
   '18': [1],
   '19': [0, 3],
   '20': [0],
   '21': [0],
   '22': [0, 1, 4, 3, 2, 5],
   '23': [0],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 818,
  'nick': 'dojun1118',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [10],
   '18': [1],
   '19': [0, 3],
   '20': [0],
   '21': [0],
   'finished': False}},
 {'id': 706,
  'nick': 'liokjkr',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [5, 0],
   '18': [1],
   '19': [0, 4],
   '20': [0],
   '21': [0],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 933,
  'nick': 'hsk1230',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [0],
   '17': [7],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [0],
   '22': [1],
   '23': [0],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 752,
  'nick': 'wkdsks9999',
  'answers': {'11': [0],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [0],
   '17': [0, 5, 1],
   '18': [0],
   '19': [0, 3],
   '20': [0],
   '21': [1],
   '22': [0, 4],
   '23': [0],
   '24': [1],
   '25': [1],
   'finished': True}},
 {'id': 943,
  'nick': 'keykkso',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5, 1, 9],
   '18': [0],
   '19': [3, 0, 4],
   '20': [0],
   '21': [0],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 904,
  'nick': '01062587408',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [1],
   '15': [0],
   '16': [0],
   '17': [0, 2],
   '18': [0],
   '19': [0, 3],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 631,
  'nick': 'smilekhm',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [0],
   '16': [1],
   '17': [1],
   '18': [0],
   '19': [2],
   '20': [0],
   '21': [0],
   '22': [0],
   '23': [1],
   '24': [1],
   '25': [0],
   'finished': True}},
 {'id': 759,
  'nick': 'sohee991110',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5, 7, 9],
   '18': [0],
   '19': [0, 3],
   '20': [0],
   '21': [1],
   '22': [0, 3],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 797,
  'nick': 'kojedong287',
  'answers': {'11': [0],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [1, 9],
   '18': [0],
   '19': [4],
   '20': [0],
   '21': [0],
   '22': [4],
   '23': [0],
   '24': [1],
   '25': [0],
   'finished': True}},
 {'id': 718,
  'nick': 'eunykg',
  'answers': {'11': [0],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [0],
   '16': [1],
   '17': [5, 7],
   '18': [0],
   '19': [0, 3],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [1],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 1000,
  'nick': 'forjin3',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [1],
   '16': [0],
   '17': [10],
   '18': [0],
   '19': [4],
   '20': [0],
   '21': [1],
   '22': [3],
   '23': [0],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 804,
  'nick': 'zawon22',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [7, 4, 3, 6, 9, 5],
   '18': [0],
   '19': [2, 4, 1],
   '20': [1],
   '21': [0],
   '22': [1, 4],
   '23': [0],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 758,
  'nick': 'jylee118218',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [0],
   '17': [5, 9, 0],
   '18': [0],
   '19': [3, 0, 4],
   '20': [0],
   '21': [1],
   '22': [0, 3],
   '23': [1],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 709,
  'nick': 'sye.roh',
  'answers': {'11': [1],
   '12': [1],
   '13': [1],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [2],
   'finished': False}},
 {'id': 774,
  'nick': 'max-kim',
  'answers': {'11': [0],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [1, 7, 2, 9, 11, 0, 5, 6, 10],
   '18': [1],
   '19': [1, 4, 0, 2],
   '20': [0],
   '21': [0],
   '22': [0],
   '23': [1],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 757,
  'nick': 'ruintears',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [5],
   '18': [1],
   '19': [4, 3, 0],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 717,
  'nick': 'wonjun_k',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [1],
   '18': [1],
   '19': [1, 0],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [],
   'finished': True}},
 {'id': 978,
  'nick': 'changsik614',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [0, 5],
   '18': [1],
   '19': [0, 4],
   '20': [0],
   '21': [0],
   '22': [0, 3],
   '23': [0],
   '24': [1],
   '25': [1],
   'finished': True}},
 {'id': 191,
  'nick': '존잘',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [1, 0, 9, 5],
   '18': [1],
   '19': [1, 0, 4],
   '20': [0],
   '21': [0],
   '22': [0, 4],
   '23': [1],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 946,
  'nick': 'annapipi',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [5, 0],
   '18': [0],
   '19': [0],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [1],
   '25': [1],
   'finished': True}},
 {'id': 800,
  'nick': 'dbsrhs8524',
  'answers': {'11': [0],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5],
   '18': [1],
   '19': [0],
   '20': [0],
   '21': [1],
   '22': [2],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 1024,
  'nick': 'ek1511',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [1, 7, 5, 10],
   '18': [1],
   '19': [3, 0],
   '20': [0],
   '21': [0],
   '22': [0, 3],
   '23': [1],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 129,
  'nick': 'soulman80',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [1],
   '18': [0],
   '19': [4],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 813,
  'nick': 'michelle4202',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [0],
   '16': [1],
   '17': [0, 5, 7],
   '18': [1],
   '19': [3, 0],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 830,
  'nick': 'zaxa1019',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5, 2, 9],
   '18': [1],
   '19': [0, 4],
   '20': [0],
   '21': [0],
   '22': [0, 3],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 884,
  'nick': 'rnwldnjs0223',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [0],
   '18': [0],
   '19': [3, 0],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 660,
  'nick': 'gentlebaek89',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [9],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 784,
  'nick': 'via_ek',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [0],
   '16': [0],
   '17': [4, 5, 8],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [1],
   '22': [3],
   '23': [0],
   '24': [1],
   '25': [1],
   'finished': True}},
 {'id': 612,
  'nick': 'soyeonc1126',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5, 0, 7],
   '18': [0],
   '19': [0, 4],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 829,
  'nick': 'fiii0000',
  'answers': {'11': [0],
   '12': [0],
   '14': [0],
   '15': [1],
   '16': [0],
   '17': [1],
   '18': [1],
   '19': [3],
   '20': [1],
   '21': [0],
   '22': [0],
   '23': [1],
   '24': [1],
   '25': [0],
   'finished': True}},
 {'id': 749,
  'nick': 'luv4sky',
  'answers': {'11': [0],
   '12': [1],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [0],
   '17': [7, 5, 4],
   '18': [0],
   '19': [4],
   '20': [1],
   '21': [0],
   '22': [0],
   '23': [0],
   '24': [1],
   '25': [0],
   'finished': True}},
 {'id': 845,
  'nick': 'hwan8619',
  'answers': {'11': [1], '12': [1], '13': [0], 'finished': False}},
 {'id': 985,
  'nick': 'intro_ty',
  'answers': {'11': [1], '12': [1], '13': [0], 'finished': False}},
 {'id': 860,
  'nick': 'haneul991015',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [0],
   '16': [0],
   '17': [0, 2, 5],
   '18': [1],
   '19': [0, 3],
   '20': [0],
   '21': [0],
   '22': [0, 3],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 998,
  'nick': 'onestar1322',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5, 0, 7, 9],
   '18': [1],
   '19': [0],
   '20': [0],
   '21': [0],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 916,
  'nick': 'a011226',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [7, 9, 0],
   '18': [0],
   '19': [0, 3],
   '20': [1],
   '21': [1],
   '22': [1],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 928,
  'nick': 'dprthdmlzkdl',
  'answers': {'13': [0], 'finished': False}},
 {'id': 934,
  'nick': 'junho7869',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [1, 9],
   '18': [0],
   '19': [4, 0],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [1],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 882,
  'nick': 'pmy0301',
  'answers': {'11': [0],
   '12': [1],
   '13': [1],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [10],
   '18': [1],
   '19': [5],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 863,
  'nick': 'wnstjs1225',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [1, 3, 11],
   '18': [0],
   '19': [0, 1, 3, 4],
   '20': [1],
   '21': [1],
   '22': [3, 4],
   '23': [1],
   '24': [0, 1],
   '25': [1],
   'finished': True}},
 {'id': 820,
  'nick': 'noahpark202',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [0],
   '17': [1],
   '18': [1],
   '19': [0, 5],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 861,
  'nick': 'tjsdnrmary',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5],
   '18': [0],
   '19': [0],
   '20': [0],
   'finished': False}},
 {'id': 939,
  'nick': 'wodnjs1229',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [5, 10],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 814,
  'nick': 'heetae002',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': [0],
   '16': [0],
   '17': [5, 0],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [0],
   '22': [0, 4],
   '23': [0],
   '24': [1],
   '25': [1],
   'finished': True}},
 {'id': 912,
  'nick': 'rudwls7548',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [0],
   '16': [1],
   '17': [5],
   '18': [0],
   '19': [0, 3, 4],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [1],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 831,
  'nick': 'pumkin_pie78',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [1],
   '17': [5],
   '18': [0],
   '19': [0, 3],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 846,
  'nick': '1007wn',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [0, 5],
   '18': [1],
   '19': [3, 0],
   '20': [0],
   '21': [1],
   '22': [1],
   '23': [0],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 856,
  'nick': 'meunk1220',
  'answers': {'11': [0],
   '12': [1],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [10, 11, 9, 6, 7, 8, 5, 0, 1, 2],
   '18': [1],
   '19': [1],
   '20': [0],
   '21': [1],
   '22': [1],
   '23': [0],
   'finished': False}},
 {'id': 903,
  'nick': 'mandarin_8',
  'answers': {'11': [1],
   '12': [1],
   '13': [1],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [5, 7, 9, 3, 10],
   '18': [1],
   '19': [0, 1],
   '20': [1],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 643,
  'nick': 'giseok1929',
  'answers': {'11': [0],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': ['쇼ㅏ핑'],
   '16': [1],
   '17': [4],
   '18': [1],
   '19': [1],
   '20': [0],
   '21': [1],
   '22': [3],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 638,
  'nick': 'quantlab',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [0],
   '15': ['모라카지'],
   '16': [1],
   '17': [5],
   '18': [1],
   '19': [0, 5, 3],
   '20': [0],
   '21': [0],
   '22': [1, 4],
   '23': [1],
   '24': [1],
   '25': [0],
   'finished': True}},
 {'id': 958,
  'nick': 'dnrhdwn8769',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [1, 5, 10, 6, 7, 8, 9, 11, 3, 4, 0, 2],
   '18': [1],
   '19': [0],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [1],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 935,
  'nick': 'ckjk7179',
  'answers': {'11': [1], '12': [1], '13': [0], 'finished': False}},
 {'id': 983,
  'nick': 'rinahuh',
  'answers': {'11': [1],
   '12': [0],
   '13': [1],
   '14': [1],
   '15': [0],
   '16': [0],
   '17': [4, 11],
   '18': [1],
   '19': [0, 3],
   '20': [0],
   '21': [1],
   '22': [4],
   '23': [1],
   '24': [1],
   '25': [0],
   'finished': True}},
 {'id': 198,
  'nick': '슈프림걸',
  'answers': {'11': [0],
   '12': [0],
   '13': [0],
   '14': [1],
   '15': [1],
   '16': [0],
   '17': [0],
   '18': [0],
   '19': [0],
   '20': [0],
   '21': [0],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 1001,
  'nick': 'jsk2878',
  'answers': {'11': [0],
   '12': [1],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [10],
   '18': [0],
   '19': [1],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [1],
   '24': [0],
   '25': [0],
   'finished': True}},
 {'id': 696,
  'nick': 'jhepark',
  'answers': {'11': [1],
   '12': [1],
   '13': [0],
   '14': [1],
   '15': [1],
   '16': [1],
   '17': [0],
   '18': [1],
   '19': [0],
   '20': [1],
   '21': [0],
   '22': [3],
   '23': [1],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 944,
  'nick': 'chltnqls211',
  'answers': {'11': [1],
   '12': [0],
   '13': [0],
   '14': [0],
   '15': [1],
   '16': [1],
   '17': [10],
   '18': [0],
   '19': [5],
   '20': [0],
   '21': [1],
   '22': [0],
   '23': [0],
   '24': [0],
   '25': [1],
   'finished': True}},
 {'id': 1003,
  'nick': 'robonets',

In [48]:
df = pd.DataFrame(answers_4); df

       id        nick                                            answers
0     105   leesuyong  {'11': [0], '12': [0], '13': [1], '14': [0], '...
1     697   rainycoke  {'11': [1], '12': [0], '13': [1], '14': [0], '...
2     765  parkhd0125  {'11': [1], '12': [0], '13': [1], '14': [0], '...
3     902      013600  {'11': [1], '12': [0], '13': [0], '14': [1], '...
4     615       hoo_u  {'11': [1], '12': [0], '13': [1], '14': [1], '...
..    ...         ...                                                ...
115   989    theloki7  {'11': [0], '12': [1], '13': [1], '14': [0], '...
116  1019     dosungv  {'11': [0], '12': [0], '13': [0], '14': [0], '...
117   956     hey2208  {'11': [0], '12': [0], '13': [1], '14': [0], '...
118   832   skyehdgnl  {'11': [1], '12': [1], '13': [1], '14': [1], '...
119   807    jsoo6218  {'11': [1], '12': [0], '13': [1], '14': [0], '...

[120 rows x 3 columns]

In [54]:
def conv(x):
    try:
        if type(x)==bool:
            return x
        
        str_x = [str(n) for n in x]
        return ', '.join(str_x)
    
    except:
        return ''
    
df2 = pd.DataFrame(list(df['answers'].values)).applymap(conv); df2

,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,finished
0,0,0,1,0,1,0,"5, 7, 0, 9",1,"0, 1, 3, 2",0,1,0,0,0,1,True
1,1,0,1,0,1,0,,,,,,,,,,False
2,1,0,1,0,0,0,"0, 5",1,"0, 2",0,1,"0, 3",0,"1, 0",1,True
3,1,0,0,1,0,1,"10, 2, 5",0,"2, 1",1,,,,,,False
4,1,0,1,1,0,1,0,0,0,0,1,5,0,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0,1,1,0,1,1,1,0,0,0,1,0,1,0,0,True
116,0,0,0,0,1,1,"0, 1, 2, 9, 5",,,,,,,,,False
117,0,0,1,0,1,1,4,0,1,1,0,4,1,1,0,True
118,1,1,1,1,1,1,"1, 0, 3, 2, 5, 8, 11, 9, 6, 4, 10",0,"2, 0, 5, 3",1,1,"1, 3, 0, 4, 5, 2",0,"0, 1",1,True
119,1,0,1,0,0,1,10,0,5,1,1,0,1,0,1,True

In [58]:
df3 = pd.concat([df, df2], axis=1).drop(['answers'], axis=1); df3

,id,nick,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,finished
0,105,leesuyong,0,0,1,0,1,0,"5, 7, 0, 9",1,"0, 1, 3, 2",0,1,0,0,0,1,True
1,697,rainycoke,1,0,1,0,1,0,,,,,,,,,,False
2,765,parkhd0125,1,0,1,0,0,0,"0, 5",1,"0, 2",0,1,"0, 3",0,"1, 0",1,True
3,902,013600,1,0,0,1,0,1,"10, 2, 5",0,"2, 1",1,,,,,,False
4,615,hoo_u,1,0,1,1,0,1,0,0,0,0,1,5,0,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,989,theloki7,0,1,1,0,1,1,1,0,0,0,1,0,1,0,0,True
116,1019,dosungv,0,0,0,0,1,1,"0, 1, 2, 9, 5",,,,,,,,,False
117,956,hey2208,0,0,1,0,1,1,4,0,1,1,0,4,1,1,0,True
118,832,skyehdgnl,1,1,1,1,1,1,"1, 0, 3, 2, 5, 8, 11, 9, 6, 4, 10",0,"2, 0, 5, 3",1,1,"1, 3, 0, 4, 5, 2",0,"0, 1",1,True
119,807,jsoo6218,1,0,1,0,0,1,10,0,5,1,1,0,1,0,1,True

In [102]:
df3.to_excel('badboy_result.xlsx')

In [103]:
df4 = pd.DataFrame(m.ResearchItem.objects.filter(pk__in=range(11,26)).values('id','type','text')); df4

    id type                                               text
0   11   OX  이건 마스터마인드 브랜드의 로고다!! - O\r\n아니다!! 다른 브랜드의 로고다!...
1   15   OX                     나는 한달에 패션 쇼핑을 30만원 이상 하는 편이다!!
2   12   AB                               다음 로고와 관련이 깊은 브랜드는??
3   18   AB                                   배드보이 로고는 이게 낫지!!
4   13   AB                                이번 주말에 어디서 데이트 할까??
5   16   OX                                  브랜드 배드보이를 알고 있다!!
6   14   AB                               둘 중 내가 더 좋아하는 스타일은??
7   20   AB                               배드보이와 느낌이 비슷한 브랜드는??
8   21   OX                                  이 로고, 호감 vs 비호감??
9   24   MC                                    이 제품은 얼마가 적당할까?
10  25   OX                         솔직히, 이 제품 살 의사가 있다 vs 없다??
11  23   AB                 배드보이와 느낌이 비슷한 브랜드는?? (아까랑 후보가 달라요)
12  22   MC                              배드보이와 가장 잘 어울리는 모델은??
13  19   MC               배드보이와 어울린다고 생각하는 것은??\r\n(모두 골라 주세요)
14  17   MC               브랜드 배드보이 하면 연상되는 단어는?\r\n(모두 골라 주세요)

In [104]:
df4.to_excel('badboy_researchitems.xlsx')

# 포인트 현황

In [111]:
memb_list = ['quantlab@kakao.com',
'gem763@gmail.com',
'sejin76@nate.com',
'magrittelim@gmail.com',
'magrittelim@naver.com',
'smilekhm@gmail.com',
'hmkoo@kakao.com',
'giseok1929@daum.net',
'gentlebaek89@gmail.com',
'leesuyong@hotmail.com']

In [125]:
wallet_stat = []
for w in tqdm(m.Wallet.objects.all()[:]):
    if w.whose_type == 'boo':
        wallet_stat.append({
            'whose': str(w.whose), 
            'n_transaction': w.n_transaction, 
            'inflow': w.inflow, 
            'outflow': w.outflow, 
            'amount': w.amount
        })

  0%|          | 0/459 [00:00<?, ?it/s]

In [126]:
wallet_stat

[{'whose': 'quantlab | quantlab@kakao.com',
  'n_transaction': 917,
  'inflow': 54107,
  'outflow': 10785,
  'amount': 43322},
 {'whose': '모이버 | moiber@moiber.com',
  'n_transaction': 66021,
  'inflow': 1,
  'outflow': 600601,
  'amount': -600600},
 {'whose': '홈마 | quantlab@kakao.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Seoul_domestic_m | magrittelim@gmail.com',
  'n_transaction': 1719,
  'inflow': 105128,
  'outflow': 23710,
  'amount': 81418},
 {'whose': 'minimal_ootd | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'giseok1929 | giseok1929@daum.net',
  'n_transaction': 387,
  'inflow': 53682,
  'outflow': 2060,
  'amount': 51622},
 {'whose': 'gentlebaek89 | gentlebaek89@gmail.com',
  'n_transaction': 1595,
  'inflow': 54829,
  'outflow': 0,
  'amount': 54829},
 {'whose': 'smilekhm | smilekhm@gmail.com',
  'n_transaction': 235,
  'inflow': 52366,
  'outflow': 5165,
  'amount': 47201},
 {'whose': 'Seoul_domestic_b | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'SEOUL_domestic_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'hrjjeon | hrjjeon@gmail.com',
  'n_transaction': 8,
  'inflow': 8,
  'outflow': 0,
  'amount': 8},
 {'whose': 'J.K. Maisine | bluenzin@gmail.com',
  'n_transaction': 166,
  'inflow': 2120,
  'outflow': 0,
  'amount': 2120},
 {'whose': 'temp | temp@daum.net',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'hoo_u | xogh8939@kakao.com',
  'n_transaction': 45,
  'inflow': 1018,
  'outflow': 576,
  'amount': 442},
 {'whose': 'eatself | eatself@naver.com',
  'n_transaction': 70,
  'inflow': 878,
  'outflow': 100,
  'amount': 778},
 {'whose': 'xogh8939 | xogh8939@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'jhepark | jhepark@npinvestment.co.kr',
  'n_transaction': 36,
  'inflow': 1656,
  'outflow': 711,
  'amount': 945},
 {'whose': '모이버 | contact@moiber.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'street_snap_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Street_hound | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': '슈프림걸 | angelica.yum@gmail.com',
  'n_transaction': 775,
  'inflow': 2949,
  'outflow': 333,
  'amount': 2616},
 {'whose': 'leesuyong | leesuyong@hotmail.com',
  'n_transaction': 540,
  'inflow': 52826,
  'outflow': 12485,
  'amount': 40341},
 {'whose': '부캐 없~~다 | gap1212@naver.com',
  'n_transaction': 392,
  'inflow': 3078,
  'outflow': 411,
  'amount': 2667},
 {'whose': 'ssbae | ssbae@kakao.com',
  'n_transaction': 100,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': '30632phb | 30632phb@naver.com',
  'n_transaction': 13,
  'inflow': 350,
  'outflow': 0,
  'amount': 350},
 {'whose': 'Seoul_domestic_h | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rainycoke | rainycoke@kakao.com',
  'n_transaction': 2,
  'inflow': 330,
  'outflow': 0,
  'amount': 330},
 {'whose': 'BRAND | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rullu_go | rullu_go@naver.com',
  'n_transaction': 1,
  'inflow': 30,
  'outflow': 0,
  'amount': 30},
 {'whose': 'spacewz83 | spacewz83@naver.com',
  'n_transaction': 106,
  'inflow': 440,
  'outflow': 209,
  'amount': 231},
 {'whose': 'ssopie1 | ssopie1@naver.com',
  'n_transaction': 8,
  'inflow': 223,
  'outflow': 0,
  'amount': 223},
 {'whose': '존잘 | hrjeon@hanmail.net',
  'n_transaction': 17,
  'inflow': 1692,
  'outflow': 100,
  'amount': 1592},
 {'whose': 'hmkoo | hmkoo@kakao.com',
  'n_transaction': 126,
  'inflow': 475,
  'outflow': 411,
  'amount': 64},
 {'whose': 'Celeb_snaps_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'park_dongho02 | park_dongho02@eland.co.kr',
  'n_transaction': 25,
  'inflow': 661,
  'outflow': 0,
  'amount': 661},
 {'whose': '초보에용 | magrittelim@naver.com',
  'n_transaction': 9,
  'inflow': 18,
  'outflow': 0,
  'amount': 18},
 {'whose': 'jay_0117tak | jay_0117tak@yahoo.co.kr',
  'n_transaction': 105,
  'inflow': 750,
  'outflow': 0,
  'amount': 750},
 {'whose': 'yangjee1207 | yangjee1207@hanmail.net',
  'n_transaction': 100,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'young_ee81 | young_ee81@hotmail.com',
  'n_transaction': 3,
  'inflow': 340,
  'outflow': 0,
  'amount': 340},
 {'whose': 'soulman80 | soulman80@naver.com',
  'n_transaction': 24,
  'inflow': 727,
  'outflow': 0,
  'amount': 727},
 {'whose': 'pbc97020 | pbc97020@naver.com',
  'n_transaction': 5,
  'inflow': 5,
  'outflow': 0,
  'amount': 5},
 {'whose': 'dreamistar7 | dreamistar7@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'liokjkr | liokjkr@nate.com',
  'n_transaction': 92,
  'inflow': 2110,
  'outflow': 272,
  'amount': 1838},
 {'whose': 'thfk3333 | thfk3333@gmail.com',
  'n_transaction': 122,
  'inflow': 1130,
  'outflow': 600,
  'amount': 530},
 {'whose': 'yupbi2 | yupbi2@naver.com',
  'n_transaction': 1,
  'inflow': 300,
  'outflow': 0,
  'amount': 300},
 {'whose': 'slue696 | slue696@naver.com',
  'n_transaction': 115,
  'inflow': 500,
  'outflow': 0,
  'amount': 500},
 {'whose': 'sye.roh | sye.roh@gmail.com',
  'n_transaction': 10,
  'inflow': 733,
  'outflow': 111,
  'amount': 622},
 {'whose': 'lolol.kalee | lolol.kalee@gmail.com',
  'n_transaction': 48,
  'inflow': 385,
  'outflow': 0,
  'amount': 385},
 {'whose': 'youngsunlee | youngsunlee@kakao.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'ssopie | ssopie@gmail.com',
  'n_transaction': 142,
  'inflow': 1608,
  'outflow': 986,
  'amount': 622},
 {'whose': 'cuorange | cuorange@ithcity.com',
  'n_transaction': 39,
  'inflow': 437,
  'outflow': 0,
  'amount': 437},
 {'whose': 'goosriya | goosriya@gmail.com',
  'n_transaction': 37,
  'inflow': 104,
  'outflow': 0,
  'amount': 104},
 {'whose': 'holykorea | holykorea@paran.com',
  'n_transaction': 103,
  'inflow': 420,
  'outflow': 0,
  'amount': 420},
 {'whose': 'selectshop_md | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'seyoungne | seyoungne@naver.com',
  'n_transaction': 31,
  'inflow': 377,
  'outflow': 0,
  'amount': 377},
 {'whose': 'patima506 | patima506@hotmail.com',
  'n_transaction': 230,
  'inflow': 691,
  'outflow': 0,
  'amount': 691},
 {'whose': 'soyeonc1126 | soyeonc1126@gmail.com',
  'n_transaction': 683,
  'inflow': 3055,
  'outflow': 422,
  'amount': 2633},
 {'whose': 'sw4588 | sw4588@naver.com',
  'n_transaction': 5539,
  'inflow': 6861,
  'outflow': 4100,
  'amount': 2761},
 {'whose': 'hongik07 | hongik07@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'wonjun_k | wonjun_k@hotmail.com',
  'n_transaction': 35,
  'inflow': 633,
  'outflow': 0,
  'amount': 633},
 {'whose': 'eunykg | eunykg@nate.com',
  'n_transaction': 19,
  'inflow': 733,
  'outflow': 0,
  'amount': 733},
 {'whose': 'dkim43 | dkim43@pratt.edu',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'Trend_cardet_h | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'jupark0313 | jupark0313@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'Seoul_celebrity_s | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'daeik | daeik@naver.com',
  'n_transaction': 6,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'jueun0618 | jueun0618@gmail.com',
  'n_transaction': 22,
  'inflow': 223,
  'outflow': 66,
  'amount': 157},
 {'whose': 'se05021 | se05021@naver.com',
  'n_transaction': 47,
  'inflow': 1128,
  'outflow': 99,
  'amount': 1029},
 {'whose': 'isjm0828 | isjm0828@hanmail.net',
  'n_transaction': 36,
  'inflow': 827,
  'outflow': 0,
  'amount': 827},
 {'whose': 'dudud1206 | dudud1206@naver.com',
  'n_transaction': 98,
  'inflow': 505,
  'outflow': 0,
  'amount': 505},
 {'whose': 'easyname49 | easyname49@naver.com',
  'n_transaction': 27,
  'inflow': 362,
  'outflow': 0,
  'amount': 362},
 {'whose': 'omupingu | omupingu@naver.com',
  'n_transaction': 20,
  'inflow': 328,
  'outflow': 0,
  'amount': 328},
 {'whose': '212me2u2 | 212me2u2@hanmail.net',
  'n_transaction': 3,
  'inflow': 430,
  'outflow': 0,
  'amount': 430},
 {'whose': 'st37372 | st37372@daum.net',
  'n_transaction': 3,
  'inflow': 12,
  'outflow': 0,
  'amount': 12},
 {'whose': '9410252 | 9410252@naver.com',
  'n_transaction': 16,
  'inflow': 170,
  'outflow': 0,
  'amount': 170},
 {'whose': 'luv4sky | luv4sky@naver.com',
  'n_transaction': 225,
  'inflow': 2282,
  'outflow': 0,
  'amount': 2282},
 {'whose': 'mini_daily | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'people0917 | people0917@naver.com',
  'n_transaction': 25,
  'inflow': 1660,
  'outflow': 0,
  'amount': 1660},
 {'whose': 'shp7408 | shp7408@naver.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'wkdsks9999 | wkdsks9999@naver.com',
  'n_transaction': 102,
  'inflow': 430,
  'outflow': 0,
  'amount': 430},
 {'whose': '까불덜마 | gem763@gmail.com',
  'n_transaction': 13,
  'inflow': 330,
  'outflow': 0,
  'amount': 330},
 {'whose': 'msmania4 | msmania4@naver.com',
  'n_transaction': 14,
  'inflow': 287,
  'outflow': 0,
  'amount': 287},
 {'whose': 'fredasd0120 | fredasd0120@gmail.com',
  'n_transaction': 43,
  'inflow': 511,
  'outflow': 387,
  'amount': 124},
 {'whose': 'mgmj4456 | mgmj4456@naver.com',
  'n_transaction': 23,
  'inflow': 472,
  'outflow': 365,
  'amount': 107},
 {'whose': 'leeck722 | leeck722@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'ruintears | ruintears@gmail.com',
  'n_transaction': 9,
  'inflow': 710,
  'outflow': 0,
  'amount': 710},
 {'whose': 'jylee118218 | jylee118218@naver.com',
  'n_transaction': 362,
  'inflow': 1249,
  'outflow': 464,
  'amount': 785},
 {'whose': 'ska9460 | ska9460@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'sohee991110 | sohee991110@gmail.com',
  'n_transaction': 107,
  'inflow': 1100,
  'outflow': 0,
  'amount': 1100},
 {'whose': 'hyunjinam1105 | hyunjinam1105@hotmail.com',
  'n_transaction': 34,
  'inflow': 68,
  'outflow': 0,
  'amount': 68},
 {'whose': 'aqkrcndtls | aqkrcndtls@naver.com',
  'n_transaction': 8,
  'inflow': 740,
  'outflow': 0,
  'amount': 740},
 {'whose': 'tmyum | tmyum@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'kkorujang | kkorujang@naver.com',
  'n_transaction': 227,
  'inflow': 1060,
  'outflow': 177,
  'amount': 883},
 {'whose': 'dhdbwls3360 | dhdbwls3360@naver.com',
  'n_transaction': 4,
  'inflow': 370,
  'outflow': 0,
  'amount': 370},
 {'whose': 'parkhd0125 | parkhd0125@naver.com',
  'n_transaction': 128,
  'inflow': 1737,
  'outflow': 333,
  'amount': 1404},
 {'whose': 'kghtu | kghtu@naver.com',
  'n_transaction': 128,
  'inflow': 615,
  'outflow': 0,
  'amount': 615},
 {'whose': 'ehdwp7915 | ehdwp7915@gmail.com',
  'n_transaction': 5,
  'inflow': 940,
  'outflow': 0,
  'amount': 940},
 {'whose': 'runseoul | runseoul@gmail.com',
  'n_transaction': 103,
  'inflow': 170,
  'outflow': 0,
  'amount': 170},
 {'whose': 'dbgudfuf | dbgudfuf@naver.com',
  'n_transaction': 44,
  'inflow': 39,
  'outflow': 0,
  'amount': 39},
 {'whose': '365ha | 365ha@jr.naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'yellowin | yellowin@skmns.co.kr',
  'n_transaction': 1,
  'inflow': 1,
  'outflow': 0,
  'amount': 1},
 {'whose': 'wonoh423 | wonoh423@gmail.com',
  'n_transaction': 23,
  'inflow': 32,
  'outflow': 0,
  'amount': 32},
 {'whose': 'yellowin20212021 | yellowin20212021@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'tristan0229 | tristan0229@hanmail.net',
  'n_transaction': 138,
  'inflow': 125,
  'outflow': 0,
  'amount': 125},
 {'whose': 'sua77331 | sua77331@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'max-kim | max-kim@hanmail.net',
  'n_transaction': 4,
  'inflow': 340,
  'outflow': 100,
  'amount': 240},
 {'whose': '1일1꽝 | sejin76@nate.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'ARIES_fan | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'yoppei1001 | yoppei1001@gmail.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'jhsong6468 | jhsong6468@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'aksen2828 | aksen2828@naver.com',
  'n_transaction': 17,
  'inflow': 26,
  'outflow': 0,
  'amount': 26},
 {'whose': 'wldhs99 | wldhs99@hotmail.com',
  'n_transaction': 51,
  'inflow': 388,
  'outflow': 0,
  'amount': 388},
 {'whose': '7999j | 7999j@hanmail.net',
  'n_transaction': 53,
  'inflow': 118,
  'outflow': 0,
  'amount': 118},
 {'whose': 'ijinthehouse | ijinthehouse@hotmail.com',
  'n_transaction': 2,
  'inflow': 130,
  'outflow': 0,
  'amount': 130},
 {'whose': 'jisuzzang401 | jisuzzang401@hanmail.net',
  'n_transaction': 106,
  'inflow': 250,
  'outflow': 0,
  'amount': 250},
 {'whose': '1stfeel | 1stfeel@hanmail.net',
  'n_transaction': 4,
  'inflow': 370,
  'outflow': 0,
  'amount': 370},
 {'whose': 'cks4789 | cks4789@jr.naver.com',
  'n_transaction': 21,
  'inflow': 120,
  'outflow': 0,
  'amount': 120},
 {'whose': 'zoon98 | zoon98@hanmail.net',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'kimseil312 | kimseil312@naver.com',
  'n_transaction': 5,
  'inflow': 110,
  'outflow': 0,
  'amount': 110},
 {'whose': 'via_ek | via_ek@naver.com',
  'n_transaction': 214,
  'inflow': 2080,
  'outflow': 0,
  'amount': 2080},
 {'whose': 'llltwtlll | llltwtlll@nate.com',
  'n_transaction': 74,
  'inflow': 90,
  'outflow': 0,
  'amount': 90},
 {'whose': 'jungsi0923 | jungsi0923@naver.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'lily15987 | lily15987@nate.com',
  'n_transaction': 23,
  'inflow': 32,
  'outflow': 0,
  'amount': 32},
 {'whose': 'fairydentist | fairydentist@gmail.com',
  'n_transaction': 12,
  'inflow': 12,
  'outflow': 0,
  'amount': 12},
 {'whose': 'space-wz | space-wz@nate.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'holko | holko@naver.com',
  'n_transaction': 18,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'fho2014 | fho2014@hanmail.net',
  'n_transaction': 117,
  'inflow': 200,
  'outflow': 0,
  'amount': 200},
 {'whose': 'shiz85 | shiz85@kakao.com',
  'n_transaction': 15,
  'inflow': 62,
  'outflow': 0,
  'amount': 62},
 {'whose': 'labong86 | labong86@kakao.com',
  'n_transaction': 4,
  'inflow': 80,
  'outflow': 0,
  'amount': 80},
 {'whose': 'julie289 | julie289@naver.com',
  'n_transaction': 14,
  'inflow': 171,
  'outflow': 0,
  'amount': 171},
 {'whose': 'hipster | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'rnstjr79 | rnstjr79@hanmail.net',
  'n_transaction': 542,
  'inflow': 2430,
  'outflow': 1930,
  'amount': 500},
 {'whose': 'hippyst_ | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'kelifrona | kelifrona@naver.com',
  'n_transaction': 935,
  'inflow': 2820,
  'outflow': 0,
  'amount': 2820},
 {'whose': 'kingda0524 | kingda0524@gmail.com',
  'n_transaction': 120,
  'inflow': 2070,
  'outflow': 0,
  'amount': 2070},
 {'whose': 'kojedong287 | kojedong287@naver.com',
  'n_transaction': 4080,
  'inflow': 6440,
  'outflow': 4100,
  'amount': 2340},
 {'whose': 'qkrwogus5619 | qkrwogus5619@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'shlily414 | shlily414@naver.com',
  'n_transaction': 3,
  'inflow': 70,
  'outflow': 0,
  'amount': 70},
 {'whose': 'PORTER_fan | magrittelim@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'dbsrhs8524 | dbsrhs8524@hanmail.net',
  'n_transaction': 20,
  'inflow': 1420,
  'outflow': 0,
  'amount': 1420},
 {'whose': 'rlfdud6212 | rlfdud6212@naver.com',
  'n_transaction': 105,
  'inflow': 240,
  'outflow': 143,
  'amount': 97},
 {'whose': 'sunwoo1325 | sunwoo1325@nate.com',
  'n_transaction': 10,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'gasbagas | gasbagas@naver.com',
  'n_transaction': 9,
  'inflow': 146,
  'outflow': 0,
  'amount': 146},
 {'whose': 'zawon22 | zawon22@naver.com',
  'n_transaction': 3653,
  'inflow': 5559,
  'outflow': 0,
  'amount': 5559},
 {'whose': 'uksaar | uksaar@naver.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'goai222 | goai222@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'jsoo6218 | jsoo6218@naver.com',
  'n_transaction': 196,
  'inflow': 2326,
  'outflow': 222,
  'amount': 2104},
 {'whose': 'gunhi0219 | gunhi0219@naver.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'gksekgml7057 | gksekgml7057@naver.com',
  'n_transaction': 41,
  'inflow': 50,
  'outflow': 0,
  'amount': 50},
 {'whose': 'joj2121 | joj2121@naver.com',
  'n_transaction': 24,
  'inflow': 33,
  'outflow': 0,
  'amount': 33},
 {'whose': 'lwsh12 | lwsh12@nate.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'hojun7230 | hojun7230@gmail.com',
  'n_transaction': 94,
  'inflow': 165,
  'outflow': 111,
  'amount': 54},
 {'whose': 'michelle4202 | michelle4202@naver.com',
  'n_transaction': 18,
  'inflow': 750,
  'outflow': 0,
  'amount': 750},
 {'whose': 'heetae002 | heetae002@naver.com',
  'n_transaction': 285,
  'inflow': 1965,
  'outflow': 1905,
  'amount': 60},
 {'whose': 'dmsdks6342 | dmsdks6342@naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'cofla413 | cofla413@gmail.com',
  'n_transaction': 1,
  'inflow': 10,
  'outflow': 0,
  'amount': 10},
 {'whose': 'lws4633 | lws4633@naver.com',
  'n_transaction': 11,
  'inflow': 424,
  'outflow': 0,
  'amount': 424},
 {'whose': 'dojun1118 | dojun1118@naver.com',
  'n_transaction': 5,
  'inflow': 340,
  'outflow': 0,
  'amount': 340},
 {'whose': 'gensay2u | gensay2u@nate.com',
  'n_transaction': 25,
  'inflow': 21,
  'outflow': 0,
  'amount': 21},
 {'whose': 'noahpark202 | noahpark202@gmail.com',
  'n_transaction': 281,
  'inflow': 1366,
  'outflow': 1241,
  'amount': 125},
 {'whose': 'ksw4856 | ksw4856@gmail.com',
  'n_transaction': 0,
  'inflow': 0,
  'outflow': 0,
  'amount': 0},
 {'whose': 'iceberg9594 | iceberg9594@naver.com',
  'n_transaction': 5,
  'inflow': 380,
  'outflow': 0,
  'amount': 380},
 {'whose': 'gktmdvy12 | gktmdvy12@nate.com',
  'n_transaction': 2,
  'inflow': 40,
  'outflow': 0,
  'amount': 40},
 {'whose': 'mq_j | mq_j@naver.com',
  'n_transaction': 3,
  'inflow': 90,
  'outflow': 0,
  'amount': 90},
 {'whose': 'mk30033 | mk30033@naver.com',
  'n_transaction': 7,
  'inflow': 730,
  'outflow': 0,
  'amount': 730},
 {'whose': 'rlaalsdk375 | rlaalsdk375@gmail.com',
  'n_transaction': 18,
  'inflow': 27,
  'outflow': 0,
  'amount': 27},
 {'whose': 'jinhyunh97 | jinhyunh97@naver.com',
  'n_transaction': 1,
  'inflow': 100,
  'outflow': 0,
  'amount': 100},
 {'whose': 'ehenrrks0921 | ehenrrks0921@naver.com',
  'n_transaction': 1,

In [127]:
df = pd.DataFrame(wallet_stat).sort_values(by=['amount'], ascending=False); df

,whose,n_transaction,inflow,outflow,amount
3,Seoul_domestic_m | magrittelim@gmail.com,1719,105128,23710,81418
6,gentlebaek89 | gentlebaek89@gmail.com,1595,54829,0,54829
5,giseok1929 | giseok1929@daum.net,387,53682,2060,51622
7,smilekhm | smilekhm@gmail.com,235,52366,5165,47201
0,quantlab | quantlab@kakao.com,917,54107,10785,43322
...,...,...,...,...,...
25,Seoul_domestic_h | magrittelim@gmail.com,0,0,0,0
62,Trend_cardet_h | magrittelim@gmail.com,0,0,0,0
19,Street_hound | magrittelim@gmail.com,0,0,0,0
102,yellowin20212021 | yellowin20212021@gmail.com,0,0,0,0
1,모이버 | moiber@moiber.com,66021,1,600601,-600600

In [131]:
df.iloc[6:].to_excel('test.xlsx')#.iloc[:10]

# 래플참여 현황

In [109]:
raffle_result = trans.filter(type=101).values('sender__boo__user__email', 'receiver__raffle__item__name', 'amount')

In [122]:
df = pd.DataFrame(raffle_result)
df.columns = ['유저','래플','참여']
df = df[~df['유저'].isin(memb_list)]

In [123]:
df.groupby(by=['래플','유저']).count()

                                            참여
래플                   유저
KINTO TUMBLER 350ML  dydwk231@naver.com      1
                     fredasd0120@gmail.com   1
                     heetae002@naver.com     7
                     jueun0618@gmail.com     1
                     jylee118218@naver.com   1
...                                         ..
오징어게임 프론트맨 가면        london1920h@naver.com   1
                     ssopie@gmail.com        1
                     thfk3333@gmail.com      2
존버 대용량 철인3종 수영가방 메시백 kimjjmm@hanmail.net     1
                     liokjkr@nate.com        1

[117 rows x 1 columns]

In [114]:
df.groupby(by=['래플','유저']).count().to_excel('raffle_stat_20211025.xlsx')

In [124]:
df.groupby(by=['래플','유저']).count().loc['오징어게임 프론트맨 가면'].sum()

참여    11
dtype: int64